/** -------------------------------------------
    Card Wrapper
    ------------------------------------------- **/

    #card-wrapper {
        position: absolute;
        padding: 0;
	    width: 200px;
		z-index: 999;
        //transform: scale(0);

        &:hover, &.buy-prompt {
            .pre-sale { display: block; z-index : 2; }
        }

        &.is-mine {
            .pre-sale { display: none !important; }
        }
        &.is-sold & {
            .pre-sale {  display: none !important; }
        }

        .card-table-head {
            position: relative;
            float: left;
            width: 100%;
            color : $color-white;
            font-size: 11px;

            .card-no {
                float:left;
                margin-left: 5px;
                padding: 5px 15px 1px 10px;
                background-color: $card-color-red-dark;
                border-radius: $base-border-radius $base-border-radius 0 0;
            }
            .card-price {
                float: left;
                padding: 2px 8px 0 8px;
                background-color: $card-color-red-dark-light;
                border-radius: 0 $base-border-radius 0 0;
                margin-top: 4px;
            }

        }
        .card-table {
            position: relative;
            float: left;
            z-index: 1;
            width: 100%;
            text-align: center;
            border-spacing: 3px;
            border-collapse: separate;
            border-radius: $base-border-radius;
            //box-shadow: 2px 2px 5px 0 rgba(31, 60, 24, 1);

            td {
                padding: 2px 0 2px 0;
                width: 19px;
                min-width: 19px;
                color : $color-black;
                background-color: $color-white;
                font-size: 12px;
                text-align: center;
                font-weight: 600;
                border-radius: 2px;

                &.selected {
                    animation: none !important;
                    animation-iteration-count: 0;
                }

                &.highlight {
                    background-color: rgba(0,0,0,0.7);
                    color: white;
                    animation: card-number-flash 1s;
                    -webkit-animation-duration: 2s;
                    animation-duration: 2s;
                    -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
                }
            }


        }
        .card-sold {
            //display: none;
            position: absolute;
            top: 22px;
            width: 100%;
            height: 79%;
            z-index: 2;

            > span {
                animation: bounceIn 1s;
                box-shadow: 0 1px 23px 3px rgba(0,0,0,.5);

                position: absolute;
                top: 50%;
                margin-top: -.5em;
                width: 100%;
                text-align: center;
                background: $color-white;
                color: $color-black;

                @include mobile() { font-size: 10px; }
            }

            .sale-cards-container & { display: block; }
            &.sold { display: block; }
        }
        .card-holder {
            position: absolute;
            bottom: -18px;
            left: 0;
            width: 100%;
            padding: 5px 5px 0px 10px;
            background-color: #1f3c18;
            font-size: 10px;
            border-radius: 0 0 5px 5px;

            &.hide-extra {
                display: none;
            }

            .info {
                color : $color-tertiary;
                font-weight: 300;
            }
        }

        &.red {
            .card-no { background-color: $card-color-red; }
            .card-price { background-color: $card-color-red-dark-light; }

            .card-table {
                background-color: $card-color-red;

                td {
                    &.space {
                        background-color: $card-color-red-light;
                    }

                    &.selected {
                        background-color: $card-color-red-dark-light;
                        box-shadow: inset 0 0 0 1px $color-white;
                        color: $color-white;
                    }
                }
            }
        }
        &.green {
            .card-no { background-color: $card-color-green; }
            .card-price { background-color: $card-color-green-dark-light; }

            .card-table {
                background-color: $card-color-green;

                td {
                    &.space {
                        background-color: $card-color-green-light;
                    }

                    &.selected {
                        background-color: $card-color-green-dark-light;
                        box-shadow: inset 0 0 0 1px $color-white;
                        color: $color-white;
                    }
                }
            }
        }
        &.blue {
            .card-no { background-color: $card-color-blue; }
            .card-price { background-color: $card-color-blue-dark-light; }

            .card-table {
                background-color: $card-color-blue;

                td {
                    &.space {
                        background-color: $card-color-blue-light;
                    }

                    &.selected {
                        background-color: $card-color-blue-dark-light;
                        box-shadow: inset 0 0 0 1px $color-white;
                        color: $color-white;
                    }
                }
            }
        }
        &.ocean {
            .card-no { background-color: $card-color-ocean; }
            .card-price { background-color: $card-color-ocean-dark-light; }

            .card-table {
                background-color: $card-color-ocean;

                td {
                    &.space {
                        background-color: $card-color-ocean-light;
                    }

                    &.selected {
                        background-color: $card-color-ocean-dark-light;
                        box-shadow: inset 0 0 0 1px $color-white;
                        color: $color-white;
                    }
                }
            }
        }
        &.yellow {
            .card-no { background-color: $card-color-yellow; }
            .card-price { background-color: $card-color-yellow-dark-light; }

            .card-table {
                background-color: $card-color-yellow;

                td {
                    &.space {
                        background-color: $card-color-yellow-light;
                    }

                    &.selected {
                        background-color: $card-color-yellow-dark-light;
                        box-shadow: inset 0 0 0 1px $color-white;
                        color: $color-white;
                    }
                }
            }
        }
        &.purple {
            .card-no { background-color: $card-color-purple; }
            .card-price { background-color: $card-color-purple-dark-light; }

            .card-table {
                background-color: $card-color-purple;

                td {
                    &.space {
                        background-color: $card-color-purple-light;
                    }

                    &.selected {
                        background-color: $card-color-purple-dark-light;
                        box-shadow: inset 0 0 0 1px $color-white;
                        color: $color-white;
                    }
                }
            }
        }
    }


@-webkit-keyframes card-number-flash {
	from,
	50%,
	to {
		opacity: 1;
	}
	25%,
	75% {
		opacity: 0.6;
	}
}

@keyframes card-number-flash {
	from,
	50%,
	to {
		opacity: 1;
	}
	25%,
	75% {
		opacity: 0.6;
	}
}
