<!DOCTYPE html>
<html lang="en" ng-app="clientweb">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <title>LiveGames!</title>
        <meta name="keywords" content="livegames, livegames.io">
        <meta name="description" content="Provided by LiveGames.io">
		<meta name="apple-mobile-web-app-capable" content="yes">
        <link href="/css/v2/app.css" rel="stylesheet">
    </head>
    <body class="lang-{{ $root.currentLanguage }}">
        <div class="container" id="lgLauncher">
            <section class="lg-v2">
                <live-game
    				id="liveGames"
    				class="lg-directive"
                    tplRoom="/ux-engine/ui-templates/v2/tplRoom.html"
                    tplCard="/ux-engine/ui-templates/v2/tplCard.html"
                    tplChat="/ux-engine/ui-templates/v2/tplChat.html"
                    tplError="/ux-engine/ui-templates/v2/tplError.html"
                    tplExtraAutobuy="/ux-engine/ui-templates/v2/tplExtraAutobuy.html"
                    tplExtraAutoselect="/ux-engine/ui-templates/v2/tplExtraAutoselect.html"
                    tplExtraAutosort="/ux-engine/ui-templates/v2/tplExtraAutosort.html"
                    tplLobby="/ux-engine/ui-templates/v2/tplLobby.html"
                    tplLogin="/ux-engine/ui-templates/v2/tplLogin.html"
                    tplNotifications="/ux-engine/ui-templates/v2/tplNotifications.html"
                    tplSaleCards="/ux-engine/ui-templates/v2/tplSaleCards.html"
                    tplWinnerModal="/ux-engine/ui-templates/v2/tplWinnerModal.html"
                    tplJackpotWinnerModal="/ux-engine/ui-templates/v2/tplJackpotWinnerModal.html"
                    tplWinners="/ux-engine/ui-templates/v2/tplWinners.html"
                    tplPromptModal="/ux-engine/ui-templates/v2/tplPromptModal.html"
                    tplProfileModal="/ux-engine/ui-templates/v2/tplProfileModal.html"
                    tplWinnerModal="/ux-engine/ui-templates/v2/tplWinnerModal.html"
                    tplHelpModal="/ux-engine/ui-templates/v2/tplHelpModal.html"
                    tplBetHistory="/ux-engine/ui-templates/v2/tplBetHistory.html"
                    tplSessionHistory="/ux-engine/ui-templates/v2/tplSessionHistory.html"
                    tplLanguage="/ux-engine/ui-templates/v2/tplLanguage.html"
                    tplSettings="/ux-engine/ui-templates/v2/tplSettings.html"
                    tplFlashActivation="/ux-engine/ui-templates/v2/tplFlashActivation.html"
                    sign="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJjbGllbnRLZXkiOiJMaXZlR2FtZXNfRGVtb0NsaWVudCIsImFwaUtleSI6IjMyN2QwNjA5IiwiZ2FtZSI6InRvbWJhbGEiLCJhdWQiOiJMaXZlR2FtZXMiLCJleHAiOjE1NzE4ODk1MjgsIm5iZiI6MTQ1MTgwMzEyOCwiaWF0IjoxNDcxODAzMTI4LCJqdGkiOiJjNWQyNTc1MC02N2NhLTExZTYtOTQ1Mi1iZmQ0ZTIwMWRkZDIiLCJ1c2VyIjpmYWxzZX0.LUttYfJvacYwvTVDeOenDi3YpQjltBKjARlQB85YwhU"
                    game="tombala"
                    card-template="cards2"
    				frame="liveGamesFrame"
                    version="v2"
    				origin="http://stage.livegames.casino/"
                    locale="//uitest.livegames.io/i18n/v2/"
    				></live-game>
                    <footer class="footer">
                        <div class="certificate-wrapper">
                            <span class="certificate-image" uib-tooltip="{{'views.footer.rng'|translate}}" tooltip-placement="top" tooltip-append-to-body="true"><a href="//www.itechlabs.com.au/certificates/Livetech/RNG_Certificate_Livetech_26082016.pdf" target="_blank"><img ng-src="{{$root.rngImage}}" /></a></span>
                            <div id="apg-seal-container" data-apg-seal-id="b940d866-fe6e-425d-a1da-21977d14ce65" class="apg-seal" data-apg-image-size="128" data-apg-image-type="basic-small"></div>
                        </div>
                    </footer>   
            </section>
        </div>
        <script src="//embedtest.livegames.io/livegames.dev.js"></script>
        <script type="text/javascript" src="https://b940d866-fe6e-425d-a1da-21977d14ce65.snippet.antillephone.com/apg-seal.js"></script>
        <script type="text/javascript">document.addEventListener('DOMContentLoaded', function(){ typeof(APG) !== 'undefined' && APG.init(); }, false);</script>
    </body>
</html>
