/** -------------------------------------------
    Box Content
    ------------------------------------------- **/

.#{$cssversion} {
    .box-content {
        position      : relative;
        float         : left;
        width         : 100%;
        padding       : 15px 20px;
        margin-bottom : 10px;
        border-radius : 10px;
        color         : $color-white;

        .box-title {
            font-weight    : 600;
            text-transform : uppercase;
            line-height    : 40px;
            letter-spacing : -1px;
            padding-right  : 20px;
            margin-bottom: 10px;
            overflow: hidden;
            &.none-margin{
                margin-bottom: 0;
            }
            > .icon { float : left; margin-right : 10px; }
            > .icon-best-cards{
                position: relative;
                top: 7px;
                margin-left: -12px;
                height: 24px;
            }
            > .icon-winners{
                position: relative;
                top: -5px;
                height: 50px;
            }
            > .icon-last-winners{
                position: relative;
                top: 7px;
                margin-left: -12px;
                height: 30px;
            }
            > .icon-winner-users{
                height: 36px;
            }
            > .icon-purchased-cards{
                position: relative;
                top: 5px;
                height: 30px;
            }
        }
        .stats-list {
            li {
                width: 50%;
                margin-bottom : 5px;
                font-weight   : 300;
                font-size     : 13px;
                box-sizing: border-box;
                &:nth-child(2n){
                    padding-left: 20px;
                }
                span {
                    font-weight : 600;
                    &:first-child {
                        float : left;
                    }

                    &:last-child {
                        float       : right;
                        color       : #f0f56e;
                        font-weight : 600;
                    }
                }
            }
        }
        .stats-number {
            li {
                float : left;
                width : auto;

                .numbr {
                    float               : left;
                    position            : relative;
                    width               : 40px;
                    height              : 40px;
                    margin              : 0px 1px;
                    line-height         : 42px;
                    text-align          : center;
                    background-image    : url("../../svg/dashboard-ball.svg");
                    background-size     : contain;
                    background-position : center center;
                    background-repeat   : no-repeat;
                }
            }
        }

        /*&:before, &:after {
            content             : '';
            position            : absolute;
            bottom                 : -23px;
            width               : 32px;
            height              : 36px;
            background-repeat   : no-repeat;
            background-size     : contain;
            background-position : center center;
            z-index: 99;
        }
        &:before {
            @include retina-image('binder');
            left : $base-gutter;
        }
        &:after {
            @include retina-image('binder');
            right : $base-gutter;
        }*/
        
        &.none-binder{
            &:before, &:after {
                display : none;
            }
        }

        &.single-box{
            margin-bottom: 0;
            padding-bottom: 0;
        }

        &.box-dark {
            background-color : #1e2322;
            box-shadow       : 0 4px 0 rgba(35, 31, 32, 0.19), inset 0 -3px 0 rgba(35, 31, 32, 0.26);

            &:before, &:after {
                display : none;
            }

            .stats-img {
                float        : left;
                width        : 20px;
                margin-right : 10px;
            }
            .stats-content {
                float : left;
                width : calc(100% - 30px);

                .stats-title { display : block; }
                .stats-room { float : left; color : $color-fifth; }
                .stats-seans { float : left; color : $color-sixth; }
                .stats-card {
                    float : left; font-size : 12px; color : $color-secondary;
                    sup { font-size : 90%; }
                }
            }
        }
        &.box-green {
            /*background-color : #3b7920;
            box-shadow       : 0 4px 0 rgba(35, 31, 32, 0.19), inset 0 -3px 0 rgba(35, 31, 32, 0.26);*/
        }
        &.box-green-session {
            width: auto;
            padding: 7px 10px;
            background-color : #3b7920;
            color            : $color-white;
            box-shadow       : 0 4px 0 rgba(35, 31, 32, 0.19), inset 0 -3px 0 rgba(35, 31, 32, 0.26);
            position: absolute;
            left: 130px;
            top: 5px;
            font-weight: 600;
            line-height: 18px;
            text-align: center;
            @include tablet-portrait(){
                &:after, &:before{
                    content: none;
                }
            }
            @include mobile(){
                &:after, &:before{
                    content: none;
                }
            }
        }
        &.box-orange {
            background-color : #f6a922;
            color            : $color-white;
            box-shadow       : 0 4px 0 rgba(35, 31, 32, 0.19), inset 0 -3px 0 rgba(35, 31, 32, 0.26);
            font-weight: 600;
            line-height: 18px;
            text-align: center;
            a{
                color: #fff;
                font-weight: 600;
            }
            &.list-type{
                width: auto;
                padding: 7px 10px;
                position: absolute;
                left: 130px;
                top: 5px;
                z-index: 9;
            }
        }
        &.box-blue {
            background-color : $color-sixth;
            color            : $color-white;
            box-shadow       : 0 4px 0 rgba(35, 31, 32, 0.19), inset 0 -3px 0 rgba(35, 31, 32, 0.26);

            &:before, &:after { display : none; }

            em{
                font-weight: 600;
            }
        }
        &.box-blue-session {
            background-color : $color-sixth; 
            color            : $color-white; 
            box-shadow       : 0 4px 0 rgba(35, 31, 32, 0.19), inset 0 -3px 0 rgba(35, 31, 32, 0.26); 
            @include tablet-portrait(){
                &:after, &:before{
                    content: none;
                }
            }
            @include mobile(){
                &:after, &:before{
                    content: none;
                }
            }
        }
		&.box-specialgift {
            background-color : $color-fifth;
            color            : $color-white;
            box-shadow       : 0 4px 0 rgba(35, 31, 32, 0.19), inset 0 -3px 0 rgba(35, 31, 32, 0.26);
			@include retina-image('newyear-ribbon');
		    background-size: 100% 100%;

			.heading {
				text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
				font-size: 20px;
			}
        }
    }

	.device-tablet-land {
		.box-content { font-size: 10px; }
	}

    .info-place{
        position: relative;
        top: 40px;
        .last-winner-list{
            .card-wrapper{
                margin-bottom: 0;
            }
        }
        .card-wrapper{
            margin-bottom: 5px;
        }
        .info-card-list{
            max-height: 320px;
            overflow: hidden;
        }
    }
}
