$color_coin: #fadb8d;
$color_outline: #bb9327;
$time: 2s;
$count: 3;

.#{$cssversion} {
    .coin-container {
        height      : 160px;
        width       : 160px;
        position    : absolute;
        top         : 0px;
        left        : 50%;
        margin-top  : -80px;
        margin-left : -84px;
        transform   : scale(.4);
    }

    .coin {
        height                            : 160px;
        width                             : 160px;
        position                          : absolute;
        -webkit-transform-style           : preserve-3d;
        -webkit-transform-origin          : 50%;
        -webkit-animation                 : spin $time $count;
        -webkit-animation-timing-function : linear;
        transform                         : rotateX(60deg);

        &.coin-head {
            -webkit-animation                 : coinhead $time 1;
            -webkit-animation-timing-function : linear;
            transform                         : rotateX(720deg) scale(1.4) translateY(-30px);
        }

        &.coin-tail {
            -webkit-animation                 : cointail $time 1;
            -webkit-animation-timing-function : linear;
            transform                         : rotateX(890deg) scale(1.4) translateY(20px);
        }

        .front,
        .back {
            position        : absolute;
            height          : 160px;
            width           : 160px;
            border-radius   : 50%;
            background-size : cover;
            border          : 15px solid #f3c133;
        }

        .front {
            -webkit-transform : translateZ(8px);
            background        : $color_coin url(../../images/winner/head.png) no-repeat center center;
        }

        .back {
            -webkit-transform : translateZ(-8px) rotateY(180deg);
            background        : $color_coin url(../../images/winner/tail.png) no-repeat center center;
        }

        .side {
            -webkit-transform           : translateX(72px);
            -webkit-transform-style     : preserve-3d;
            -webkit-backface-visibility : hidden;

            .circle {
                height                      : 160px;
                width                       : 16px;
                position                    : absolute;
                -webkit-transform-style     : preserve-3d;
                -webkit-backface-visibility : hidden;

                &:before,
                &:after {
                    content           : '';
                    display           : block;
                    height            : 15.682742452729697px;
                    width             : 16px;
                    position          : absolute;
                    -webkit-transform : rotateX(84.375deg);
                    background        : $color_outline;
                }

                &:before {
                    -webkit-transform-origin : top center;
                }

                &:after {
                    bottom                   : 0;
                    -webkit-transform-origin : center bottom;
                }

                &:nth-child(16) {
                    -webkit-transform : rotateY(90deg) rotateX(180deg);
                }

                &:nth-child(15) {
                    -webkit-transform : rotateY(90deg) rotateX(168.75deg);
                }

                &:nth-child(14) {
                    -webkit-transform : rotateY(90deg) rotateX(157.5deg);
                }

                &:nth-child(13) {
                    -webkit-transform : rotateY(90deg) rotateX(146.25deg);
                }

                &:nth-child(12) {
                    -webkit-transform : rotateY(90deg) rotateX(135deg);
                }

                &:nth-child(11) {
                    -webkit-transform : rotateY(90deg) rotateX(123.75deg);
                }

                &:nth-child(10) {
                    -webkit-transform : rotateY(90deg) rotateX(112.5deg);
                }

                &:nth-child(9) {
                    -webkit-transform : rotateY(90deg) rotateX(101.25deg);
                }

                &:nth-child(8) {
                    -webkit-transform : rotateY(90deg) rotateX(90deg);
                }

                &:nth-child(7) {
                    -webkit-transform : rotateY(90deg) rotateX(78.75deg);
                }

                &:nth-child(6) {
                    -webkit-transform : rotateY(90deg) rotateX(67.5deg);
                }

                &:nth-child(5) {
                    -webkit-transform : rotateY(90deg) rotateX(56.25deg);
                }

                &:nth-child(4) {
                    -webkit-transform : rotateY(90deg) rotateX(45deg);
                }

                &:nth-child(3) {
                    -webkit-transform : rotateY(90deg) rotateX(33.75deg);
                }

                &:nth-child(2) {
                    -webkit-transform : rotateY(90deg) rotateX(22.5deg);
                }

                &:nth-child(1) {
                    -webkit-transform : rotateY(90deg) rotateX(11.25deg);
                }
            }
        }
    }
}

@-webkit-keyframes coinhead {
    0% {
        transform: rotateX(60deg) scale(1) translateY(0px);
    }
    100% {
        transform: rotateX(720deg) scale(1.4) translateY(-30px);
    }
}
@-webkit-keyframes cointail {
    0% {
        transform: rotateX(60deg) scale(1) translateY(0px);
    }
    100% {
        transform: rotateX(890deg) scale(1.4) translateY(20px);
    }
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotateX(60deg);
    }
    to {
        -webkit-transform: rotateX(420deg);
    }
}