/** -------------------------------------------
    ngDialog Modal Plugin

    background-color: #2c3736;
    box-shadow: 0 0 0 #2c3736, 0 3px 0 0 #222b2a, 0 8px 4px rgba(34, 43, 42, 0.5);
    ------------------------------------------- **/

@-webkit-keyframes modal-open {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes modal-open {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes modal-close {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }
}
@keyframes modal-close   {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }
}


.livegames-modal {
    padding-top: 5% !important;
    padding-bottom: 5% !important;

    .ngdialog-content {
        -webkit-animation: modal-open .5s;
        animation: modal-open .5s;

        position: relative;
        padding: $base-double-gutter $base-gutter $base-gutter;

        background-color: rgba(35, 37, 48, 0.95);
        box-shadow: 0 0 0 #2c3736, 0 3px 0 0 #222b2a, 0 8px 4px rgba(34, 43, 42, 0.5);

        border-radius: $base-border-radius;
        outline: 0;

        font-size: 1.1em;
        line-height: 1.5em;
        margin: 0 auto;
        max-width: 90%;
        width: 750px;

        .modal-header {
            display: inline-block;
            width: 100%;
            margin-bottom: $base-gutter;

            .modal-lg-nav {
                float:left;
                width: 100%;
                background: $color-tertiary;
                border-radius: $base-border-radius;

                > li {
                    float: left;
                    padding: 15px 0;
                    margin: 0;
                    width: 25%;
                    text-align: center;

					&.half {
						width: 50%;
					}

                    > a {
                        color : $color-white;
                    }

                    &:first-child {
                        border-radius: $base-border-radius 0 0 $base-border-radius;
                    }

                    &:last-child {
                        border-radius: 0 $base-border-radius $base-border-radius 0;
                    }

                    &:hover {
                        background-color: $color-fifth;
                    }
                }
            }
        }
        .modal-body {
            position: relative;
            display: inline-block;
            width: 100%;
            padding: 10px 15px;
            background-color: $color-black;
            color : #8E8E8E;
            border-radius: $base-border-radius;

            &.profile-body {
                table {
                    font-size: 14px;
                    text-align: center;
                    font-weight: 300;

                    th { color : $color-white; font-weight: 600; }
                    th, td {padding: 5px 0;}
                    tr {
                        &:hover {
                            background: rgba(35, 37, 48, 0.95);
                            color : $color-white;
                            border-radius: $base-border-radius;
                        }

                        th,
                        td {
                            &:first-child { text-align: left; }
                            &:last-child { text-align: right; }
							button {
								background-color: $color-tertiary;
								color: $color-black;
								padding: 10px;
								margin: 2px 0px;
							}
                        }

						&.expanded, &:hover, &.expanded td {
							background-color: $color-primary !important;

							.session-detail{
								h4 {
									text-align: center;
									color: #f6a922;
									font-weight: 600;
								}

								.number {
									background-color: $color-tertiary;
									color: $color-black;
									width: 25px;
									height: 25px;
									line-height: 26px;
									margin: 1px;
									text-align: center;
									font-size: 11px;
									border-radius: 100%;
									float: left;
									cursor: pointer;
								}

								.reward-index {
									width: 100%;
								    margin: 2px 10px;
									float: left;

									.winner-index {
										text-align: center;
										font-weight: bold;
									    float: left;
									}
									.winner-card-info {
										border-radius: 5px;
										display: inline-block;
										padding: 1px 4px;
									    margin-left: 10px;
										color: #fff;
									    float: left;

										&.red {
											background-color: $card-color-red-dark-light;
										}
										&.green {
											background-color: $card-color-green-dark-light;
										}
										&.blue {
											background-color: $card-color-blue-dark-light;
										}
										&.ocean {
											background-color: $card-color-ocean-dark-light;
										}
										&.yellow {
											background-color: $card-color-yellow-dark-light;
										}
										&.purple {
											background-color: $card-color-purple-dark-light;
										}

									}
								}

							}


						}
                    }
                }

                .change-password {
                    float: left;
                    width: 100%;
                    margin-top: $base-gutter;
                }
                .pagination {
                    display: inline-block;
                    width: 100%;
                    margin-top: $base-gutter;
                    text-align: center;

                    > li {
                        float: none;
                        display: inline-block;
                        width: auto;
                        margin: 0 5px;

                        > a {
                            min-width: 24px;
                            padding: 2px 5px;
                            color: $color-white;
                            font-size: 12px;
                            border-radius: $base-border-radius;
                            border: 1px solid #494949;

                            &:hover {
                                background-color: $color-tertiary;
                            }
                        }

                        &.active {
                            > a { background-color: $color-tertiary; }
                        }
                    }
                }

                //Mobil Responsive
                @include mobile() {
                    padding: 10px 5px;
                }
                .panel-group {
                    float: left; width: 100%; margin: 0;

                    th { padding: 5px; }
                }
                .profile-default {
                    float: left;
                    width: 100%;

                    > .panel-heading {
                        background: $color-tertiary;
                        color : $color-white;
                    }

                    .panel-heading {
                        float: left;
                        width: 100%;
                        padding: 5px 10px;
                        border-bottom: 0;

                        a { width: 100%; display: inline; }
                    }
                    .panel-body {
                        padding: 5px 0;

                        .panel-default {
                            float: left;
                            width: 100%;
                            margin-top: 0;

                            .panel-heading { padding: 5px; }
                            .panel-body {
                                padding: 0 5px 5px 5px;

                                div > span { display: block; }
                            }

                            &.panel-open {
                                background: rgba(35, 37, 48, 0.95);

                                .panel-heading { color : $color-white; }
                            }
                        }

                        .scroll-bar { float: left; height: 175px; }
                    }
                }
            }

            .modal-profile-content {
                position: relative;
                float: left;
                width: 100%;
            }

			.modal-help-content {
				font-size: 12px;
				text-align: justify;
    			padding: 5px 10px 10px 0px;

				h3 { font-weight: 600; text-align: center; }

				h4 {
					width: 100%;
					float: left;
				    font-weight: 600;
				}

				p {
					float: left;
					width: 100%;
					margin: 6px 0;
				    text-indent: 20px;

					sup {
						color:red;
					}
				}

				ul {
				    margin-left: 20px;
					li {
					    list-style-type: circle;
					    margin-bottom: 0;
					}
				}
			}
        }
        .modal-footer {
            display: inline-block;
            width: 100%;
            margin-top: $base-gutter;
            text-align: right;

            a {
                margin-right: 10px;

                &:last-child {margin-right:0;}
            }
        }
    }
    .ngdialog-close {
        position: absolute;
        right: $base-gutter;
        top: 0px;

        color: $color-white;
        font-size: 40px;
        line-height: 40px;
        font-weight: 300;
        cursor: pointer;
        z-index: 10;
    }

    @include mobile() {
        padding: 0;

    }
    @include tablet-portrait() {
        padding: 0;

        .ngdialog-content { padding-top: 80px; }
        .modal-body.profile-body .profile-default .panel-body .scroll-bar {
            height: 100%;
            max-height: 500px;
        }
    }
}
