.livegames-modal.winner,
.livegames-modal.jackpot {
	color: $color-white;
	font-family: "Poppins", sans-serif;

	.ngdialog-content {
		padding: 40px 0 0 0;
		background: #f4b226 url(../../images/winner/modal-bg.png) no-repeat center center;
		background-size: cover;
		box-shadow: inset 0px 0px 60px 10px rgba(0, 0, 0, 0.5);
		border-radius: 30px;

		.modal-header {
			border-bottom: 0px;

			.modal-title {
				margin: 0 auto;
				line-height: 1.428571429;
				background: url(../../images/winner/win-head.png) no-repeat center top;
				height: 245px;
				margin-top: -100px;
			}

			.close {
				width: 45px;
				height: 37px;
				border-radius: 20px 20px 30px 30px;
				position: absolute;
				right: 20px;
				top: 20px;
				background-color: #4a8530;
				z-index: 99999;
				opacity: 1;
				box-shadow: 0px 4px 0px 0px rgb(57, 103, 37), 0px 8px 0px 0px rgba(57, 103, 37, .3);

				span {
					transform: rotate(45deg);
					display: block;
					text-align: center;
					margin: 0 auto;
					text-shadow: none;
					color: #f4b025;
					font-size: 40px;
					line-height: 32px;
				}
			}
		}
		.modal-body {
			display: inline-block;
			width: 100%;
			background: transparent;

			.winners-title {
				font-family: 'Oleo Script', cursive !important;
				color: #1f4d0b;
				text-align: center;
				margin: -20px 0 30px 0;
			}
			.winners-slider {
				width: 47%;
				margin: 0 auto;
				display: block;

				.card-wrapper {
					width: 100%;

					.card-sold { display: none; }
				}
				.swiper-pagination {
					margin-top: 20px;
				}
			}
			.winners-notification {
				display: block;
				margin: 15px auto;
				width: 50%;

				.box-content {
					&:before, &:after { display: none; }
				}
				.winner-notif {
					margin-top: 5px;
					display: inline-block;

					&.select-alert li {
						font-size: 14px;
						font-weight: bold;
						text-align: center;
					}

					ul {
						padding: 0;
						margin: 0;
						margin-top: 5px;

						li {
							font-size: 12px;
							line-height: 1.3;
							color: $color-white;
							list-style-type: none;

							.reward-icon {
								@include dims(20px);
								float: left;
								margin-top: -5px;
								margin-right: 5px;

								&.line1 {
									background: transparent url(../../images/reward-icons.png) no-repeat 0px -25px;
								}

								&.line2 {
									width: 27px;
									background: transparent url(../../images/reward-icons.png) no-repeat -27px -25px;
								}

								&.line3 {
									width: 36px;
									background: transparent url(../../images/reward-icons.png) no-repeat -62px -25px;
								}

								&.line4 {
									width: 36px;
									background: transparent url(../../images/reward-icons.png) no-repeat -62px -25px;
								}
							}
						}
					}
				}
			}
		}
		.modal-footer {
			position: relative;
			display: block;
			color: #fff;
			border-top: 0px;
			padding: 0px;
			width: 100%;
			border-radius: 0 0 30px 30px;

			.wallet {
				font-size: 20px;
				position: absolute;
				right: 30px;
				top: 20px;
				color: #1F4D0B;
			}

			.top {
				position: relative;
				height: 73px;
				background: transparent url(../../images/winner/winmodal-footer.png) no-repeat center bottom;
			}
			.bottom {
				background-color: #4A8530;
				height: 70px;
				border-radius :0 0 30px 30px;
				.left {
					float: left;
					padding-left: 20px;
					text-align: left;
					h2 {
						font-family: "Poppins", sans-serif !important;
						font-size: 22px;
						font-weight: bold;
						margin: 0px 0 6px 0;
					}
					p {
						font-size: 14px;
					}
				}
				.center {
					text-align: center;
					width: 100%;
					h2 {
						margin: 0px;
						font-family: 'Oleo Script', cursive !important;
						color: #FADB8D;
						text-align: center;
						span {
							font-family: 'Oleo Script', cursive !important;
							display: block;
						}
					}
				}
				.actions {
					float: right;
					padding: 10px 20px;
					button {
						background-color: #f3a722;
						border-radius : 30px;
						color: #4a8530;
						border: 0px;
						font-weight: 700;
						box-shadow: 0px 3px 0px 0px rgb(189, 129, 26), 0px 6px 1px 0px rgba(0, 0, 0, 0.1);
						display: inline-block;
						outline: none;

						&:hover, &:active {
							background-color: rgba(243, 189, 0, 1) !important;
						}
					}
				}
			}
		}
	}

	@include mobile() {
		.ngdialog-content {
			padding: $base-gutter 0 0 0;
			border-radius: 0;

			.wallet {
				position: absolute;
				left: 15px;
				top: 10px;
				color: $color-white;
				font-size: 13px;
				line-height: 30px;
			}

			.modal-body {
				padding: $base-double-gutter 15px 0 15px;

				.winners-title { margin: 0 0 10px 0; }
				.winners-slider {
					width: 100%;
				}
				.winners-notification {
					width: 100%;
					float: left;
					margin-bottom: 0;

					.box-content { padding: 10px; }
					.winner-notif {
						ul li {
							font-size: 10px;
							.reward-icon {
								margin-top: 2px;
							}
						}
					}
				}

				&.jackpot-body {
                    top: 30%;

					.winners-notification { text-align: center; }
				}
			}

			.modal-footer {
				position: fixed;
				border-radius: 0;
				bottom: 0;

				.bottom {
					border-radius: 0;
					display: inline-block;
					height: auto;
					padding-bottom: 10px;
					text-align: center;

					.left {
						text-align: center;
						display: inline-block;
						float: none;

						p {
							font-size: 10px;
						}
					}

					.actions {
						display: inline-block;
						padding: 0;
						text-align: center;
						width: 100%;
						float: none;
					}
				}
			}
		}
	}
}
