/** -------------------------------------------
    Login Page
    ------------------------------------------- **/

.#{$cssversion} {
    .login-wrap {
        .login-form {
            @extend .group;
            position : relative;
            display  : block;
            margin   : 0 auto;
            width    : 475px;

            li {
                margin-bottom : 30px;

                .input-login {
                    height        : 60px;
                    line-height   : 60px;
                    border-radius : 50px;
                    padding       : 10px ($base-gutter + 10px);
                    color         : #1f4d0b;
                }
                .button-login {
                    padding-top    : 0;
                    padding-bottom : 0;
                    box-shadow     : 0 8px 0 0 #126583, 0 12px 0 0 #163508;
                    border-radius  : 50px;
                    height         : 60px;
                    width          : 100%;

                    &:active {
                        box-shadow  : 0 4px 0 0 $base-primary-color, 0 9px 0 0 #126583, 0 12px 0 0 #163508;
                        line-height : 65px;
                    }
                }
                &:last-child {
                    font-weight : 300;
                    font-size   : 16px;
                    color       : $color-white;

                    > .item > .item-label { font-weight : 300; }
                    > a {
                        color : $color-white;

                        &:before {
                            content     : '';
                            position    : absolute;
                            left        : 0;
                            height      : 100%;
                            border-left : 2px solid $color-white;
                        }
                    }
                }
            }
        }
        .login-contact {
            color         : $color-white;
            margin-bottom : $base-gutter;
        }
    }
}