/** -------------------------------------------
    Rooms Container
    ------------------------------------------- **/

.#{$cssversion} {
    //
    // Dashboard
    .dashboard {
        position: relative;
        display: inline-block;
        width: 100%;

        &-top {
            position: relative;
            float: left;
            width: 100%;
            z-index: 1;

            .collects {
                @include retina-image('dashboard-number');
                background-repeat: no-repeat;
                background-size: contain;
                position: relative;
                float: left;
                width: 188px;
                height: 121px;

                .number {
                    @include dims(35px);
                    position: absolute;
                    text-align: center;
                    background-color: #204d0e;
                    box-shadow: inset 5px 8.7px 0 rgba(35, 31, 32, 0.21);
                    border-radius: 50%;

                    &:before {
                        @include dims(80%);
                        content : '';
                        position: absolute;
                        left: 3px;
                        top: 3px;
                        background-color: $color-tertiary;
                        border-radius: 50%;
                        box-shadow: inset 3px 4px 0 rgba(35, 31, 32, 0.2);
                    }
                    > span {
                        @include dims(75%);
                        position: relative;
                        top: 4px;
                        left: 0;
                        display: inline-block;

                        color: $color-white;
                        font-size: 14px;
                        line-height: 26px;
                        border: 1px solid $color-white;
                        border-radius: 50%;
                    }

                    &:nth-child(1){
                        @include dims(85px);
                        left: 17px;
                        top: 17px;

                        &:before {
                            @include dims(85%);
                            left: 7px;
                            top: 7px;
                        }

                        > span {
                            top: 11px; left: 1px;
                            font-size: 30px;
                            line-height: 66px;
                            border: 2px solid $color-white;
                        }
                    }
                    &:nth-child(2){
                        left: 105px;
                        bottom: 15px;
                    }
                    &:nth-child(3){
                        left: 145px;
                        bottom: 15px;
                    }
                    &:nth-child(4),
                    &:nth-child(5) { display: none; }

                    &.ng-hide-add {
                        -webkit-animation: 0.3s hideBall;
                        animation: 0.3s hideBall;
                    }
                    &.ng-hide-remove {
                        -webkit-animation: 0.7s showBall;
                        animation: 0.7s showBall;
                        display: none;
                    }
                    &.ng-enter {
                        -webkit-animation: 0.7s showBall;
                        animation: 0.7s showBall;
                    }

                    &.ng-leave {
                        -webkit-animation: 0.3s hideBall;
                        animation: 0.3s hideBall;
                    }
                }
            }
            .progress {
                float: left;
                position: relative;
                width: calc(100% - 188px);
                position: relative;
                top: 36px;

                .extra-automatic {
                    position: relative;
                    float: left;
                    left: -30px;
                    width: 100%;

                    .extra-title {
                        width: 120px;
                        position: relative;
                        float: left;
                        padding-right: 40px;
                        line-height: 18px;
                        color: #fff;

                        &:after {
                            content : '';
                            position: absolute;
                            top : 0;
                            right: 10px;
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center center;
                        }
                    }
                    .extra-content {
                        position: absolute;
                        right: 10px;
                        top: 0;
                    }

                    .extra-auto-buy {
                        position: relative;
                        float: left;
                        width: 50%;

                        .extra-title {

                            &:after {
                                @include retina-image('icon-auto-buy');
                                width: 33px;
                                height: 37px;
                            }
                        }
                    }
                    .extra-auto-sort {
                        position: relative;
                        float: left;
                        width: 50%;

                        .extra-title {

                            &:after {
                                width: 30px;
                                height: 30px;
                                -webkit-mask: url(../../svg/extra-autosort.svg) no-repeat 100% 100%;
                                mask: url(../../svg/extra-autosort.svg) no-repeat 100% 100%;
                                -webkit-mask-size: cover;
                                mask-size: cover;
                                background-color: #fff;
                                z-index: 1;
                            }
                        }
                        .extra-content{
                            right: 0;
                        }
                    }
                    .extra-auto-check {
                        position: relative;
                        float: left;
                        width: 50%;

                        .extra-title {
                            color: $color-sixth;
                            padding-right: 50px;

                            &:after {
                                @include retina-image('icon-auto-check');
                                width: 40px;
                                height: 33px;
                            }
                        }
                    }
                }
                .progress-layer {
                    position: relative;
                    float: left;
                    bottom: -21px;
                    width: 100%;

                    padding: 17px $base-gutter;
                    border-radius: 0 26px 26px 0;
                    background-color: #3b7920;
                    box-shadow: 0 4px 0 rgba(35, 31, 32, 0.19), inset 0 -3px 0 rgba(35, 31, 32, 0.31);
                    > p {
                        float: left;
                        color : #275713;
                        font-size: 18px;
                        font-weight: 600;
                        margin-right: $base-gutter;
                    }

                    > .progress-column {
                        float: left;
                        width: calc(100% - 100px);
                        height: 4px;
                        margin-top: 10px;
                        background-color: #275713;
                        border-radius: 10px;
                    }
                }
            }
        }
        &-bottom {
            position: relative;
            float: left;
            width: 100%;

            margin-top: -50px;
            padding: 55px 10px 10px;

            background-color: $color-tertiary;
            border-radius: 10px;
            box-shadow: 2px 3.5px 0 rgba(35, 31, 32, 0.19), inset 0 -3px 0 rgba(35, 31, 32, 0.26);

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 30%;
                height: 100%;
                background-color: #46862b;
                opacity: 0.9;
                border-radius: 10px 0 0 10px;
            }

            .room-jackpot {
                position: relative;
                float:left;
                width: 28%;
                padding: 0;
                font-size: 16px;
                font-weight: 400;
                z-index: 1;
                text-align: center;

                > span {display: block; font-size: 14px;}
                > .remain { 
                    font-size: 12px; 
                    .jackpot-bar{
                        width: 100%;
                        height: 6px;
                        margin-top: 10px;
                        background-color: #275713;
                        border-radius: 10px;
                        display: block;
                        border-radius: 3px;
                        overflow: hidden;
                        span{
                            width: 0px;
                            height: 6px;
                            display: inline-block;
                            background-color: #f6a922;
                            float: left;
                        }
                    }
                }
            }
            .rewards-wrapper {
                float: left;
                width: calc(100% - 33%);
                margin-left: 15px;
                margin-top: 5px;
                font-size: 15px;
                font-weight: bold;
                color: #bc8017;
                //width: 500%;

                sup {
                    top: -0.3em;
                    font-size: 80% !important;
                }
                .rate-reward-title {
                    margin-bottom: 10px;
                    font-weight: bold;
                    color: #46862B;
                    text-align: center;
                    font-size: 14px;
                }
                .rate-reward {
                    display: inline-block;
                    margin-right: 10px;
                    height: 20px;
                    overflow: hidden;
                    opacity: 0.3;
                    span {
                        display: inline-block;
                        height: 20px;
                        color: #000;
                    }
                    .reward-icon {
                        content: '';
                        width: 24px;
                        height: 24px;
                        float: left;
                        background-color: #000;
                        display: inline-block;
                        position: relative;
                        top: -2px;
                        margin-right: 5px;
                        &.line1 {
                            width: 28px;
                            height: 28px;
                            -webkit-mask: url(../../svg/star-1.svg) no-repeat 100% 100%;
                            mask: url(../../svg/star-1.svg) no-repeat 100% 100%;
                            -webkit-mask-size: contain;
                            mask-size: contain;
                            top: -6px;
                        }
                        &.line2 {
                            -webkit-mask: url(../../svg/star-2.svg) no-repeat 100% 100%;
                            mask: url(../../svg/star-2.svg) no-repeat 100% 100%;
                            -webkit-mask-size: contain;
                            mask-size: contain;
                            top: -4px;
                        }
                        &.line3 {
                            -webkit-mask: url(../../svg/star-3.svg) no-repeat 100% 100%;
                            mask: url(../../svg/star-3.svg) no-repeat 100% 100%;
                            -webkit-mask-size: contain;
                            mask-size: contain;
                        }
                        &.line4 {
                            -webkit-mask: url(../../svg/star-4.svg) no-repeat 100% 100%;
                            mask: url(../../svg/star-4.svg) no-repeat 100% 100%;
                            -webkit-mask-size: contain;
                            mask-size: contain;
                        }

                        
                    }

                    &.prize-won {
                        opacity: 1; 
                    }


                }

                .swiper-slide { text-align: center }
                .swiper-button-next,.swiper-button-prev {
                    background-image: none;
                    width: auto !important;
                    height: auto !important;
                    margin-top: 0 !important;
					top: 0;

                    &:before {
                        content: '';
                        @include retina-image('reward-next-arrow');
                        background-repeat: no-repeat;
                        background-position: center center;
                        position: relative;
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        right: -10px;
                        bottom: -2px;
                    }
                }
				.swiper-button-prev { transform: rotateY(180deg); }
            }
        }
    }

    //
    // Card Row Content
    .card-row {
        float: left;
        width: 100%;
        position: relative;
        &.playing,&.open,&.preopen{
            top: 50px;
        }
        .card-content {
            a,em {
                color: $color-white;
                font-weight: 600;
                font-style: normal;
                cursor: default;
            }
            span{
                cursor: pointer;
                text-decoration: underline;
            }
        }
        .card-list {
            @include scrollbar(.2em, 680px, #9bbe4d, rgba(32, 77, 14, 1));
            float: left;
            position: relative;
            width: 100%;
            height: 680px;
            overflow-y: auto;

            .card-wrapper {
                margin: 10px 0px;
                width: 50%;

                &:last-child { margin-bottom: 0; }
            }

            &.oneCol {
                .card-wrapper {
                    margin: 25px 25%;
                    display: block;
                    transform: scale(1.1);
                }
            }
        }
    }

    //
    // State Active
    #state-open {
        .card-sold.sold {
            display: none !important;
        }
    }
    #state-playing {
        .card-sold.sold {
            display: none !important;
        }
    }
    #state-preopen {
        .card-table td.highlight {
            animation: none !important;
        }
    }

    .room-hide{
        opacity: 0;
        z-index: 0;
    }

    .audio-player{
        position: fixed;
        right: -1000px;
        opacity: 0;
        visibility: hidden;
    }
}
