/** -------------------------------------------
    Sale Cards
    ------------------------------------------- **/

.#{$cssversion} {
    #sale-cards {
        position         : fixed;
        top              : 55px;
        left             : 0;
        width            : 100%;
        height           : 100%;
        z-index          : 99;
        @include mobile(){
            height: calc( 100% - 40px );
        }
        @include desktop {
            position : absolute;
            top      : 0;
        }
    }

    .sale-cards-container {
        position : relative;
        display  : inline-block;
        width    : 100%;
        height   : 100%;
        top: 10px;
        .box-content {
            float : left;
            margin-top: 10px;
            .card-message {
                float        : left;
                margin-right : 20px;
                line-height  : 30px;
                &.rate-header{
                    position: relative;
                    display: block;
                    float: none;
                    margin-top: -14px;
                }
            }
            &.box-static{
                height: 104px;
            }
            .card-select {
                float : left;

                > div {
                    float            : left;
                    padding          : 5px 10px;
                    margin-right     : 5px;
                    background-color : $color-sixth;
                    color            : $color-white;
                    font-size        : 12px;
                    border-radius    : 5px;
                    cursor           : pointer;

                    > sup { font-size : 75%; }
                }

                + em {
                    display     : block;
                    font-size   : 90%;
                    line-height : 30px;
                    float: left;
                }
            }
        }
        .cards-close {
            position      : absolute;
            margin-bottom : 20px;
            text-align    : right;
            top: 22px;
            right: 12px;
            z-index: 999999999;
        }
        .cards-container {
            @include scrollbar(.2em, 82%, #9bbe4d, rgba(32, 77, 14, 1));
            overflow-x : hidden;
            overflow-y : auto;
            float      : left;
            width      : 100%;
            margin     : 0;
            position   : relative;
            z-index: 99;

            .sale-cards-wrapper {
                float   : left;
                width   : calc(100% + 10px);
                margin  : 0;
                padding : 0;

                .card-wrapper {
                    transform : inherit;
                    margin    : 15px 10px;
                    width     : 23%;
                }
            }
        }

        @include mobile(){
            
        }
        &.is-mobile {
            margin-top : 20px;

            .cards-close {
                width      : auto;
                text-align : center;
                position   : fixed;
                z-index    : 10;
                top        : 52px;
                right      : 10px;

                > button {
                    width     : 100%;
                    padding   : 10px 10px;
                    font-size : 12px;
                }
            }
            .box-content {
                padding : 0 10px;

                .card-message {
                    line-height : 21px;
                    font-size   : 12px;
                    padding     : 10px 0;
                }
                .card-select {
                    > div {
                        padding       : 10px;
                        margin-right  : 0;
                        font-size     : 12px;
                        border-radius : 0;

                        &.active {
                            background : #2C98C0;
                        }
                    }
                }
            }
            .cards-container {
                max-height : calc(100% - 140px);
                overflow-x: hidden;
                -webkit-overflow-scrolling: touch;

                .sale-cards-wrapper {
                    padding : 25px 0 80px 0;
                    width   : 100%;
                    margin  : 0 20px;

                    .card-wrapper {
                        float     : left;
                        width     : 50%;
                        transform : scale(0.94);
                        margin    : -25px 0 10px 0;

                        @include mobile() {
                            transform : scale(0.7);

                            .pre-sale {
                                width : 100% !important;
                            }
                        }

                        .card-table-head { font-size : 10px; }
                        .card-table {
                            border-spacing : 2px;

                            td {
                                width     : 14px;
                                font-size : 10px;
                            }
                        }

                        &:nth-child(3n+2) {
                            width  : 50%;
                            margin : -25px 0 10px 0;
                        }
                    }
                }
            }
            .random-cards {
                position   : fixed;
                background : $color-tertiary;
                color      : $color-white;
                bottom     : 0px;
                padding    : 3px 10px;
                width      : 100%;
                box-shadow : inset 0px 0px 5px 0px #000;
                z-index    : 999;

                .card-message {
                    position  : relative;
                    top       : 7px;
                    float     : left;
                    font-size : 14px;
                }
                .card-select {
                    float : right;

                    > div {
                        float         : left;
                        background    : $color-black;
                        padding       : 3px 6px;
                        margin        : 0 0 0 5px;
                        border-radius : 5px;
                        text-align    : center;
                        font-size     : 10px;

                        > span {
                            display : block; clear : both;
                        }
                    }
                }
            }

            @include tablet-portrait() {
                .cards-container {
                    .sale-cards-wrapper {
                        padding : 30px 20px 0 0;
                        .card-wrapper {
                            width : 33%;
                            margin-bottom: 40px;
                            &:nth-child(3n+2) { width : 33%; }
                        }
                    }
                }
                .random-cards {
                    .card-select {
                        > div { padding : 3px 10px; }
                    }
                }
            }
        }
    }
}