.#{$cssversion} {
	.mobile-history{
		width: calc(100% - 20px);
	    position: absolute;
	    top: 1%;
	    z-index: 9;
	    padding: 10px 0;
	    overflow: hidden;
	    overflow-y: auto;
	    display: none;
	    max-height: 96%;
	    left: 10px;
	    .close-btn{
	    	position: absolute;
	    	right: 0;
	    	top: 5px;
	    }
	    .mobile-filter-btn{
	    	width: 28px;
            height: 28px;
            -webkit-mask: url(../../svg/filter-btn.svg) no-repeat 100% 100%;
            mask: url(../../svg/filter-btn.svg) no-repeat 100% 100%;
            -webkit-mask-size: contain;
            mask-size: contain;
            background-color: #fff;
	    }
	    .history-section{
	    	table.history-table{
	    		> tbody,> thead{
			    	> tr{
			    		display: block;
					    overflow: hidden;
					    -webkit-box-sizing: border-box;
					    -moz-box-sizing: border-box;
					    box-sizing: border-box;
					    float: left;
					    clear: left;
					    width: 100%;
				    	> td{
				    		text-align: left;
				    		display: block;
						    overflow: hidden;
						    -webkit-box-sizing: border-box;
						    -moz-box-sizing: border-box;
						    box-sizing: border-box;
						    float: left;
						    clear: left;
						    width: 100%;
						    border-left: 1px solid #fff;
						    border-bottom: none;
						    &:first-child{
						    	border-top: 1px solid #fff;
						    }

				    		.mobile-title{
				    			width: 100px;
				    			display: inline-block !important;
				    			margin-right: 5px;
				    			float: left;
				    		}
				    	}
				    	> th{
				    		display: none;
				    	}
				    	&:last-child{
				    		border-bottom: 1px solid #fff;
				    	}
			    	}
		    	}
		    }
	    }
	    .history-filter{
	    	float: none;
	    	height: auto;
	    }
	    .mobile-filter-wrapper{
	    	padding: 10px 0;
	    	.filter-node{
	    		width: calc( 100% - 5px );
	    		margin-bottom: 5px;
	    		input{
	    			width: 100%;
	    		}
	    	}
	    }
	    .winner-cards{
	    	width: auto;
	    	float: none;
	    	overflow: hidden;
	    	.reward-container{
		    	width: auto;
		    	border-left: none;
		    	.winner-card-numbers{
		    		margin-bottom: 5px;
		    	}
		    }
	    }
	}
}