/** -------------------------------------------
    Number List
    ------------------------------------------- **/

.#{$cssversion} {
    .is-mobile {
        .number-list {
            padding: 6px;
            border-radius: 0;
            background-color: #1C2625;

            > span {
                width: 20px;
                height: 22px;
                margin: 1px 2px;
                font-size: 10px;
				text-align       : center;
                color: $color-white;
				background-color : #282f2f;
				border-radius    : $base-border-radius;

				&.selected {
	                color            : $color-white;
	                background-color : $color-fifth;
	            }
	            &.last {
	                background-color : $color-fifth;
	                animation        : tada 1s;
	            }
	            &.winner {
	                color            : $color-fifth;
	                background-color : $color-white;
	            }
            }

            // NumberList Tablet
            @include tablet-portrait() {
                padding: 10px 1px 5px 10px;
                border-radius: 0;

                > span {
                    height: 25px;
                    margin-right: 11px;
                    margin-bottom: 10px;
                    font-size: 12px;
                }
            }
        }
    }
}
