/** -------------------------------------------
    Video Player
    ------------------------------------------- **/

.#{$cssversion} {
    .is-mobile {
        //
        // Vide Player
        .video {
            min-height: 330px;
            border-radius: 0 0 0 0;

            .cooldown-container {
                &:before {
                    margin-top: 10%;
                }
            }

            @include mobile {
                min-height: 175px;

                .stream {
                    .vplayer-auto {
                        .number {
                            @include dims(100px);
                            top: calc(50% - 45px);
                            left: calc(50% - 45px);
							line-height: 75px;

                            > span {
                                top: 15%;
                                font-size: 50px;
                            }
                        }
                    }
                }
                .cooldown-container {
                    &:before {
                        width: 90px;
                        height: 75px;
                    }

                    > span { font-size: 13px; }
                }
                /*.winners {
                    width: 75%;
                }*/
            }
        }

        //
        // Messaenger
        .messenger {
            .messenger-container {
                height : 100%;
                bottom: 0;
                .buble-item{
                    animation-duration: .3s;
                    animation-name: fadeAndScale;
                    animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
                    .bubble {
                        font-size: 10px;
                        &.mine {
                            margin: 5px;
                        }
                    }
                }
            }

            .actions {
                padding: 5px 0;
                border-radius : 0 0 0 0;
                display: none;
            }

            @include mobile() {
                .messenger-container {
                    height: 81%;

                    .bubble { font-size: 10px; }
                }
                .actions {
                    padding : 0;
                }
            }
        }


        //
        // Video Player Control
        .vi-controls {
            bottom: 12px;

            @include mobile() {
                bottom: 7px;
            }
        }
    }
}

@keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale(1, 0);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}