/** -------------------------------------------
    Plugins ngDialog
    ------------------------------------------- **/
.#{$cssversion} {
    .ngdialog, .ngdialog-overlay { position : fixed; top : 0; right : 0; bottom : 0; left : 0 }
    @-webkit-keyframes ngdialog-fadeout {
        0% { opacity : 1 }
        100% { opacity : 0 }
    }
    @keyframes ngdialog-fadeout {
        0% { opacity : 1 }
        100% { opacity : 0 }
    }
    @-webkit-keyframes ngdialog-fadein {
        0% { opacity : 0 }
        100% { opacity : 1 }
    }
    @keyframes ngdialog-fadein {
        0% { opacity : 0 }
        100% { opacity : 1 }
    }
    .ngdialog { box-sizing : border-box; overflow : auto; -webkit-overflow-scrolling : touch; z-index : 10000 }
    .ngdialog *, .ngdialog :after, .ngdialog :before { box-sizing : inherit }
    .ngdialog.ngdialog-disabled-animation, .ngdialog.ngdialog-disabled-animation .ngdialog-content, .ngdialog.ngdialog-disabled-animation .ngdialog-overlay { -webkit-animation : none !important; animation : none !important }
    .ngdialog-overlay { background : rgba(0, 0, 0, .4); -webkit-backface-visibility : hidden; -webkit-animation : ngdialog-fadein .5s; animation : ngdialog-fadein .5s }
    .ngdialog-no-overlay { pointer-events : none }
    .ngdialog.ngdialog-closing .ngdialog-overlay { -webkit-backface-visibility : hidden; -webkit-animation : ngdialog-fadeout .5s; animation : ngdialog-fadeout .5s }
    .ngdialog-content { background : #fff; -webkit-backface-visibility : hidden; -webkit-animation : ngdialog-fadein .5s; animation : ngdialog-fadein .5s; pointer-events : all }
    .ngdialog.ngdialog-closing .ngdialog-content { -webkit-backface-visibility : hidden; -webkit-animation : ngdialog-fadeout .5s; animation : ngdialog-fadeout .5s }
    .ngdialog-close:before { font-family : Helvetica, Arial, sans-serif; content : '\00D7'; cursor : pointer }
}

body.livegames-open, html.livegames-open { overflow : hidden }