//
// Panels
// --------------------------------------------------

.#{$cssversion} {
  .collapse {
    display : none;

    &.in { display : block; }
    // [converter] extracted tr&.in to tr.collapse.in
    // [converter] extracted tbody&.in to tbody.collapse.in
  }

  // Base class
  .panel {
    background-color : transparent;
  }

  // Panel contents
  .panel-body {
    width     : 100%;
    padding   : $panel-body-padding;
    font-size : 12px;
  }

  // Optional heading
  .panel-heading {
    padding       : $panel-heading-padding;
    border-bottom : 1px solid #3C7324;

    > .dropdown .dropdown-toggle {
      color : inherit;
    }
  }

  // Within heading, strip any `h*` tag of its default margins for spacing.
  .panel-title {
    margin-top    : 0;
    margin-bottom : 0;
    font-size     : 12px;
    color         : inherit;
    font-weight: 600;

    > a,
    > small,
    > .small,
    > small > a,
    > .small > a {
      color : inherit;
    }
  }

  // List groups in panels
  //
  // By default, space out list group content from panel headings to account for
  // any kind of custom content between the two.

  .panel {
    > .list-group,
    > .panel-collapse > .list-group {
      margin-bottom : 0;
    }
  }

  // Collapsible panels (aka, accordion)
  //
  // Wrap a series of panels in `.panel-group` to turn them into an accordion with
  // the help of our collapse JavaScript plugin.

  .panel-group {
    margin : 0 -10px;

    // Tighten up margin so it's only between panels
    .panel {
      + .panel {
        margin-top : 5px;
      }
    }
  }
}