/**
 * In most cases, using buttons with button tag allows more styling options
 * it is cross browser and meaningful. Also ".button" class is added in order to
 * get button-like elements
 */
%button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: (2 * $base-input-spacing) (4 * $base-input-spacing);
    line-height: 100%;
    text-decoration: none;
    overflow: hidden;
    border-radius: $base-border-radius;
    outline: none;
    touch-action: manipulation;
    white-space: nowrap;
	height: auto;


    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.#{$cssversion} {
    /**
     * Native button elements
     * Input button elements
     */
    button,
    input[type="submit"],
    input[type="reset"],
    input.button {
        @extend %button;
        border: transparent;
    }

    /**
     * Anchor and other elements
     */
    .button {
        @extend %button;
        text-align: center;

        &.button-small {
            padding: (1 * $base-input-spacing) (2 * $base-input-spacing);
            font-size: 18px;
        }

        &.button-large {
            padding: (4 * $base-input-spacing) (8 * $base-input-spacing);
            font-size: 24px;
        }

        &.new-card-button {
            box-shadow: 0px 4px 0px 0px $color-tertiary;
            @include animation(pulseButton 1.25s infinite cubic-bezier(0.66, 0, 0, 1));
            position: absolute;
            right: 0;
            top: -50px;
            font-weight: 600;
        }

        .icon {
            display: inline-block;
            position: relative;
            font-size: 100%;
            top: 3px;

            &.icon-left { margin-right: 5px; }
            &.icon-right { margin-left: 5px; }
        }
    }
}

/**
 * Action Buttons
 * specificity increased in order to overwrite [class*="#{$action-button}"]:not([class*="#{$action-button-wrapper}"])
 * without using !important rule. By this, it can easily modified `.some-class .primary-action` selector
 */

.#{$primary-button} {
    @include button-colors('primary');
}

.#{$secondary-button} {
    @include button-colors('secondary');
}

.#{$tertiary-button} {
    @include button-colors('tertiary');
}

.#{$cancel-button},
input[type="reset"] {
    @include button-colors('cancel');
}
