/** -------------------------------------------
    Checkbox Radio Styles
    ------------------------------------------- **/

.is-checkbox,
.is-radio {
    .selection & {
        @include dims(20px);
    }

    &.one-whole {
        margin-bottom: 1em;
    }

    &.has-error {
        .item-label {
            &:before {
                border: 1px solid $color-cancel;
                background-color: $color-cancel;
            }
        }
    }
}

/** -------------------------------------------
    Checkable Fields
    ------------------------------------------- **/
#{$_checkable_fields} {
    .is-checkbox &,
    .is-radio & {
        position: absolute;
        opacity: 0;
    }

    + .item-label {
        color: $color-white;
        margin-left: 0;
        padding-left: 30px;
        top:0;

        .selection & {
            position: absolute;
            top: 0;
        }

        &:before,
        &:after {
            content: "";
            @include transition(all 0.2s ease);
            @include center-vertical();
            border-width : 1px;
            left: 0;
        }

        &:before {
            @include dims(20px);

            border: 1px solid $base-border-color;
            background-color: #FFFFFF;
        }

        &:after {
            margin-left: 10px;
        }
    }

    &:checked {
        + .item-label:before {
            border-color: $color-checkbox-checked;
        }
    }

    &:disabled {
        + .item-label:before {
            border-color: $color-dark-gray;
            background-color: $color-light-gray;
        }
    }
}

/** -------------------------------------------
    Checkbox
    ------------------------------------------- **/
.#{$cssversion} {
    .is-checkbox {
        input[type="checkbox"] {
            + .item-label {
                &:before {
                    border-radius : 3px;
                }

                &:after {
                    @extend %font-icon;
                    content : "\EA0B";
                    @include font-size(0px);
                }

                &.align-top {
                    &:before {
                        top       : 10%;
                        transform : inherit;
                    }
                }
            }

            &:checked {
                + .item-label:before {
                    border-color     : $color-checkbox-checked;
                    background-color : $color-checkbox-checked;
                }
                + .item-label:after {
                    @include font-size(12px);
                    border-color     : $color-checkbox-checked;
                    background-color : $color-checkbox-checked;
                    margin-left      : 5px;
                    color            : #fff;
                }
            }
        }

        &:hover {
            > .item-label {
                &:before,
                &:after {
                    border-color : $color-checkbox-hover;
                }
            }
        }
    }

    /** -------------------------------------------
        Checkbox Toggle
        ------------------------------------------- **/
    .is-checkboxtoggle {
        position : relative;
        width    : 50px;
        cursor   : pointer;

        input[type="checkbox"] {
            position : absolute;
            opacity  : 0;

            &:checked {
                + .item-label {
                    &:before {
                        left             : calc(100% - 23px);
                        background-color : $color-usercontent;
                        border-color     : $color-white;
                    }

                    &:after {
                        background-color : $color-tertiary;
                    }
                }
            }

            + .item-label {
                position : absolute;
                width    : 100%;

                &:before {
                    z-index       : 1;
                    @include dims(20px);
                    left          : 3px;
                    border-radius : 10px;
                }

                &:after {
                    @include dims(100%, 25px);
                    left             : 0;
                    margin-left      : 0;
                    border-radius    : 50px;
                    background-color : $color-primary;
                }
            }
        }
    }

    /** -------------------------------------------
        Radio Buttons
        ------------------------------------------- **/
    .is-radio {
        input[type="radio"] {
            + .item-label {
                &:before {
                    border-radius : 50%;
                }

                &:after {
                    @include dims(0);
                    border-radius : 50%;
                }
            }

            &:checked {
                + .item-label:before {
                    border-color : $color-radio-checked;
                }
                + .item-label:after {
                    margin           : 0 0 0 4px;
                    @include dims(12px);
                    border-color     : $color-radio-checked;
                    background-color : $color-radio-checked;
                }
            }
        }

        &:hover {
            > .item-label {
                &:before {
                    border-color : $color-radio-hover;
                }
                &:after {
                    border-color     : $color-radio-hover;
                    background-color : $color-radio-hover;
                }
            }
        }
    }
}