/** -------------------------------------------
    Input Fields
    ------------------------------------------- **/
/**
 * Text based (input[type=text] etc.) field styles
 *
 * .text-field class is added in order to styling other elements like a text field
 */

%text-field {
    @include app-transition();
    outline: 0;
    padding: 10px;
    border: 0;
    border-radius: 3px;
    background: $base-field-background;
    color: $color-text;

    font: {
        size: 14px;
        weight: normal;
    }

    @if($base-field-border-radius != null){
        border-radius: $base-field-border-radius;
    }

    &[readonly],
    &.readonly {
        color: $color-gray;
        cursor: default;
        border-color: $base-border-readonly;
    }

    &[disabled],
    &.disabled {
        color: $base-disabled-text-color;
        background: $base-disabled-color;
        border-color: $base-disabled-border;
        cursor: default;
    }
}

.#{$cssversion} {
    #{$_text_fields},
    textarea,
    .text-field {
        -webkit-appearance: none;
        @extend %text-field;
    }


    /**
     * Checkable (checkbox, radio) field styles
     */
    #{$_checkable_fields} {
        vertical-align: middle;

        /**
         * Fields and labels together
         *
            <label class="item-field">
                <input type="checkbox" />
                <span class="item-label">Label</span>
            </label>
         */
        + .field-label,
        + .item-label {
            font-weight: normal;
            vertical-align: middle;
        }
    }


    /**
     * Other input types
     */
    #{$_media_fields},
    #{$_button_fields} {
        //width: auto;
    }


    /**
     * Textarea
     *
     * Textareas are like input text fields in most cases, but they need additional styling
     * since they are resizable and allows multiple lines
     */
    textarea {
        min-height: 3em;
        resize: vertical; // keep the layout fixed. allow only vertical resizing

        .item & {
            display: block;
        }

        &[disabled] {
            background-color: $base-field-disabled;
        }
    }

    /**
     * Item
     */
    .item {
        &:hover {
            :disabled + .item-label {
                cursor: default;

                &:before {
                    border-width: 1px;
                }
            }
        }

        &-focus {
            > .item-label {
                visibility: hidden;
            }

            &.active {
                > .item-label {
                    visibility: visible;
                }

                input::-webkit-input-placeholder { color:transparent; }
                input:-moz-placeholder { color:transparent; } /* FF 4-18 */
                input::-moz-placeholder { color:transparent; } /* FF 19+ */
                input:-ms-input-placeholder { color:transparent; } /* IE 10+ */

                input {
                    box-shadow: 0px 0px 2px 2px #56A4FF;
                }
            }
        }

        &-default {
            input {
                color: $input-default-text;
                border-color: $input-default-border;
                border-radius: $base-border-radius;
                background-color: $input-default-bg;
                border-width: 1px;
                border-style: solid;

                &:focus,
                &:active {
                    border-color: $color-primary;
                }
            }

            &.has-error {
                input { border: 1px solid $color-cancel; }
            }
        }
    }
}