/**
 * Labels
 *
 * Fields should always wrapped with a label.
 * Helper .label class is used for applying label styles for other text elements
 *
 */

.#{$cssversion} {
    label,
    .label {
        position: relative;
        display: inline-block;
        width: 100%;

        &:last-child { margin-bottom: 0; }
    }

    /**
     * Item positions
     * In most cases,
     * item-field is for showing label name and field in same line
     * item-stacked is for showing label name and field in rows
     * item-row is however, stacking the label wrappers together
     */
    .item {
        &-field {
            padding-right: 1em;
            margin-right: 0;

            &:last-child {
                padding-right: 0;
            }
        }

        input, textarea {
            width: 100%;
        }

        &-stacked:not(:only-child){
            margin-bottom: 1em;
        }

        &-row + .item-row {
            margin-top: 1em;
        }

        &-info {
            .icon {
                position: absolute;
                right: 10px;
                bottom: 15px;
                font-size: 18px;
                color: $color-primary;
                cursor: pointer;
            }
        }

        &.is-checkbox{
            width: auto;
        }
    }

    /**
     * Label texts
     */
    .item-label,
    .field-label {
        display: inline-block;
        position: relative;
        top: -5px;
        color: $color-text;
        font-weight: normal;

        /**
         * When item is stacked, label text will be over the label input
         */
        .item-stacked & {
            display: block;
        }

        /**
         * Required field has a star at the beginning of label
         */
        .required & {
            &:before {
                content: "*";
                position: absolute;
                left: -10px;
            }
        }
    }
}