/** -------------------------------------------
    Heading Styles
    ------------------------------------------- **/

.#{$cssversion} {
    h1 { font-size : $base-font-h1; }
    h2 { font-size : $base-font-h2; }
    h3 { font-size : $base-font-h3; }
    h4 { font-size : $base-font-h4; }
    h5 { font-size : $base-font-h5; }
    h6 { font-size : $base-font-h6; }

    h1, h2, h3, h4, h5, h6 {
        font-weight : 300;
    }
}