/** -------------------------------------------
    ICONS
    ------------------------------------------- **/

.icon-coins {
    &:before {
        content : '';
        background-image: url("../../svg/coins.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        width: 30px;
        height: 25px;
        float: left;
        margin-right: 10px;
    }
}

.icon-user {
    &:before {
        content : '';
        background-image: url("../../svg/user.svg");
        background-repeat: no-repeat;
        background-position: center center;
        width: 20px;
        height: 25px;
        float: left;
        margin-right: 10px;
    }
}

.icon-card {
    &:before {
        content : '';
        @include retina-image('icon-card');
        @include dims(25px);
        float: left;;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }
}

.icon-checkin {
    &:before {
        content : '';
        @include retina-image('icon-checkin');
        @include dims(18px);
        float: left;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }
}

.icon-auto-buy {
    &:before {
        content : '';
        @include retina-image('icon-auto-buy');
        float: left;
        width: 33px;
        height: 37px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }
}

.icon-auto-check {
    &:before {
        content : '';
        @include retina-image('icon-auto-check');
        float: left;
        width: 40px;
        height: 33px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }
}

.icon-time {
    &:before {
        content : '';
        @include retina-image('icon-time');
        float: left;
        width: 85px;
        height: 120px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }
}

.icon-users {
    &:before {
        content : '';
        @include dims(40px);
        float: left;
        background-image: url("../../svg/icon-users.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #fff;
        border-radius: 50%;
    }
}

.icon-query {
    &:before {
        content : '';
        @include dims(40px);
        float: left;
        background-image: url("../../svg/icon-query.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #fff;
        border-radius: 50%;
    }
}

.icon-winners {
    content : '';
    @include dims(40px);
    float: left;
   -webkit-mask: url(../../svg/winners.svg) no-repeat 100% 100%;
    mask: url(../../svg/winners.svg) no-repeat 100% 100%;
    background-color: #f6a922;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.icon-last-winners {
    content : '';
    @include dims(40px);
    float: left;
    -webkit-mask: url(../../svg/last-winners.svg) no-repeat 100% 100%;
    mask: url(../../svg/last-winners.svg) no-repeat 100% 100%;
    background-color: #f6a922;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.icon-last-winner-users {
    content : '';
    @include dims(40px);
    float: left;
    -webkit-mask: url(../../svg/last-winner-users.svg) no-repeat 100% 100%;
    mask: url(../../svg/last-winner-users.svg) no-repeat 100% 100%;
    background-color: #f6a922;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.icon-best-cards {
    content : '';
    @include dims(40px);
    float: left;
    -webkit-mask: url(../../svg/best-cards.svg) no-repeat 100% 100%;
    mask: url(../../svg/best-cards.svg) no-repeat 100% 100%;
    background-color: #f6a922;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.icon-winner-users {
    content : '';
    @include dims(40px);
    float: left;
    -webkit-mask: url(../../svg/winner-users.svg) no-repeat 100% 100%;
    mask: url(../../svg/winner-users.svg) no-repeat 100% 100%;
    background-color: #f6a922;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.icon-purchased-cards {
    content : '';
    @include dims(40px);
    float: left;
    -webkit-mask: url(../../svg/session-cards.svg) no-repeat 100% 100%;
    mask: url(../../svg/session-cards.svg) no-repeat 100% 100%;
    background-color: #f6a922;
    -webkit-mask-size: contain;
    mask-size: contain;
}