/** -------------------------------------------
    Colors
    ------------------------------------------- **/

$color-bg       : #364140;

$color-primary  : #2c3736;
$color-secondary: #8ca982;
$color-tertiary : #f6a922;
$color-fifth    : #f66822;
$color-sixth    : #22bdf6;
$color-usercontent : #272d2c;

$color-error    : #db2132;
$color-cancel   : $color-error;

$color-text     : #B2B4B6;

$color-gray       : #8E8E8E !default; //e1e1e1
$color-dark-gray  : #a6a6a6 !default;
$color-light-gray : #eee !default;

$color-white    : #FFFFFF;
$color-black    : #000000;

/**
 * Border Colors
 *
 * @default $base-border-color: #ccc;
 */
$base-border-color      : $color-gray !default;
$base-border-highlight  : $color-gray !default;
$base-border-disabled   : $color-gray !default;
$base-border-readonly   : $color-gray !default;

/**
 * Field Background Colors
 */
$base-field-background  : null !default;
$base-field-highlight   : $color-white !default;
$base-field-disabled    : $color-gray !default;
$base-field-readonly    : $color-light-gray !default;

$named-colors: (
        info: #337ab7,
        success: #5cb85c,
        warn: #f0ad4e,
        error: #d9534f,
        tooltip: #808c9e
);