/** -------------------------------------------
    Room Color Maps
    ------------------------------------------- **/

$room-head                  : #2c3736 !default;

$room-primary-color         : #8aa237 !default;
$room-secondary-color       : #4e96a1 !default;
$room-tertiary-color        : #9a8659 !default;
$room-quarter-color         : #66b98f !default;

$room-primary-content       : #c4e848 !default;
$room-secondary-content     : #5bccdd !default;
$room-tertiary-content      : #f2d38f !default;
$room-quarter-content       : #93ebbe !default;


//----------------- Lotto - Card Colors -------------------
$card-color-blue: #21729b;
$card-color-blue-light: #4196c1;
$card-color-blue-dark: #00314a;
$card-color-blue-dark-light: #04496c;

$card-color-yellow: #d7d129;
$card-color-yellow-light: #f3ef72;
$card-color-yellow-dark: #646100;
$card-color-yellow-dark-light: #aca713;

$card-color-purple: #8754c6;
$card-color-purple-light: #a579db;
$card-color-purple-dark: #4a1f7f;
$card-color-purple-dark-light: #6b3aa8;

$card-color-ocean: #369292;
$card-color-ocean-light: #65b8b8;
$card-color-ocean-dark: #105151;
$card-color-ocean-dark-light: #1b6e6e;

$card-color-green: #60ac6e;
$card-color-green-light: #96d1a1;
$card-color-green-dark: #235d2d;
$card-color-green-dark-light: #3d874b;

$card-color-red: #cc4e4f;
$card-color-red-light: #ef5d5e;
$card-color-red-dark: #881a19;
$card-color-red-dark-light: #ac3435;
