/** -------------------------------------------
    Button Color Maps
    ------------------------------------------- **/
/**
 * Disabled Button
 */
$base-disabled-color           : $color-tertiary !default;
$base-disabled-text-color      : $color-white !default;
$base-disabled-border          : $color-tertiary !default;

/**
 * Primary Action Button
 */
$base-primary-color           : #22bdf6 !default;
$base-primary-text-color      : $color-white !default;
$base-primary-border          : #22bdf6 !default;

/**
 * Secondary Action Button
 */
$base-secondary-color           : $color-secondary !default;
$base-secondary-text-color      : $color-white !default;
$base-secondary-border          : #666 !default;

/**
 * Secondary Action Button
 */
$base-tertiary-color           : $color-tertiary !default;
$base-tertiary-text-color      : $color-white !default;
$base-tertiary-border          : $color-tertiary !default;

/**
 * Cancel Action Button
 */
$base-cancel-color           : $color-cancel !default;
$base-cancel-text-color      : $color-white !default;
$base-cancel-border          : $color-cancel !default;

/**
 * Color maps
 */
$base-colors: (
        'disabled': $base-disabled-color,
        'disabled-text': $base-disabled-text-color,
        'disabled-border': $base-disabled-border,

        'primary': $base-primary-color,
        'primary-text': $base-primary-text-color,
        'primary-border': $base-primary-border,

        'secondary': $base-secondary-color,
        'secondary-text': $base-secondary-text-color,
        'secondary-border': $base-secondary-border,

        'tertiary': $base-tertiary-color,
        'tertiary-text': $base-tertiary-text-color,
        'tertiary-border': $base-tertiary-border,

        'cancel': $base-cancel-color,
        'cancel-text': $base-cancel-text-color,
        'cancel-border': $base-cancel-border
);

/** -------------------------------------------
    Input Color Maps
    ------------------------------------------- **/

/**
 * Default Input Color
 */
$input-default-bg           : $color-white !default;
$input-default-text         : $color-black !default;
$input-default-border       : transparent !default;
$input-default-border-hover : #666 !default;

/** -------------------------------------------
    Elements Color Maps
    ------------------------------------------- **/

/**
 * Link Color
 */
$color-link             : $color-primary !default;
$color-link-hover       : $color-primary !default;
$color-link-active      : $color-primary !default;

/**
 * Checkbox & Radio Color
 */

$color-checkbox-checked         : $color-primary !default;
$color-checkbox-hover           : $color-primary !default;
$color-checkbox-toogle          : #e0f0fc !default;
$color-checkbox-radius          : #56b9ea !default;
$color-radio-checked            : $color-primary !default;
$color-radio-hover              : $color-primary !default;
