/** -------------------------------------------
    Card Wrapper
    ------------------------------------------- **/

.#{$cssversion} {
    .card-wrapper {
        position: relative;
        float: left;
        padding: 0;
        transform: scale(0.9);
        transform-origin: 0 0;
        width: 50%;
        margin-bottom: 15px;
        &:nth-child(2n){
            left: 20px;
        }

        &:hover, &.buy-prompt {
            .pre-sale { opacity: 1; z-index : 2; }
        }

        &.is-mine {
            .pre-sale { opacity: 0 !important; }
        }
        &.is-sold & {
            .pre-sale {  opacity: 0 !important; }
        }

        .pre-sale {
            position: absolute;
            top: 22px;
            width: 100%;
            height: 79%;
            display: block;
            opacity: 0;
            z-index: 2;
            padding: 0;
            text-align: center;
            color: $color-white;
            background-color: rgba(0,0,0,0.5);

            button {
                left: 0;
                top: 40%;
                font-weight: bold;
                font-size: 10px;
                padding: 5px 20px;
                margin-left: -.5em;
                background-color: #F6A821;
                box-shadow: 0 2px 0 0 #C4871B;
                text-shadow: 1px 1px 1px black;
                border-radius: $base-border-radius;

                &:active {color: #f6a922;}
                &:hover {color: #FFF;}
            }
        }
        .card-table-head {
            position: relative;
            float: left;
            width: 100%;
            color : $color-white;
            font-size: 11px;

            .card-no {
                float:left;
                margin-left: 5px;
                padding: 5px 15px 1px 10px;
                background-color: $card-color-red-dark;
                border-radius: $base-border-radius $base-border-radius 0 0;
            }

            .card-price {
                float: left;
                padding: 2px 8px 0 8px;
                background-color: $card-color-red-dark-light;
                border-radius: 0 $base-border-radius 0 0;
                margin-top: 4px;
            }

            .card-gift{
                width: 20px;
                height: 20px;
                background-color: #fff;
                padding: 2px;
                margin:0 0 0 5px;
                float: left;
                border-radius: 4px;
                i{
                    width: 16px;
                    height: 16px;
                    float: left;
                    -webkit-mask: url(../../svg/giftbox.svg) no-repeat 100% 100%;
                    mask: url(../../svg/giftbox.svg) no-repeat 100% 100%;
                    -webkit-mask-size: cover;
                    mask-size: cover;
                    background-color: #f00;
                    z-index: 1;
                }
            }

            .right-buttons {
                float: right;
                margin-top: -2px;

                .is-checkboxtoggle { width: 30px; }

                input[type="checkbox"] {
                    &:checked {
                        + .item-label {
                            &:before {
                                left: calc(100% - 16px);
                            }

                            &:after {
                                background-color: $color-fifth;
                            }
                        }
                    }

                    + .item-label {
                        &:before {
                            @include dims(12px);
                        }

                        &:after {
                            @include dims(100%, 15px);
                            background-color : $color-usercontent;
                        }
                    }
                }
            }
        }
        .card-table {
            position: relative;
            float: left;
            z-index: 1;
            width: 100%;
            text-align: center;
            border-spacing: 3px;
            border-collapse: separate;
            border-radius: $base-border-radius;
            box-shadow: 2px 2px 5px 0 rgba(31, 60, 24, 1);

            td {
                padding: 5px 0 3px 0;
                width: 21px;
                min-width: 21px;
                color : $color-black;
                background-color: $color-white;
                font-size: 11px;
                text-align: center !important;
                font-weight: 600;
                border-radius: 2px;

                &.selected {
                    animation: none !important;
                    animation-iteration-count: 0;
                }

                &.highlight {
                    background-color: rgba(0,0,0,0.7);
                    color: white;
                    animation: card-number-flash 1s;
                    -webkit-animation-duration: 2s;
                    animation-duration: 2s;
                    -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
                }
            }


        }
        .card-sold {
            //display: none;
            position: absolute;
            top: 22px;
            width: 100%;
            height: 79%;
            z-index: 2;

            > span {
                animation: bounceIn 1s;
                box-shadow: 0 1px 23px 3px rgba(0,0,0,.5);

                position: absolute;
                top: 50%;
                margin-top: -15px;
                width: 100%;
                text-align: center;
                background: rgba(255,255,255,0.8);
                color: $color-black;
                font-size: 12px;
                padding: 5px;
                @include mobile() { font-size: 10px; }
                span{
                    float: left;
                    &.card-mine{
                        float: none;
                        display: inline-block;
                    }
                }
                .card-bonus{
                    width: 28px;
                    height: 28px;
                    background-color: #fff;
                    padding: 4px;
                    margin:0 10px 0 20px;
                    @include mobile() { margin: 0; }
                    i{
                        width: 20px;
                        height: 20px;
                        float: left;
                        -webkit-mask: url(../../svg/giftbox.svg) no-repeat 100% 100%;
                        mask: url(../../svg/giftbox.svg) no-repeat 100% 100%;
                        -webkit-mask-size: cover;
                        mask-size: cover;
                        background-color: #f00;
                        z-index: 1;
                    }
                    
                }
            }

            .sale-cards-container & { display: block; }
            &.sold { display: block; }
        }
        .card-holder {
            position: absolute;
            bottom: -18px;
            left: 0;
            width: 100%;
            padding: 5px 5px 0px 10px;
            background-color: #1f3c18;
            font-size: 10px;
            border-radius: 0 0 5px 5px;

            &.hide-extra {
                display: none;
            }

            .info {
                color : $color-tertiary;
                font-weight: 300;
            }
        }

        &.red {
            .card-no { background-color: $card-color-red; }
            .card-price { background-color: $card-color-red-dark-light; }

            .card-table {
                background-color: $card-color-red;

                td {
                    &.space {
                        background-color: $card-color-red-light;
                    }

                    &.selected {
                        background-color: $card-color-red-dark-light;
                        box-shadow: inset 0 0 0 1px $color-white;
                        color: $color-white;
                    }
                }
            }
        }
        &.green {
            .card-no { background-color: $card-color-green; }
            .card-price { background-color: $card-color-green-dark-light; }

            .card-table {
                background-color: $card-color-green;

                td {
                    &.space {
                        background-color: $card-color-green-light;
                    }

                    &.selected {
                        background-color: $card-color-green-dark-light;
                        box-shadow: inset 0 0 0 1px $color-white;
                        color: $color-white;
                    }
                }
            }
        }
        &.blue {
            .card-no { background-color: $card-color-blue; }
            .card-price { background-color: $card-color-blue-dark-light; }

            .card-table {
                background-color: $card-color-blue;

                td {
                    &.space {
                        background-color: $card-color-blue-light;
                    }

                    &.selected {
                        background-color: $card-color-blue-dark-light;
                        box-shadow: inset 0 0 0 1px $color-white;
                        color: $color-white;
                    }
                }
            }
        }
        &.ocean {
            .card-no { background-color: $card-color-ocean; }
            .card-price { background-color: $card-color-ocean-dark-light; }

            .card-table {
                background-color: $card-color-ocean;

                td {
                    &.space {
                        background-color: $card-color-ocean-light;
                    }

                    &.selected {
                        background-color: $card-color-ocean-dark-light;
                        box-shadow: inset 0 0 0 1px $color-white;
                        color: $color-white;
                    }
                }
            }
        }
        &.yellow {
            .card-no { background-color: $card-color-yellow; }
            .card-price { background-color: $card-color-yellow-dark-light; }

            .card-table {
                background-color: $card-color-yellow;

                td {
                    &.space {
                        background-color: $card-color-yellow-light;
                    }

                    &.selected {
                        background-color: $card-color-yellow-dark-light;
                        box-shadow: inset 0 0 0 1px $color-white;
                        color: $color-white;
                    }
                }
            }
        }
        &.purple {
            .card-no { background-color: $card-color-purple; }
            .card-price { background-color: $card-color-purple-dark-light; }

            .card-table {
                background-color: $card-color-purple;

                td {
                    &.space {
                        background-color: $card-color-purple-light;
                    }

                    &.selected {
                        background-color: $card-color-purple-dark-light;
                        box-shadow: inset 0 0 0 1px $color-white;
                        color: $color-white;
                    }
                }
            }
        }
    }
    .sale-cards-wrapper{
        .card-wrapper{
            &:nth-child(2n){
                left: 0;
            }
        }
    }
    .winner-cards{
        .card-wrapper{
            width: 100%;
        }
    }
    .is-mobile{
        .card-wrapper{
            width: 50%;
            transform: scale(0.7);
            transform-origin: 0 0;
            left: 0 !important;
            @include tablet-portrait{
                transform: none;
                margin: 0 40px 20px 0;
            }
        }
    }
    .oneCol{
        .card-wrapper{
            left: 0 !important;
        }
    }
}


@-webkit-keyframes card-number-flash {
	from,
	50%,
	to {
		opacity: 1;
	}
	25%,
	75% {
		opacity: 0.6;
	}
}

@keyframes card-number-flash {
	from,
	50%,
	to {
		opacity: 1;
	}
	25%,
	75% {
		opacity: 0.6;
	}
}
