/** -------------------------------------------
    Rate Chips
    ------------------------------------------- **/

.#{$cssversion} {
  .chip-list{
      display: inline-block;
      position: relative;
      top: 4px;
    }

  .chip {
    width: 52px;
    height: 52px;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: inline-block;
    margin:0 5px;
    box-sizing:border-box;
    transform: perspective(3000px) rotateX(55deg) rotateZ(0deg);
    transition:all .5s ease;
    cursor: pointer;
    span{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 6;
      font-size: 20px;
      font-weight: 600;
      line-height: 60px;
      color: #fff;
      text-align: center;
    }
  }

  .chip .front {
    width: 101%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    border:4px dashed white;
  }

  .chip .back {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: rotateY(180deg) translateZ(10px);
    -webkit-transform: rotateY(180deg) translateZ(10px);
    -ms-transform: rotateY(180deg) translateZ(10px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .chip .front_b {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: translateZ(-1px);
    -webkit-transform: translateZ(-1px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .chip .back_b {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: translateZ(-9px);
    -webkit-transform: translateZ(-9px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }

  .chip:before {
    content: "";
    margin-left: -5px;
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    -webkit-transform: rotateY(-90deg);
    -webkit-transform-origin: 100% 50%;
    transform: rotateY(-90deg);
    transform-origin: 100% 50%;
  }

  .chip .front_b:before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }

  .chip .front_b:after {
    content: "";
    padding: 12px 0 0 0;
    width: 100%;
    height: 100%;
    font-size: 5em;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    box-sizing: border-box;
    position: absolute;  
    top: 0;
    left: 0;
    z-index: 4;
  }

  .chip:nth-child(1){
    .front_b,.back_b{
      background: #e89709;
    }
    .front_b:before{
      border: 10px solid #e77c09;
    }
    .front_b:after{
      color: #e77c09;
    }
    .back_b{
      background: #e77c09;
    }
  }

  .chip:nth-child(2){
    .front_b,.back_b{
      background: #4196c1;
    }
    .front_b:before{
      border: 10px solid #04496c;
    }
    .front_b:after{
      color: #04496c;
    }
    .back_b{
      background: #04496c;
    }
  }

  .chip:nth-child(3){
    .front_b,.back_b{
      background: #a579db;
    }
    .front_b:before{
      border: 10px solid #6b3aa8;
    }
    .front_b:after{
      color: #6b3aa8;
    }
    .back_b{
      background: #6b3aa8;
    }
  }

  .chip:nth-child(4){
    .front_b,.back_b{
      background: #ef5d5e;
    }
    .front_b:before{
      border: 10px solid #ac3435;
    }
    .front_b:after{
      color: #ac3435;
    }
    .back_b{
      background: #ac3435;
    }
  }

  .chip:nth-child(5){
    .front_b,.back_b{
      background: #65b8b8;
    }
    .front_b:before{
      border: 10px solid #1b6e6e;
    }
    .front_b:after{
      color: #1b6e6e;
    }
    .back_b{
      background: #1b6e6e;
    }
  }

  .chip:nth-child(6){
    .front_b,.back_b{
      background: #3d874b;
    }
    .front_b:before{
      border: 10px solid #3d874b;
    }
    .front_b:after{
      color: #3d874b;
    }
    .back_b{
      background: #3d874b;
    }
  }

  .chip:nth-child(7){
    .front_b,.back_b{
      background: #007F31;
    }
    .front_b:before{
      border: 10px solid #007F31;
    }
    .front_b:after{
      color: #007F31;
    }
    .back_b{
      background: #007F31;
    }
  }

  .chip:nth-child(8){
    .front_b,.back_b{
      background: #222222;
    }
    .front_b:before{
      border: 10px solid #000000;
    }
    .front_b:after{
      color: #000000;
    }
    .back_b{
      background: #000000;
    }
  }

  .chip:hover,.chip.active{
    .back_b{
      -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
      -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
      box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
    }
  }

  .chip.active{
    transform: perspective(3000px) rotateX(55deg) rotateZ(0deg) translateZ(.6em);
    .back_b{
      -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
      -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
      box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
    }
    .front{
      -webkit-animation:spin 4s linear infinite;
      -moz-animation:spin 4s linear infinite;
      animation:spin 4s linear infinite;
    }
  }

  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

}