/** -------------------------------------------
    Game History
    ------------------------------------------- **/

.#{$cssversion} {

	.history-container{
        width: calc( 100% - 5px );
        position: absolute;
        top: 1%;
        z-index: 9;
		padding: 20px 10px;
		overflow: hidden;
		overflow-y: auto;
		display: none;
		min-height: 60%;
		.history-filter{
			height: 40px;
			float: left;
			.filter-node{
				float: left;
				margin-right: 10px;
				position: relative;
				input{
					background: none;
					border: 1px solid #fff;
					color: #fff;
					height: 36px;
					float: left;
				}
				.date-btn{
					position: absolute;
					right: 0;
					top: 0;
					padding: 6px;
					a{
						width: 24px;
						height: 24px;
						display: block;
						background-color: #fff;
						border-radius: 0 3px 3px 0;
			    		-webkit-mask: url(../../svg/calendar.svg) no-repeat 100% 100%;
		                mask: url(../../svg/calendar.svg) no-repeat 100% 100%;
		                -webkit-mask-size: cover;
		                mask-size: cover;
		                background-color: #fff;
		                display: block;
					}
				}
			}
			.dropdown {
			    position: relative
			}

			.dropdown-toggle:focus {
			    outline: 0
			}

			.dropdown-menu {
			    position: absolute;
			    top: 100%;
			    left: 0;
			    z-index: 1000;
			    float: left;
			    min-width: 160px;
			    padding: 5px;
			    margin: 2px 0 0;
			    list-style: none;
			    font-size: 14px;
			    background-color: rgba(0,0,0,0.9);
			    border: 1px solid #ccc;
			    border: 1px solid rgba(0,0,0,.15);
			    border-radius: 4px;
			    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
			    box-shadow: 0 6px 12px rgba(0,0,0,.175);
			    background-clip: padding-box;
			    font-weight: 500;
			    .btn{
				    display: inline-block;
				    padding: 6px 12px;
				    margin-bottom: 0;
				    color: #fff;
				    background-color: rgba(59,121,32,0.5);
				    border-color: #eee;
				    font-weight: 400;
				    text-align: center;
				    white-space: nowrap;
				    vertical-align: middle;
				    -ms-touch-action: manipulation;
				    touch-action: manipulation;
				    cursor: pointer;
				    -webkit-user-select: none;
				    -moz-user-select: none;
				    -ms-user-select: none;
				    user-select: none;
				    background-image: none;
				    border: 1px solid transparent;
				    padding: 5px 10px;
				    font-size: 12px;
				    line-height: 1.5;
				    border-radius: 3px;
				    &.active{
				    	background-color: rgba(59,121,32,1);
				    }
				    &:hover{
				    	background-color: rgba(59,121,32,0.8);
				    }
			    }
			    th{
			    	small,strong{
			    		font-size: 12px;
			    		color: #fff;
			    		display: block;
			    		text-align: center;
			    	}
			    	.btn.uib-right{
			    		i{
			    			width: 18px;
				    		height: 18px;
				    		-webkit-mask: url(../../svg/chevron-right.svg) no-repeat 100% 100%;
			                mask: url(../../svg/chevron-right.svg) no-repeat 100% 100%;
			                -webkit-mask-size: cover;
			                mask-size: cover;
			                background-color: #fff;
			                display: block;
			    		}
			    		margin-left: 2px;
			    	}
			    	.btn.uib-left{
			    		i{
			    			width: 18px;
				    		height: 18px;
				    		-webkit-mask: url(../../svg/chevron-right.svg) no-repeat 100% 100%;
			                mask: url(../../svg/chevron-right.svg) no-repeat 100% 100%;
			                -webkit-mask-size: cover;
			                mask-size: cover;
			                background-color: #fff;
			                display: block;
			                -webkit-transform: rotate(180deg);
							-moz-transform: rotate(180deg);
							-o-transform: rotate(180deg);
							-ms-transform: rotate(180deg);
							transform: rotate(180deg);
			    		}
			    		margin-right: 2px;
			    	}
			    }
			    .uib-daypicker{
			    	td{
			    		padding: 1px;
			    	}
			    }
			    .uib-right{
			    	margin-left: 3px;
			    }
			}

			.dropdown-menu.pull-right {
			    right: 0;
			    left: auto
			}

			.dropdown-menu .divider {
			    height: 1px;
			    margin: 9px 0;
			    overflow: hidden;
			    background-color: #e5e5e5
			}

			.dropdown-menu>li>a {
			    display: block;
			    padding: 3px 20px;
			    clear: both;
			    font-weight: 400;
			    line-height: 1.42857143;
			    color: #333;
			    white-space: nowrap
			}

			.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus {
			    text-decoration: none;
			    color: #262626;
			    background-color: #f5f5f5
			}

			.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus {
			    color: #fff;
			    text-decoration: none;
			    outline: 0;
			    background-color: #428bca
			}

			.dropdown-menu>.disabled>a,.dropdown-menu>.disabled>a:hover,.dropdown-menu>.disabled>a:focus {
			    color: #999
			}

			.dropdown-menu>.disabled>a:hover,.dropdown-menu>.disabled>a:focus {
			    text-decoration: none;
			    background-color: transparent;
			    background-image: none;
			    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
			    cursor: not-allowed
			}

			.open>.dropdown-menu {
			    display: block
			}

			.open>a {
			    outline: 0
			}

			.dropdown-menu-right {
			    left: auto;
			    right: 0
			}

			.dropdown-menu-left {
			    left: 0;
			    right: auto
			}

			.dropdown-header {
			    display: block;
			    padding: 3px 20px;
			    font-size: 12px;
			    line-height: 1.42857143;
			    color: #999
			}

			.dropdown-backdrop {
			    position: fixed;
			    left: 0;
			    right: 0;
			    bottom: 0;
			    top: 0;
			    z-index: 990
			}

			.pull-right>.dropdown-menu {
			    right: 0;
			    left: auto
			}

			.dropup .caret,.navbar-fixed-bottom .dropdown .caret {
			    border-top: 0;
			    border-bottom: 4px solid;
			    content: ""
			}

			.dropup .dropdown-menu,.navbar-fixed-bottom .dropdown .dropdown-menu {
			    top: auto;
			    bottom: 100%;
			    margin-bottom: 1px
			}

			@media (min-width: 768px) {
			    .navbar-right .dropdown-menu {
			        left:auto;
			        right: 0
			    }

			    .navbar-right .dropdown-menu-left {
			        left: 0;
			        right: auto
			    }
			}

			.btn-group,.btn-group-vertical {
			    position: relative;
			    display: inline-block;
			    vertical-align: middle
			}

			.btn-group>.btn,.btn-group-vertical>.btn {
			    position: relative;
			    float: left
			}

			.btn-group>.btn:hover,.btn-group-vertical>.btn:hover,.btn-group>.btn:focus,.btn-group-vertical>.btn:focus,.btn-group>.btn:active,.btn-group-vertical>.btn:active,.btn-group>.btn.active,.btn-group-vertical>.btn.active {
			    z-index: 2
			}

			.btn-group>.btn:focus,.btn-group-vertical>.btn:focus {
			    outline: 0
			}

			.btn-group .btn+.btn,.btn-group .btn+.btn-group,.btn-group .btn-group+.btn,.btn-group .btn-group+.btn-group {
			    margin-left: -1px
			}

			.btn-toolbar {
			    margin-left: -5px
			}

			.btn-toolbar .btn-group,.btn-toolbar .input-group {
			    float: left
			}

			.btn-toolbar>.btn,.btn-toolbar>.btn-group,.btn-toolbar>.input-group {
			    margin-left: 5px
			}

			.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
			    border-radius: 0
			}

			.btn-group>.btn:first-child {
			    margin-left: 0
			}

			.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
			    border-bottom-right-radius: 0;
			    border-top-right-radius: 0
			}

			.btn-group>.btn:last-child:not(:first-child),.btn-group>.dropdown-toggle:not(:first-child) {
			    border-bottom-left-radius: 0;
			    border-top-left-radius: 0
			}

			.btn-group>.btn-group {
			    float: left
			}

			.btn-group>.btn-group:not(:first-child):not(:last-child)>.btn {
			    border-radius: 0
			}

			.btn-group>.btn-group:first-child>.btn:last-child,.btn-group>.btn-group:first-child>.dropdown-toggle {
			    border-bottom-right-radius: 0;
			    border-top-right-radius: 0
			}

			.btn-group>.btn-group:last-child>.btn:first-child {
			    border-bottom-left-radius: 0;
			    border-top-left-radius: 0
			}

			.btn-group .dropdown-toggle:active,.btn-group.open .dropdown-toggle {
			    outline: 0
			}

			.btn-group>.btn+.dropdown-toggle {
			    padding-left: 8px;
			    padding-right: 8px
			}

			.btn-group>.btn-lg+.dropdown-toggle {
			    padding-left: 12px;
			    padding-right: 12px
			}

			.btn-group.open .dropdown-toggle {
			    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
			    box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
			}

			.btn-group.open .dropdown-toggle.btn-link {
			    -webkit-box-shadow: none;
			    box-shadow: none
			}

			.btn .caret {
			    margin-left: 0
			}

			.btn-lg .caret {
			    border-width: 5px 5px 0;
			    border-bottom-width: 0
			}

			.dropup .btn-lg .caret {
			    border-width: 0 5px 5px
			}

			.btn-group-vertical>.btn,.btn-group-vertical>.btn-group,.btn-group-vertical>.btn-group>.btn {
			    display: block;
			    float: none;
			    width: 100%;
			    max-width: 100%
			}

			.btn-group-vertical>.btn-group>.btn {
			    float: none
			}

			.btn-group-vertical>.btn+.btn,.btn-group-vertical>.btn+.btn-group,.btn-group-vertical>.btn-group+.btn,.btn-group-vertical>.btn-group+.btn-group {
			    margin-top: -1px;
			    margin-left: 0
			}

			.btn-group-vertical>.btn:not(:first-child):not(:last-child) {
			    border-radius: 0
			}

			.btn-group-vertical>.btn:first-child:not(:last-child) {
			    border-top-right-radius: 4px;
			    border-bottom-right-radius: 0;
			    border-bottom-left-radius: 0
			}

			.btn-group-vertical>.btn:last-child:not(:first-child) {
			    border-bottom-left-radius: 4px;
			    border-top-right-radius: 0;
			    border-top-left-radius: 0
			}

			.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn {
			    border-radius: 0
			}

			.btn-group-vertical>.btn-group:first-child:not(:last-child)>.btn:last-child,.btn-group-vertical>.btn-group:first-child:not(:last-child)>.dropdown-toggle {
			    border-bottom-right-radius: 0;
			    border-bottom-left-radius: 0
			}

			.btn-group-vertical>.btn-group:last-child:not(:first-child)>.btn:first-child {
			    border-top-right-radius: 0;
			    border-top-left-radius: 0
			}

			.btn-group-justified {
			    display: table;
			    width: 100%;
			    table-layout: fixed;
			    border-collapse: separate
			}

			.btn-group-justified>.btn,.btn-group-justified>.btn-group {
			    float: none;
			    display: table-cell;
			    width: 1%
			}

			.btn-group-justified>.btn-group .btn {
			    width: 100%
			}

			[data-toggle=buttons]>.btn>input[type=radio],[data-toggle=buttons]>.btn>input[type=checkbox] {
			    display: none
			}

			.input-group {
			    position: relative;
			    display: table;
			    border-collapse: separate
			}

			.input-group[class*=col-] {
			    float: none;
			    padding-left: 0;
			    padding-right: 0
			}

			.input-group .form-control {
			    position: relative;
			    z-index: 2;
			    float: left;
			    width: 100%;
			    margin-bottom: 0
			}

			.input-group-lg>.form-control,.input-group-lg>.input-group-addon,.input-group-lg>.input-group-btn>.btn {
			    height: 46px;
			    padding: 10px 16px;
			    font-size: 18px;
			    line-height: 1.33;
			    border-radius: 6px
			}

			select.input-group-lg>.form-control,select.input-group-lg>.input-group-addon,select.input-group-lg>.input-group-btn>.btn {
			    height: 46px;
			    line-height: 46px
			}

			textarea.input-group-lg>.form-control,textarea.input-group-lg>.input-group-addon,textarea.input-group-lg>.input-group-btn>.btn,select[multiple].input-group-lg>.form-control,select[multiple].input-group-lg>.input-group-addon,select[multiple].input-group-lg>.input-group-btn>.btn {
			    height: auto
			}

			.input-group-sm>.form-control,.input-group-sm>.input-group-addon,.input-group-sm>.input-group-btn>.btn {
			    height: 30px;
			    padding: 5px 10px;
			    font-size: 12px;
			    line-height: 1.5;
			    border-radius: 3px
			}

			select.input-group-sm>.form-control,select.input-group-sm>.input-group-addon,select.input-group-sm>.input-group-btn>.btn {
			    height: 30px;
			    line-height: 30px
			}

			textarea.input-group-sm>.form-control,textarea.input-group-sm>.input-group-addon,textarea.input-group-sm>.input-group-btn>.btn,select[multiple].input-group-sm>.form-control,select[multiple].input-group-sm>.input-group-addon,select[multiple].input-group-sm>.input-group-btn>.btn {
			    height: auto
			}

			.input-group-addon,.input-group-btn,.input-group .form-control {
			    display: table-cell
			}

			.input-group-addon:not(:first-child):not(:last-child),.input-group-btn:not(:first-child):not(:last-child),.input-group .form-control:not(:first-child):not(:last-child) {
			    border-radius: 0
			}

			.input-group-addon,.input-group-btn {
			    width: 1%;
			    white-space: nowrap;
			    vertical-align: middle
			}

			.input-group-addon {
			    padding: 6px 12px;
			    font-size: 14px;
			    font-weight: 400;
			    line-height: 1;
			    color: #555;
			    text-align: center;
			    background-color: #eee;
			    border: 1px solid #ccc;
			    border-radius: 4px
			}

			.input-group-addon.input-sm {
			    padding: 5px 10px;
			    font-size: 12px;
			    border-radius: 3px
			}

			.input-group-addon.input-lg {
			    padding: 10px 16px;
			    font-size: 18px;
			    border-radius: 6px
			}

			.input-group-addon input[type=radio],.input-group-addon input[type=checkbox] {
			    margin-top: 0
			}

			.input-group .form-control:first-child,.input-group-addon:first-child,.input-group-btn:first-child>.btn,.input-group-btn:first-child>.btn-group>.btn,.input-group-btn:first-child>.dropdown-toggle,.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle),.input-group-btn:last-child>.btn-group:not(:last-child)>.btn {
			    border-bottom-right-radius: 0;
			    border-top-right-radius: 0
			}

			.input-group-addon:first-child {
			    border-right: 0
			}

			.input-group .form-control:last-child,.input-group-addon:last-child,.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group>.btn,.input-group-btn:last-child>.dropdown-toggle,.input-group-btn:first-child>.btn:not(:first-child),.input-group-btn:first-child>.btn-group:not(:first-child)>.btn {
			    border-bottom-left-radius: 0;
			    border-top-left-radius: 0
			}

			.input-group-addon:last-child {
			    border-left: 0
			}

			.input-group-btn {
			    position: relative;
			    font-size: 0;
			    white-space: nowrap
			}

			.input-group-btn>.btn {
			    position: relative
			}

			.input-group-btn>.btn+.btn {
			    margin-left: -1px
			}

			.input-group-btn>.btn:hover,.input-group-btn>.btn:focus,.input-group-btn>.btn:active {
			    z-index: 2
			}

			.input-group-btn:first-child>.btn,.input-group-btn:first-child>.btn-group {
			    margin-right: -1px
			}

			.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group {
			    margin-left: -1px
			}
		}

		.close-btn{
			float: right;
			margin-bottom: 10px;
		}
		&.show-history{
			display: block;
		}
		@include scrollbar(.2em, 96%, #9bbe4d, rgba(32, 77, 14, 1));
		.history-section{
			> table.one-whole {
			    font-size: 14px;
			    text-align: center;
			    font-weight: 300;
			    table-layout: fixed;
			    > thead, > tbody{
				    > tr {
				    	> th { 
				    	font-weight: 600; 
				    	border-top: 1px solid #fff;
					    }
					    > th, > td { 
					    	color : $color-white; 
					    	padding: 5px 10px; 
					    	border-right: 1px solid #fff; 
					    	border-bottom: 1px solid #fff;
					    	font-weight: 500;
					    	&:first-child{
					    		border-left: 1px solid #fff;
					    	}
					    }
				        &:hover {
				            background: rgba(255, 255, 255, 0.8);
				            color : $color-white;
				            border-radius: $base-border-radius;
				        }

				        &:nth-child(2n) {
				            background: rgba(0, 0, 0, 0.2);
				        }

				        > th,
				        > td {
				            &:first-child { text-align: left; }
							button {
								background-color: $color-white;
								color: $color-black;
								padding: 10px;
								margin: 2px 0px;
								font-weight: 600;
							}
							span{
								color : $color-white;
								&.purchased-card{
									font-size: 14px;
								    font-weight: 500;
								    padding: 0 14px;
								    border-radius: 3px;
								    border: 1px solid #fff;
								    &.color-red{
								    	background-color: #cc4e4f;
								    }
								    &.color-blue{
								    	background-color: #21729b;
								    }
								    &.color-ocean{
								    	background-color: #369292;
								    }
								    &.color-yellow{
								    	background-color: #d7d129;
								    }
								    &.color-green{
								    	background-color: #60ac6e;
								    }
								    &.color-purple{
								    	background-color: #8754c6;
								    }
								}
							}
				        }

				        > th{
				        	font-weight: 600;
				        	background-color: rgba(0,0,0,0.2) !important;
				        }

						&.expanded, &:hover, &.expanded > td {
							background-color: rgba(0,0,0,0.2) !important;

							.session-detail{
								padding: 20px 0;
								text-align: left;
								h4 {
									width: 100%;
									color: #f6a922;
									font-weight: 600;
									float: left;
									margin-bottom: 5px;
								}

								.number-info{
									width: 100%;
									float: left;
									padding: 15px;
								}

								.winner-details{
									margin-top: 20px;
								}

								.earning-details{
									margin-top: 20px;
								}

								.number {
									background-color: $color-tertiary;
									color: $color-black;
									width: 40px;
									height: 40px;
									line-height: 40px;
									margin: 5px;
									text-align: center;
									font-size: 18px;
									border-radius: 100%;
									float: left;
									cursor: pointer;
								}

								.reward-index {
									width: 100%;
								    margin: 2px 10px;
									float: left;

									.winner-index {
										width: 100%;
										margin-bottom: 10px;
										font-weight: bold;
									    float: left;
									}
									.winner-card-info {
										border-radius: 5px;
										display: inline-block;
										padding: 1px 4px;
									    margin-left: 10px;
										color: #fff;
									    float: left;

										&.red {
											background-color: $card-color-red-dark-light;
										}
										&.green {
											background-color: $card-color-green-dark-light;
										}
										&.blue {
											background-color: $card-color-blue-dark-light;
										}
										&.ocean {
											background-color: $card-color-ocean-dark-light;
										}
										&.yellow {
											background-color: $card-color-yellow-dark-light;
										}
										&.purple {
											background-color: $card-color-purple-dark-light;
										}

									}
								}

							}


						}
				    }
			    }
			    
			}
			.reward-type-wrapper{
				.reward-type{
					width: 25%;
				    float: left;
				    font-size: 12px;
				    font-weight: normal;
				    line-height: 22px;
				    text-align: left;
				    border-left: 1px solid #bbb;
				    padding: 0 10px 0 40px;
				    position: relative;
				    &:first-child{
				    	border-left: none;
				    }
				}
			}
		}
		
        .winner-cards{
        	width: 100%;
        	float: left;
        	.reward-container{
        		width: 25%;
        		float: left;
        		font-size: 12px;
			    font-weight: normal;
			    line-height: 22px;
			    text-align: left;
			    border-left: 1px solid #bbb;
			    padding: 0 10px 0 40px;
			    position: relative;
			    &:first-child{
			    	border-left: none;
			    }
        	}
        	.winner-card-numbers{
        		width: 40px;
			    font-size: 14px;
			    font-weight: 500;
			    border-radius: 3px;
			    border:1px solid #fff;
			    float: left;
			    text-align: center;
			    margin: 0 5px 5px 0;
			    &.color-red{
			    	background-color: #cc4e4f;
			    }
			    &.color-blue{
			    	background-color: #21729b;
			    }
			    &.color-ocean{
			    	background-color: #369292;
			    }
			    &.color-yellow{
			    	background-color: #d7d129;
			    }
			    &.color-green{
			    	background-color: #60ac6e;
			    }
			    &.color-purple{
			    	background-color: #8754c6;
			    }
	        }
        }

        .reward-icon {
            @include dims(24px);
            content : '';
            display: inline-block;
            background-color: #f6a922;
            background-size: cover;
            position: absolute;
            top: -3px;
            left: 10px;
            &.line1 {
                width: 28px;
                height: 28px;
                -webkit-mask: url(../../svg/star-1.svg) no-repeat 100% 100%;
                mask: url(../../svg/star-1.svg) no-repeat 100% 100%;
                -webkit-mask-size: contain;
                mask-size: contain;
                top: -6px;
            }
            &.line2 {
                -webkit-mask: url(../../svg/star-2.svg) no-repeat 100% 100%;
                mask: url(../../svg/star-2.svg) no-repeat 100% 100%;
                -webkit-mask-size: contain;
                mask-size: contain;
            }
            &.line3 {
                -webkit-mask: url(../../svg/star-3.svg) no-repeat 100% 100%;
                mask: url(../../svg/star-3.svg) no-repeat 100% 100%;
                -webkit-mask-size: contain;
                mask-size: contain;
            }
            &.line4 {
                -webkit-mask: url(../../svg/star-4.svg) no-repeat 100% 100%;
                mask: url(../../svg/star-4.svg) no-repeat 100% 100%;
                -webkit-mask-size: contain;
                mask-size: contain;
                left: 8px;
            }
        }

		.pagination {
		    display: inline-block;
		    width: 100%;
		    margin-top: $base-gutter;
		    text-align: center;

		    > li {
		        float: none;
		        display: inline-block;
		        width: auto;
		        margin: 0 5px;

		        > a {
		            min-width: 24px;
		            padding: 2px 10px;
		            color: $color-white;
		            font-size: 16px;
		            border-radius: $base-border-radius;
		            border: 1px solid #aaa;
		            font-weight: 600;
		            &:hover {
		                background-color: $color-white;
		                color: $color-black;
		            }
		        }

		        &.active {
		            > a { 
		            	background-color: $color-white;
		                color: $color-black; 
		            }
		        }
		    }
		}

		.empty-log{
			width: 100%;
			float: left;
			padding: 20px 0;
			font-size: 14px;
			font-weight: 500;
			color: #fff;
		}

		.history-loader{

		}

	}

}