/** -------------------------------------------
    Number List
    ------------------------------------------- **/

.#{$cssversion} {
    .number-list {
        display          : inline-block;
        position         : relative;
        padding          : 10px 5px 5px 10px;
        border-radius    : 10px;
        background-color : #2f3837;
        box-shadow       : inset 0 -3px 0 rgba(35, 31, 32, 0.26);

        > span {
            float            : left;
            width            : 30px;
            height           : 25px;
            margin-bottom    : 5px;
            margin-right     : 5px;
            line-height      : 25px;
            color            : #59605f;
            font-size        : 12px;
            text-align       : center;
            background-color : #282f2f;
            border-radius    : $base-border-radius;

            &.selected {
                color            : $color-white;
                background-color : $color-fifth;
            }
            &.last {
                background-color : $color-fifth;
                animation        : tada 1s;
            }
            &.winner {
                color            : $color-fifth;
                background-color : $color-white;
            }


        }
    }

	.device-tablet-land {
		.number-list {
			> span { width  : 29.5px; }
		}
	}
}
