/** -------------------------------------------
    Rooms
    ------------------------------------------- **/

.#{$cssversion} {
    .rooms {
        display: none;
    }
    .room-item{
        margin-bottom: 20px;
        .bonus-rewards{
            width: 100%;
            height: 24px;
            position: absolute;
            bottom: -24px;
            overflow: hidden;
            .rate-reward {
                float: left;
                color: #fff;
            }
            .rate-node{
                float: left;
            }
        }
        video{
            position: relative;
            left: -4px;
        }
        video::-webkit-media-controls {
          display: none;
        }
    }

    .room {
        display: inline-block;
        border-radius: 20px 20px 0 20px;
        width: 101%;
        height: 281px;
        overflow: hidden;
        border: 1px solid #c3e848;
        .room-image{
            width: 100%;
            height: 191px;
            float: left;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                float: left;
            }
        }

        &-primary {
            background-color: $room-primary-content !important;;

            .room-content {

                &:before {
                    @include retina-image('layer/green-light');
                }

                hr {
                    border-color: $room-primary-color;
                    margin: 0 auto 10px auto;
                }

                .room-login {
                    > a { background-color: $room-primary-color !important; border-color: $room-primary-color !important;; }
                }
            }
        }
        &-secondary {
            background-color: $room-secondary-content !important;;

            .room-content {

                &:before {
                    @include retina-image('layer/blue');
                }

                hr {
                    border-color: $room-secondary-color;
                }

                .room-login {
                    > a { background-color: $room-secondary-color !important;; border-color: $room-secondary-color !important;; }
                }
            }
        }
        &-tertiary {
            background-color: $room-tertiary-content !important;;

            .room-content {

                &:before {
                    @include retina-image('layer/orange');
                }
                hr {
                    border-color: $room-tertiary-color;
                }
                .room-login {
                    > a { background-color: $room-tertiary-color !important;; border-color: $room-tertiary-color !important;; }
                }
            }
        }
        &-quarter {
            background-color: $room-quarter-color !important;;

            .room-content {
                background-color: $room-quarter-content !important;;

                &:before {
                    @include retina-image('layer/green');
                }
                hr {
                    border-color: $room-quarter-color;
                }
                .room-login {
                    > a { background-color: $room-quarter-color !important;; border-color: $room-quarter-color !important;; }
                }
            }
        }

        &-head {
            position: relative;
            float: left;
            width: 100%;
            background-color: $room-head;
            padding: 10px 15px 0 15px;

            .head-title {
                position: relative;
                display: inline-block;
                width: 100%;
                font-size: 16px;
                line-height: 24px;
                color : $color-white;
                font-weight: 500;
                text-align: left;

                .room-live {
                    background-color: $color-cancel;
                    color : $color-white;
                }
                .room-auto {
                    background-color: #4d5958;
                    color : $color-white;
                    line-height: 12px;
                    font-size: 12px;
                }

                > div {
                    position: absolute;
                    right: 0;
                    top: 12px;
                    @include dims(45px);
                    line-height: 25px;
                    padding: 10px 0;
                    font-size: 14px;
                    text-align: center;
                    border-radius: 50%;
                }
            }
            .head-list {
                position: relative;
                display: inline-block;
                width: 100%;
                margin: 30px 0 0 0;

                li {
                    margin-bottom: 0.6em;

                    > span {
                        float: left;
                        margin-left: 10px;
                        font-size: 16px;
                        line-height: 25px;
                        font-weight: 600;
                        color: $color-white;

                        &.li-icon { margin-left: 0; }
                        &.li-seans {
                            color : #3399be;
                        }
                        &.li-selection {
                            color : #5ea93d;
                        }
                        &:last-child { float: right; }

                        @include tablet-landscape() {
                            font-size: 13px;
                        }
                    }
                }
            }

            @include tablet-landscape() {
                .head-title { font-size: 15px; line-height: 25px; }
                ol li > span { font-size: 13px; }
            }

        }
        &-jackpot {
            float: left;
            width: 100%;
            background-repeat: no-repeat;
            background-position: left center;
            background-size: contain;
            padding: 15px 0;
            font-size: 16px;
            color: $color-white;
            font-weight: 500;

            span { color: $color-tertiary; }
        }
        &-wrapper{
            width: 63%;
            float: left;
        }
        &-content {
            float: left;
            width: 37%;
            color : $color-black;
            font-weight: 600;
            hr {
                width: 75%;
                border-width: 1px 0 0;
            }

            .rate-title {
                margin: 5px 0;
                font-size: 16px;
                text-align: center;
            }

            .rate-reward-wrapper{
                text-align: center;
                margin-bottom: 5px;
            }

            .extra-rewards{
                height: 48px;
            }

            .rate-reward {
                position: relative;
                display: inline-block;
                margin:0 5px 0 5px;
                box-sizing: border-box;
                width: 100%;
                text-align: center;
                .reward-wrapper{
                    display: inline-block;
                    line-height: 26px;
                    span{
                        width: 50px;
                        text-align: left;
                        display: inline-block;
                    }
                }
                > span {
                    float: left; font-size: 12px; line-height: 22px; padding: 0 10px;
                }

                &.common {
                    > span {
                        &:nth-child(2){
                            text-align: center;
                            padding: 0;
                        }
                        &:nth-last-child(1){
                            text-align: right;
                            font-size: 16px;
                        }
                    }
                }

                &.extra {
                    > span {
                        float: left;
                        font-weight: bold;
                        &.reward-landscape{
                            display: inline-block;
                            float: none;
                            .reward-info{
                                font-weight: normal;
                                width: 120px
                            }
                            span:first-child{
                                font-weight: normal;
                            }
                        }
                    }
                }

                &.special-gift {
                    padding: 5px 20px;
                    text-align: justify;
                    width: 80%;
                    margin: 0 auto;
                }

                .extra-draw {
                    background-color: #fff;
                    border-radius: 50%;
                    border: 1px dashed #1f4d0b;
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    font-size: 10px;
                    text-align: center;
                }

                .reward-icon {
                    @include dims(24px);
                    content : '';
                    display: inline-block;
                    background-color: #000;
                    background-size: cover;
                    position: relative;
                    float: left;
                    &.line1 {
                        width: 28px;
                        height: 28px;
                        -webkit-mask: url(../../svg/star-1.svg) no-repeat 100% 100%;
                        mask: url(../../svg/star-1.svg) no-repeat 100% 100%;
                        -webkit-mask-size: contain;
                        mask-size: contain;
                    }
                    &.line2 {
                        -webkit-mask: url(../../svg/star-2.svg) no-repeat 100% 100%;
                        mask: url(../../svg/star-2.svg) no-repeat 100% 100%;
                        -webkit-mask-size: contain;
                        mask-size: contain;
                    }
                    &.line3 {
                        -webkit-mask: url(../../svg/star-3.svg) no-repeat 100% 100%;
                        mask: url(../../svg/star-3.svg) no-repeat 100% 100%;
                        -webkit-mask-size: contain;
                        mask-size: contain;
                    }
                    &.line4 {
                        -webkit-mask: url(../../svg/star-4.svg) no-repeat 100% 100%;
                        mask: url(../../svg/star-4.svg) no-repeat 100% 100%;
                        -webkit-mask-size: contain;
                        mask-size: contain;
                        left: -2px;
                    }
                }
            }

            .room-login {
                position: absolute;
                bottom: 25px;
                left: 20px;
                width: 37%;
                text-align: center;
                > a {
                    display: inline-block;
                    margin: 5px auto 5px auto;
                    padding: 11px 17px;
                    font-size: 14px;
                    border-radius: 10px;
                }
            }

            @include tablet-landscape() {
                .rate-title { margin-bottom: 15px; font-size: 14px; }
                .rate-reward {
                    > span {
                        font-size: 12px;

                        &:nth-child(3) {
                            font-size: 14px;
                        }
                    }
                }
                .room-login {
                    > a { font-size: 14px; padding: 10px 15px;}
                }
            }
        }

        //
        // Mobil Responsive
        &.is-mobile {
            border-radius: 30px;
            margin-bottom: $base-gutter;
            height: auto;
            .room-head {
                padding: 20px 10px 0 10px;
                border-radius: 30px 30px 0 0;

                .head-title {
                    font-size: 16px;
                    line-height: 20px;

                    > div {
                        @include dims(40px);
                        line-height: 20px;
                        padding: 10px 0;
                        font-size: 12px;
                    }

                    .room-auto {
                        line-height: 10px;
                        font-size: 11px;
                        top: 4px;
                        line-height: 20px !important;
                    }
                }
                .head-list {
                    margin: $base-gutter 0 0 0;

                    li {
                        margin: 0;

                        > span {
                            font-size: 12px;
                            line-height: 30px;
                            font-weight: 400;
                        }
                    }
                }
            }

            .room-content {
                width: 100%;
                padding: 0;
                margin-top: 5px;
                font-weight: 400;
                border-radius: 0 0 30px 30px;
                text-align: left;
                .rate-title {
                    margin-bottom: 10px;
                    font-size: 13px;
                    font-weight: 600;
                }
                .rate-reward {
                    margin-bottom: 2px;

                    > span {
                        font-size: 12px;
                        span{
                            display: inline-block;
                        }
                        &:nth-child(3) {
                            font-weight: 600;
                        }
                    }
                }
                .room-login {
                    width: 100%;
                    position: relative;
                    bottom: 0;
                    > a {
                        padding: 10px 15px;
                        width: 75%;
                        font-size: 15px;
                    }
                }
            }
        }

        //
        // special-gift Skin
        &-specialgift {

            .room-present {
                float: left;
                width: 100%;
                @include retina-image('bg-room-jackpot');
                background-repeat: no-repeat;
                background-position: left center;
                background-size: contain;

                padding: 15px 40px;
                text-align: center;
                font-size: 18px;
                color: $color-white;
                font-weight: 300;
                line-height: 40px;
                span { color: $color-tertiary; }
            }

            .icon-present {
                &:before {
                    content : '';
                    @include retina-image('icon-present');
                    @include dims(40px);
                    float: left;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center center;
                }
                &.right {
                    float: right;
                }
            }
        }
        
    }

    @include tablet-landscape() {
        .room{
            height: 380px;
            .room-image{
                height: 100%;
            }
        }
        .room-item{
            video{
                position: relative;
                left: -4px;
                width: 101%;
                height: 100%;
            }
        }
        .reward-landscape{
            display: inline-block;
            float: none;
            font-weight: normal !important;
        }
    }
}
