/** -------------------------------------------
    Video Player
    ------------------------------------------- **/
//
// Vide Player
.#{$cssversion} {
    .video {
        position      : relative;
        float         : left;
        width         : 100%;
        background    : #1e2322;
        border-radius : 10px 10px 0 0;
        min-height    : 305px;

        .stream {
            width  : 100%;
            height : 100%;

            .vplayer-flash-run{
                position: absolute;
                z-index: 99;
                left: 50%;
                margin-left: -56px;
                top: 50%;
                margin-top: -20px;
            }

            .vplayer-auto {
                .number {
                    background-image  : url("../../svg/dashboard-ball.svg");
                    background-repeat : no-repeat;
                    background-size   : contain;
                    position          : absolute;
                    width             : 200px;
                    height            : 200px;
					line-height		  : 120px;
                    text-shadow       : 0 1px 0 rgba(0, 0, 0, 0.5);
                    top               : calc(50% - 100px);
                    left              : calc(50% - 100px);
                    text-align        : center;

                    > span {
                        display   : inline-block;
                        position  : relative;
                        top       : 20%;
                        color     : $color-white;
                        font-size : 90px;
                    }

                    &.ng-enter {
                        -webkit-animation : 0.7s showBall;
                        animation         : 0.7s showBall;
                    }

                    &.ng-leave {
                        -webkit-animation : 0.3s hideBall;
                        animation         : 0.3s hideBall;
                    }
                }
            }
        }
        .cooldown-container {
            position   : absolute;
            top        : 0;
            width      : 100%;
            height     : 100%;
            background : #1e2322;

            &:before {
                content             : '';
                position            : relative;
                left                : calc(50% - 55px);
                @include retina-image('icon-time');
                display             : block;
                margin-bottom       : 10px;
                margin-top          : 18%;
                width               : 85px;
                height              : 120px;
                background-repeat   : no-repeat;
                background-size     : contain;
                background-position : center center;
            }

            > span {
                display     : inline-block;
                width       : 100%;
                font-size   : 20px;
                color       : $color-white;
                font-weight : 300;
                text-align  : center;

                > em {
                    color      : $color-tertiary;
                    font-style : italic;
                    clear      : both;
                }
            }

			&.is-live {
				background: transparent !important;

				> span { background-color: #000000 !important; padding: 3px 0; }
			}
        }
        .winners {
            position : absolute;
            top      : 0;
            right    : 0;
            width    : 40%;

            .winner-head {
                padding       : 3px;
                font-size     : 12px;
                background    : $color-tertiary;
                color         : $color-usercontent;
                font-weight   : 300;
                border-radius : 0 0 20px 0;

                &:before {
                    content             : '';
                    float               : left;
                    @include dims(15px);
                    background-image    : url("../../svg/cinko.svg");
                    background-repeat   : no-repeat;
                    background-position : center center;
                    background-size     : contain;
                    margin-right        : 5px;
                }
            }

            .line-3 {
                .winner-head {
                    &:before {
                        background-image : url("../../svg/tombala.svg");
                    }
                }
            }

            .card-item {
                display : block;
                clear   : both;
            }
        }
        .stats-content{
            padding: 5px 20px 5px 10px;
            position: absolute;
            left: 0;
            top: 0;
            background:rgba(0,0,0,0.5);
            border-radius: 0 0 5px 0;
            span{
                line-height: 20px;
                font-size: 13px;
                color: #fff;
                float: left;
                &.stats-tv{
                    margin-left: 10px;
                }
            }
        }
    }

    //
    // Messaenger
    .messenger {
        float : left;
        width : 100%;

        .messenger-container {
            position   : absolute !important;
            bottom        : 63px;
            width      : 64%;
            height     : 50%;
            @include scrollbar(.3em, 100%, $color-secondary, rgba(30, 35, 34, 0.8));
            overflow-y : auto;
            border-radius: 10px;
			&.cool {
				opacity: 0;
			}

			&:hover, &.hot {
				opacity: 1 !important;
			}

            .cell {
                position       : absolute;
                width          : 100%;
                padding        : 10px;
                vertical-align : bottom;
                bottom         : 0;
            }

            .bubble-item {
                width : 100%;
                float : left;
                animation-duration: .3s;
                animation-name: fadeAndScale;
                animation-timing-function: cubic-bezier(.71,.55,.62,1.57);

                .bubble {
                    position  : relative;
                    float     : left;
                    font-size : 10px;
                    line-height: 16px;

                    &-title {
                        float     : left;
                        top       : 0;
                        margin-right: 5px;
                        color: orange;
                        font-weight: 600;
                        text-shadow   : 0px 0px 4px #000;
                    }

                    &-msg {
                        overflow      : hidden !important;
                        text-overflow : ellipsis;
                        color:#fff;
                        text-shadow   : 0px 0px 4px #000;
                    }

                    &.received {
                        float         : left;
                        color         : #2a3030;
                    }

                    &.mine {
                        margin        : 0;
                        color         : $color-white;

                        .bubble-title {
                            color: #02d002;
                        }
                    }

                }
            }
        }
        .actions {
            float            : left;
            position         : relative;
            padding          : 10px 0;
            width            : 100%;
            background-color : $color-primary;
            border-radius    : 0 0 10px 10px;

            input {
				float:left;
                width            : 80%;
                background-color : transparent;
            }
        }
    }

    //
    // Video Player Control
    .vi-controls {
        position : absolute;
        bottom   : 15px;
        right    : 10px;

        .player-icons {
            width                 : 30px;
            height                : 30px;
            float                 : left;
            margin-right          : 5px;
            -webkit-border-radius : 50%;
            -moz-border-radius    : 50%;
            -ms-border-radius     : 50%;
            border-radius         : 50%;
            background-color      : #46862B;
            display               : inline-block;
            background-repeat     : no-repeat;
            background-position   : center center;

            &.play {
                background-image : url("../../svg/player_play.svg");
            }
            &.pause {
                background-image : url("../../svg/player_pause.svg");
            }
            &.vol {
                background-image : url("../../svg/player_vol.svg");
            }
            &.mute {
                background-image : url("../../svg/player_mute.svg");
            }
            &.fullscreen {
				display: none; //TODO: Issue #15
                background-image : url("../../svg/player_fullscreen.svg");
            }
        }
    }

	.device-tablet-land {
		.video {
			.winners{
				width    : 60%;
			}
		}
	}
}

@keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale(1, 0);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}