/** -------------------------------------------
    Rooms Container
    ------------------------------------------- **/

//
// Dashboard
.#{$cssversion} {

    .dashboard-wrap {
        position : relative;
        float    : left;
        width    : 100%;
        margin   : -$base-gutter;
        color    : $color-tertiary;

        .settings-button {
            @include dims(25px);
            background-image    : url("../../svg/settings.svg");
            background-repeat   : no-repeat;
            background-position : top left;
            background-size     : contain;
            position            : absolute;
            right               : 10px;
            top                 : 32px;
            z-index             : 99998;
        }

        > .settings-wrap {
            position   : absolute;
            width      : 100%;
            background : #1C2625;
            color      : $color-white;
            z-index    : 99997;

            ol {
                li {
                    position      : relative;
                    border-bottom : 1px solid #CCC;
                    padding       : 15px;
                    margin        : 0;

                    label { float : right; margin-top : 10px; top: -30px; }

                    &:first-child {
                        padding    : 35px 45px 20px 0;
                        color      : $color-tertiary;
                        text-align : right;
                    }

                    &:last-child {
                        border-bottom : 0px;
                    }
                }
            }
        }
        > .dashboard-head {
            float            : left;
            width            : 100%;
            background-color : #3b7920;

            > .number-collection {
                background-color : #25580D;
                float            : left;
                padding          : 5px;
                margin           : 10px;
                border-radius    : 35px;
                box-shadow       : inset 0 0 8px -1px $color-usercontent;
                height           : 70px;
                width            : 70px;
                position         : relative;
                overflow         : hidden;
                .number {
                    @include dims(60px);
                    background-image    : url("../../svg/dashboard-ball.svg");
                    background-repeat   : no-repeat;
                    background-position : top left;
                    background-size     : contain;
                    line-height         : 60px;
                    color               : $color-white;
                    font-weight         : 600;
                    font-size           : 24px;
                    text-align          : center;
                    display: inline-block;

                    &:nth-child(3) { display : none; }

                    &.ng-hide-add {
                        -webkit-animation : 0.3s hideBall;
                        animation         : 0.3s hideBall;
                    }
                    &.ng-hide-remove {
                        -webkit-animation : 0.7s showBall;
                        animation         : 0.7s showBall;
                        display           : none;
                    }
                    &.ng-enter {
                        -webkit-animation : 0.7s showBall;
                        animation         : 0.7s showBall;
                    }

                    &.ng-leave {
                        -webkit-animation : 0.3s hideBall;
                        animation         : 0.3s hideBall;
                    }
                }
            }
            > .progress {
                float          : left;
                position       : relative;
                width          : 74%;
                margin-top     : 32px;
                letter-spacing : 1px;

                > .progress-point { float : left; margin-right : 10px; font-size: 20px; }
                > .progress-column {
                    float            : left;
                    width            : calc(100% - 80px);
                    height           : 6px;
                    margin-top       : 10px;
                    background-color : #275713;
                    border-radius    : 10px;
                }
            }
        }
        > .dashboard-info {
            float            : left;
            position         : relative;
            width            : 100%;
            background-color : #25580D;

            .dashboard-jackpot {
                padding-top    : 15px;
                padding-bottom : 10px;
                font-size      : 13px;
                color          : $color-white;

                span {
                    color : $color-tertiary;
                }

                .remain { 
                    font-size : 9px; 
                    .jackpot-bar{
                        width: 100%;
                        height: 6px;
                        margin-top: 10px;
                        background-color: #3b7920;
                        border-radius: 10px;
                        display: block;
                        border-radius: 3px;
                        overflow: hidden;
                        span{
                            width: 0px;
                            height: 6px;
                            display: inline-block;
                            background-color: #f6a922;
                            float: left;
                        }
                    }
                }
            }
            .dashboard-rewards {
                padding-top      : 10px;
                padding-bottom   : 10px;
                padding-left     : 0;
                padding-right    : 0;
                font-size        : 10px;
                background-color : $color-tertiary;
                color            : #bc8017;

                sup {
                    top       : -0.3em;
                    font-size : 80% !important;
                }
                .rate-reward-title {
                    margin-bottom : 5px;
                    font-weight   : bold;
                    color         : #46862B;
                    text-align    : center;
                }
                .rate-reward {
                    display      : inline-block;
                    margin-right : 4px;
                    opacity: 0.3;
                    span { display : inline-block; height : 20px; line-height : 20px; color: #000; }
                    .reward-icon {
                        content: '';
                        width: 24px;
                        height: 24px;
                        float: left;
                        background-color: #000;
                        display: inline-block;
                        position: relative;
                        top: -2px;
                        margin-right: 5px;
                        &.line1 {
                            width: 28px;
                            height: 28px;
                            -webkit-mask: url(../../svg/star-1.svg) no-repeat 100% 100%;
                            mask: url(../../svg/star-1.svg) no-repeat 100% 100%;
                            -webkit-mask-size: contain;
                            mask-size: contain;
                            top: -6px;
                        }
                        &.line2 {
                            -webkit-mask: url(../../svg/star-2.svg) no-repeat 100% 100%;
                            mask: url(../../svg/star-2.svg) no-repeat 100% 100%;
                            -webkit-mask-size: contain;
                            mask-size: contain;
                            top: -4px;
                        }
                        &.line3 {
                            -webkit-mask: url(../../svg/star-3.svg) no-repeat 100% 100%;
                            mask: url(../../svg/star-3.svg) no-repeat 100% 100%;
                            -webkit-mask-size: contain;
                            mask-size: contain;
                        }
                        &.line4 {
                            -webkit-mask: url(../../svg/star-4.svg) no-repeat 100% 100%;
                            mask: url(../../svg/star-4.svg) no-repeat 100% 100%;
                            -webkit-mask-size: contain;
                            mask-size: contain;
                        }
                        
                    }

                    &.prize-won {
                        opacity: 1;
                    }

                    &:nth-child(5) { display : none; }
                }

                .swiper-slide { text-align : center }
                .swiper-button-prev, .swiper-button-next { display : none; }
            }
        }

        // Dashboard Tablet
        @include tablet-portrait() {
            > .dashboard-head {
                > .progress {
                    width          : 82%;
                }
            }
        }
    }

    .is-mobile{
        .dashboard-wrap{
            position: fixed;
            left: 0;
            top: 55px;
            margin: 0;
            z-index: 1;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            transform: perspective(1px);
            transform: translateZ(0);
        }
    }

	.winners.is-mobile {
		background-color: rgba(68,135,36,.5);
		float: left;
		width: 100%;
		position: relative;
		margin-top: 140px;
        z-index: 0;

        @include tablet-portrait(){
            margin-top: 150px;
        }

		.wins {
			width: 100%;
			float: left;
			display: inline-block;

			.winner-head {
				padding       : 3px;
				font-size     : 12px;
				background    : $color-tertiary;
				color         : $color-usercontent;
				font-weight   : 300;
				border-radius : 0 0 5px 5px;

				&:before {
					content             : '';
					float               : left;
					@include dims(15px);
					background-image    : url("../../svg/cinko.svg");
					background-repeat   : no-repeat;
					background-position : center center;
					background-size     : contain;
					margin-right        : 5px;
				}
			}
            .card-wrapper{
                margin-top: 20px;
            }

		}

		.line-3 {
			.winner-head {
				&:before {
					background-image : url("../../svg/tombala.svg");
				}
			}
		}


	}

    //
    // Room Content
    .room-container {
        @include scrollbar(.2em, calc(100% - 125px), #9bbe4d, rgba(32, 77, 14, 1));
        position   : relative;
        float      : left;
        width      : calc(100% + 40px);
        margin     : 20px 0 0 -20px;
        padding    : 0 20px;
        height     : calc(100% - 125px);
        overflow-x : hidden;
        overflow-y : auto;
        &.sale-card-view{
            z-index: 9;
        }

        .stream-count {
            position       : relative;
            width          : calc(100% + 20px);
            margin         : 0 -10px 15px -10px;
            padding-bottom : 10px;
            text-align     : center;
            border-bottom  : 1px solid #797979;

            &:before {
                content             : '';
                position            : relative;
                @include retina-image('icon-time');
                background-repeat   : no-repeat;
                background-size     : contain;
                background-position : center center;
                display             : inline-block;
                width               : 40px;
                height              : 55px;
            }

            > span {
                display     : inline-block;
                width       : 100%;
                font-size   : 12px;
                color       : $color-white;
                font-weight : 300;

                > em {
                    color      : $color-tertiary;
                    font-style : italic;
                    clear      : both;
                }
            }
        }
        @include mobile(){
            .box-content{
                .winner-container{
                    padding-top: 30px;
                }
                .card-wrapper{
                    width: 50%;
                    transform : scale(0.65) !important;
                    margin: -25px 0 10px 0 !important;
                }
            }
        }
        .box-content {
            padding : 15px 10px;
            em {
                color: $color-white;
                font-weight: 600;
                font-size: 12px;
                font-style: normal;
                @include tablet-portrait(){
                    font-size: 12px;
                }
            }
            &.box-green {
                background-color : #448724;
            }
            &.box-dark {
                .stats-content { font-size : 12px; }
                .stats-seans, .stats-card { font-size : 11px; }
            }

            .scroll-bar { max-height : 200px !important; }
            .stats-list {
                > li {
                    margin-bottom : 2px;
                    font-size     : 12px;
                }
            }
            .stats-number {
                > li {
                    .numbr { margin : 0 5px; }
                }
            }
        }
        .room-state {
            float : left;
            width : 100%;

            &-content {
                font-size : 11px;

                a {
                    color           : $color-white;
                    font-weight     : 600;
                    text-decoration : underline;
                    font-size       : 12px;
                }

                &:before, &:after { display : none; }
            }
            &-list {
                float : left;
                width : calc(100% + 40px);
                padding-top: 25px;
                > div {
                    float         : left;
                    width         : 50%;
                    margin :-25px 0 22px 0;

                    &:last-child { margin-bottom : 0; }
                }
            }
        }

        // Room Content Tablet
        @include tablet-portrait() {
            height : calc(100% - 152px);

            .room-state {
                &-list {
                    > div {
                        margin : 10px;
                        float  : left;
                        width  : 47%;

                        &:last-child { margin-bottom : 0; }
                    }
                }
            }
        }
    }

    //
    // Card Row Content
    .room-bottom {
        position         : fixed;
        bottom           : 0;
        width            : 100%;
        margin           : 0 -20px;
        background-color : $color-primary;
        color            : $color-white;
        text-align       : center;
        box-shadow       : 0 1px 5px 0 $color-black;
        z-index          : 9;

		.abs-bottom & {
			position: absolute;
		}

		.video-container,
		.number-container {
			position: absolute;
			bottom: 100%;
			left:0;
		}

		.number-container {
			bottom: 85%;
		}

        > div {
            cursor         : pointer;

			&:first-child {
				padding: 0px;
				margin: 0px;
			}
            &.video-preview {
				padding-top: 10px;
				padding-bottom: 10px;
                border-top : 1px solid #222B2A;
            }

            &.new-card-sale {
				padding-top: 10px;
				padding-bottom: 10px;
                background-color : $color-fifth;
                box-shadow       : inset 0 0 7px 0 #1C2625;
            }

            &.result-numbers {
				padding-top: 10px;
				padding-bottom: 10px;
                border-top       : 1px solid #161D1D;
                background-color : #1C2625;
            }
        }
    }

    //
    // State Active
    #state-open { }
    #state-playing {
        .card-sold.sold, .card-sold {
            display : none !important;
        }
    }
    #state-preopen { }
    #state-finished { }

    .room-hide{
        opacity: 0;
        z-index: 0;
    }
}
