/**
 * Button colors
 */
@mixin button-colors($type){
    background-color: map-get($base-colors, $type)  !important;;
    color: map-get($base-colors, #{$type}-text) !important;
    border: 1px solid map-get($base-colors, #{$type}-border)  !important;;

    &:hover {
        @if (map-get($base-colors, #{$type}-highlight) != null) {
            background-color: map-get($base-colors, #{$type}-highlight);
        }

        @else {
            background-color: darken(map-get($base-colors, $type), 7.5);
        }
        color: map-get($base-colors, #{$type}-text);
    }
}

@mixin button-after($type, $transition){
    &:after {
        content:'';
        position:absolute;
        height:10em; width:10em;
        top: -4em; left:0em;
        transition: $transition;

    }

    &:active {
        &:after {
            box-shadow: inset 0 0 0 5em rgba(255,255,255,0.3);
            transition: 0s;
        }
    }
}