/** -------------------------------------------
    Scrollbar Styles
    ------------------------------------------- **/
/**
  * Scrollbar
  * Styles the scrollbars for supported browsers
  */

@mixin scrollbar($thickness, $maxHeight, $thumbColor, $trackColor, $radius: 3px) {
    max-height: $maxHeight;

    &::-webkit-scrollbar {
        width:  $thickness;
        height: $thickness;
    }

    &::-webkit-scrollbar-thumb {
        background: $thumbColor;
        border-radius: $radius;

        &:vertical {
            height: $thickness;
            background-color: $thumbColor;
        }
    }

    &::-webkit-scrollbar-track { background-color: $trackColor; }
    &::-webkit-scrollbar-track-piece { background-color: $trackColor;}
}