/** -------------------------------------------
    Footer
    ------------------------------------------- **/

.#{$cssversion} {
	.footer{
		width: 100%;
		float: left;
		padding: 10px 0;
		position: relative;
		.certificate-wrapper{
			float: right;
			.certificate-image{
				margin-left: 10px;
				height: 60px;
				float: left;
				img{
					margin: 14px 0 0 10px;
				}
			}
			.apg-seal{
				width: 38px;
			    height: 60px;
			    float: left;
			    margin-left: 10px;
			    overflow: hidden;
			    > div{
			    	display: block;
				    position: relative;
				    overflow: hidden;
				    max-width: 128px;
				    min-width: 32px;
				    height: 60px;
				    img:last-child{
					    height: 60px;
					    left: -10px !important;
				    }
			    }
			}
		}
		@include mobile() {
            padding: 20px 0 100px 0;
        }
	}
}