/** -------------------------------------------
    Header
    ------------------------------------------- **/

.#{$cssversion} {
    .header {
        position: relative;
        float: left;
        width: 100%;
        margin-bottom: -5px;
        //z-index: 1;

        .logo-wrapper {
            background-color: $color-primary;
            box-shadow: 0 0 0 $color-primary, 0 3px 0 0 #222b2a, 0 8px 4px rgba(34, 43, 42, 0.5);
            border-radius: 10px;
			z-index: 999;
        }
        .user-container {
            top: 20px;
            padding: 10px 10px 15px $base-double-gutter;
            background-color: $color-usercontent;
            color : $color-white;
            border-radius: 0 10px 0 0;

            > div {
                float: left;
                margin-right: 20px;
                font-weight: 600;
                line-height: 30px;

                &.name {
                    font-size: 14px;
                }
                &.wallet {
                    font-size: 17px;

                    sup {
                        font-size: 70% !important;
                        color: $color-tertiary;
                    }
                }
                &:last-child { margin-right: 0; }
            }
            &:before {
                content : '';
                position: absolute;
                top: 0;
                left: 0;
                border-style: solid;
                border-width: 55px 0 0 6px;
                border-color: transparent transparent transparent #1f2423;
            }
            &:after {
                content: '';
                position: absolute;
                top: 5px;
                right: -24px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 42px 0 0 25px;
                border-color: transparent transparent transparent $color-usercontent;
            }
            .header-links{
                color: #fff;
                margin-right: 10px;
                font-size: 12px;
                &:hover{
                    color: #f6a922;
                }
            }
        }
        .user-menu {
			position: absolute;
			right: 10px;
			bottom: 5px;
			color: #FFFFFF;
			background-color: #272d2c;
			padding: 0 10px;
			border-radius: 10px 10px 0 0;
            z-index: 999;

            > a {
                display: inline-block;

                &.back-to-lobby {
                    float: left;
                    color: $color-white;
                    line-height: 40px;
                    margin-right: 10px;

                    &:hover {
                        color : $color-tertiary;
                    }
                }
                &.account {
                    background: url(../../svg/account.svg) no-repeat top center;
                    width: 32px;
                    height: 22px;
                }
                &.logout {
                    background: url(../../svg/power.svg) no-repeat top center;
                    width: 32px;
                    height: 22px;
                }
				&.help {
                    background: url(../../svg/qmark.svg) no-repeat top center;
				    background-size: contain;
                    width: 32px;
                    height: 22px;
                }
				&.fullscreen {
                    float: left;
                    content: '';
                    width: 17px;
                    height: 17px;
                    -webkit-mask: url(../../svg/player_fullscreen.svg) no-repeat 100% 100%;
                    mask: url(../../svg/player_fullscreen.svg) no-repeat 100% 100%;
                    -webkit-mask-size: cover;
                    mask-size: cover;
                    background-color: #fff;
                    position: relative;
                    margin: 10px 0;
                }
            }
        }

        //
        // Mobil Responsive
        &.is-mobile {
            padding: 0 10px;
            margin: 0;
            background-color: $color-usercontent;
            color : $color-white;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 15;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            transform: perspective(1px);
            transform: translateZ(0);
            .logo-wrapper {
                float: left;
                height: 55px;
                background-color: transparent;
                border-radius: 0;
                box-shadow: 0 0 0 0;
                padding: 0;

                .lg-logo { height: 55px; }
            }

            .wallet {
                position: absolute;
                right: 100px;
                top: 27%;
                font-size: 14px;
                line-height: 28px;

                @include mobile() {
                    right: 102px;
                    top: 35%;
                    white-space: nowrap;
                    font-size: 10px;
                    line-height: 20px;
                    z-index: 5;
                    &:before {
                        @include dims(20px);
                        margin-right: 5px;
                    }
                }
            }

            .user-menu {
                right: 10px;
                margin-left: 7px;
                > a {
                    @include mobile() {
                        @include dims(20px);
                    }
                    &.fullscreen{
                        width: 17px;
                        height: 17px;
                    }
                    background-size: contain;
                }
            }
        }
    }
}
