.#{$cssversion} {
	.flash-alert{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: rgba(0,0,0,0.4);
		z-index: 9999999999;
		padding: 40px;
		p{
			font-size: 16px;
			margin-bottom: 20px;
			color: #fff;
			text-align: center;
		}
		.flash-button{
			margin-bottom: 20px;
			text-align: center;
		}
		.alert-button{
			text-align: center;
			a{
				font-weight: 600;
				color: #fff;
				&.approve{
					background-color: #00CC00;
				}
				&.decline{
					background-color: #ff0033;
				}
			}
		}
		.flash-icon{
			background: url(../../images/flashicon.png) left top no-repeat;
		}
	}
}