/** -------------------------------------------
    Language
    ------------------------------------------- **/

.#{$cssversion} {
	.language-container{
		width: 20px;
		float: left;
		position: relative;
		padding: 10px 0;
		.lang-item{
			width: 20px;
			height: 20px;
			float: left;
			cursor: pointer;
			&.current-lang{
				position: relative;
				top: -1px;
			}
			&.tr{
				background: url(../../svg/flags/turkey.svg) left top no-repeat;
			}
			&.en{
				background: url(../../svg/flags/united-kingdom.svg) left top no-repeat;
			}
			&.de{
				background: url(../../svg/flags/germany.svg) left top no-repeat;
			}
			&.ru{
				background: url(../../svg/flags/russia.svg) left top no-repeat;
			}
			&.fr{
				background: url(../../svg/flags/france.svg) left top no-repeat;
			}
			&.nl{
				background: url(../../svg/flags/netherlands.svg) left top no-repeat;
			}
			&.sa{
				background: url(../../svg/flags/saudi-arabia.svg) left top no-repeat;
			}
			&.es{
				background: url(../../svg/flags/spain.svg) left top no-repeat;
			}
		}

		&:hover{
			.lang-list{
				display: block;
			}
		}	

		.lang-list{
			width: 32px;
			padding: 0 5px;
			background-color: #272d2c;
			position: absolute;
			top: 34px;
			left: -5px;
			display: none;
			border-radius: 0 0 5px 5px;
			li{
				margin: 0;
			}
			&:hover{
				display: block;
			}
		}

	}
}

.lang-en, .lang-fr, .lang-sa, .lang-de, .lang-ru, .lang-es{
	.extra-automatic{
		left: -60px !important;
		width: calc( 100% + 40px ) !important;
		.extra-title {
			width: 144px !important;
		}
	}
	.card-sold{
        > span{
            font-size: 10px;
        }
    }
    .lg-v2 .card-wrapper .card-sold > span span{
        font-size: 10px;
    }
    .room-auto{
    	line-height: 26px !important;
    }
}

.lang-fr, .lang-es{
	.lg-v2 .button.new-card-button{
		font-size: 10px;
	}
	.lg-v2 .dashboard-top .progress .extra-automatic .extra-title{
		font-size: 11px;
	}
	.lg-v2 .card-wrapper .card-sold > span{
		line-height: 15px;
		padding: 10px 0;
	}
	.lg-v2 .card-wrapper .card-sold > span span{
        font-size: 9px;
    }
}