/** -------------------------------------------
    Logo
    ------------------------------------------- **/

.#{$cssversion} {
    .lg-logo {
        @include retina-image('logo');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        display: inline-block;
        width: 100%;
        height: 100px;
        cursor: pointer;
    }

    .login-container .lg-logo {
        margin-bottom: $base-gutter;
    }

    .logo-wrapper .lg-logo {
        @include retina-image('logo2');
        position: relative;
        height: 60px;
    }

    .hidden {display: none}
}
