/** -------------------------------------------
    Progress Bar
    ------------------------------------------- **/

.#{$cssversion} {
    .progress-bar {
        float              : left;
        width              : 0;
        height             : 100%;
        font-size          : 12px;
        line-height        : 20px;
        color              : $color-white;
        text-align         : center;
        background-color   : $color-sixth;
        -webkit-box-shadow : inset 0 -1px 0 rgba(0, 0, 0, 0.15);
        box-shadow         : inset 0 -1px 0 rgba(0, 0, 0, 0.15);
        -webkit-transition : width 0.6s ease;
        -o-transition      : width 0.6s ease;
        transition         : width 0.6s ease;
        position           : relative;
        span{
            width: 1px;
            height: 12px;
            position: absolute;
            right: -6px;
            top: -14px;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            transition: all 0.4s ease;
            &:after{
                content: '';
                width: 12px;
                height: 12px;
                position: absolute;
                right: -6px;
                -webkit-mask: url(../../svg/star.svg) no-repeat 100% 100%;
                mask: url(../../svg/star.svg) no-repeat 100% 100%;
                -webkit-mask-size: cover;
                mask-size: cover;
                background-color: #f6a922;
                z-index: 0;
            }
            &:before{
                content: '';
                width: 12px;
                height: 12px;
                position: absolute;
                right: 6px;
                -webkit-mask: url(../../svg/star.svg) no-repeat 100% 100%;
                mask: url(../../svg/star.svg) no-repeat 100% 100%;
                -webkit-mask-size: cover;
                mask-size: cover;
                background-color: #f6a922;
                z-index: 0;
            }
        }
        i{
            width: 12px;
            height: 12px;
            position: absolute;
            right: 0px;
            -webkit-mask: url(../../svg/star.svg) no-repeat 100% 100%;
            mask: url(../../svg/star.svg) no-repeat 100% 100%;
            -webkit-mask-size: cover;
            mask-size: cover;
            background-color: #f6a922;
            z-index: 1;
        }
        &.bar-2{
            span:after{
                display: none;
            }
        }
        &.bar-1{
            span:before,span:after{
                display: none;
            }
        }
        &.complated-line1,&.complated-line2,&.complated-line3{
            span{
                right: 50%;
            }
        }
        &.complated-line2{
            span{
                margin-right: -9px;
            }
        }
        &.complated-line3{
            span{
                margin-right: -18px;
            }
        }
    }

    .progress-striped .progress-bar,
    .progress-bar-striped {
        background-image : -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image : -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image : linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-size  : 40px 40px;
    }
    .progress.active .progress-bar,
    .progress-bar.active {
        -webkit-animation : progress-bar-stripes 2s linear infinite;
        -o-animation      : progress-bar-stripes 2s linear infinite;
        animation         : progress-bar-stripes 2s linear infinite;
    }
    .progress-bar-success {
        background-color : #5cb85c;
    }
    .progress-striped .progress-bar-success {
        background-image : -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image : -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image : linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    }
    .progress-bar-info {
        background-color : #5bc0de;
    }
    .progress-striped .progress-bar-info {
        background-image : -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image : -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image : linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    }
    .progress-bar-warning {
        background-color : #f0ad4e;
    }
    .progress-striped .progress-bar-warning {
        background-image : -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image : -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image : linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    }
    .progress-bar-danger {
        background-color : #d9534f;
    }
    .progress-striped .progress-bar-danger {
        background-image : -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image : -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image : linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    }
}