.#{$cssversion} {
    .scroll-bar {
        @include scrollbar(.2em, 520px, #9bbe4d, rgba(32, 77, 14, 1));
        min-height: 520px;
        overflow-y : auto;
    }
    .scroll-bar-full {
        @include scrollbar(.2em, 690px, #9bbe4d, rgba(32, 77, 14, 1));
        min-height: 690px;
        overflow-y : auto;
        position: relative;
    }
}