/** -------------------------------------------
    Settings
    ------------------------------------------- **/

.#{$cssversion} {
	.settings-container{
		float: left;
		padding: 10px;
		&:hover{
			.setting-list{
				display: block;
			}
		}

		.settings {
            content: '';
            width: 20px;
            height: 20px;
            -webkit-mask: url(../../svg/settings.svg) no-repeat 100% 100%;
            mask: url(../../svg/settings.svg) no-repeat 100% 100%;
            -webkit-mask-size: cover;
            mask-size: cover;
            background-color: #fff;
            position: relative;
            top: -1px;
            display: inline-block;
            cursor: pointer;
            float: left;
        }

		.setting-list{
			width: 200px;
			background-color: #272d2c;
			position: absolute;
			top: 40px;
			right: 0px;
			display: none;
			border-radius: 5px 0 5px 5px;
			li{
				margin: 0;
				border-top: 1px solid #444;
				&:first-child{
					border:none;
				}
				a{
					padding: 10px;
					display: block;
					color: #fff;
					cursor: pointer;
					font-size: 14px;
				}
				.auto-buy,.auto-sort{
					padding: 0 10px;
				}
				.extra-title{
					float: left;
					padding: 10px 0;
					max-width: 110px;
				}
				.extra-content{
					margin: 5px 0;
					float: right;
				}
			}
			&:hover{
				display: block;
			}
		}

	}
}