<div class="modal-header">
    <h3 class="modal-title">{{::title}}</h3>
</div>
<div class="modal-body">
    {{::msg}}
</div>
<div class="modal-footer">
    <button class="button tertiary-action" type="button" ng-click="ok();" translate>button.close</button>
</div>
