<div class="history-container" ng-init="loadBetLogs()">
	<div class="history-filter clearfix">
		<div class="filter-node">
			<input type="text" placeholder="{{ 'views.lobby.sessionNo' | translate }}" ng-model="betLogFilter.sessionNo" ng-keypress="numberFilter($event)">
		</div>
		<div class="filter-node">
			<input type="text" class="form-control" uib-datepicker-popup="{{ betLogFilter.format }}" ng-model="betLogFilter.date" is-open="betLogFilter.popup.opened" datepicker-options="betLogFilter.dateOptions" ng-required="true" close-text="Close" show-button-bar="false" />
          <span class="date-btn">
            <a href="#" ng-click="betLogFilter.openDatepicker()"><i class="glyphicon glyphicon-calendar"></i></a>
          </span>
		</div>
		<div class="filter-node btn-node">
			<a href="#" ng-click="filterBetLogs()" class="button tertiary-action">Filtrele</a>
		</div>
	</div>
	<button type="button" class="button tertiary-action close-btn" ng-click="changeSection('betHistory')" translate>button.close</button>
	<div class="history-section" ng-if="!betLogs.loading && betLogs.collection.length">
		<table class="one-whole" id="bet-history">
			<thead>
				<tr class="title">
					<th translate>views.modal.profile.session</th>
					<th translate>views.modal.profile.room</th>
					<th translate>views.modal.profile.cardNo</th>
					<th translate>views.modal.profile.action</th>
					<th translate>views.modal.profile.amount</th>
					<th translate>views.modal.profile.date</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat-start="log in betLogs.collection">
					<td>{{ log.session }}</td>
					<td>{{ ::roomFilter(log.room) }}</td>
					<td ng-bind-html="::cardFilter(log.object_id)"></td>
					<td>{{ ::actionFilter(log.object_type, log.type, log.amount) }}</td>
					<td>{{ log.amount }} {{ $GameApi.CurrencySymbol }}</td>
					<td>{{ log.created_at | date:'dd.MM.yyyy HH:mm' }}</td>
					<td><button type="button" class="btn" ng-click="$root.expandedLog=($root.expandedLog!=log.id?log.id:0)" ng-show="log.data.type != 'jackpot'" translate>views.modal.profile.detail</button></td>
				</tr>
				<tr ng-repeat-end ng-if="$root.expandedLog == log.id" class="expanded">
					<td style="width:50%" colspan="7" ng-init="loadBetDetail(log);">
						<div class="session-detail clearfix">
							<div class="col-d-6">
								<div class="session-info pull-push clearfix">
									<div class="col-d-6">
										<h4 translate>views.modal.profile.sessionInfo</h4>
										<div class="float-left">
											<div>
												<strong>{{ 'views.lobby.sessionNo' | translate }} :</strong> {{ betLogs.details[log.id].detail.id }}
											</div>
											<div>
												<strong>{{ 'views.lobby.sessionStart' | translate }} :</strong> {{ betLogs.details[log.id].detail.start_time | date:'dd.MM.yyyy HH:mm' }}
											</div>
											<div>
												<strong>{{ 'views.lobby.sessionEnd' | translate }} :</strong> {{ betLogs.details[log.id].detail.end_time | date:'dd.MM.yyyy HH:mm' }}
											</div>
										</div>
									</div>
								</div>
								<div class="earning-details clearfix">
									<div class="winner-details">
										<tombala-card card-id="log.object_id" section="mine" history="true" slider-data="betLogs.details[log.id].ballSliderList"></tombala-card>
									</div>
								</div>
							</div>
							<div class="col-d-6">
								<div id="bet-id-{{ log.session }}-{{ log.amount }}" class="replay-bet-history"></div>
								<div class="winner-details">

									<rzslider class="ball-slider" rz-slider-model="betLogs.details[log.id].sliderOptions.value" rz-slider-options="betLogs.details[log.id].sliderOptions.options"></rzslider>

									
									<h4 translate>views.modal.profile.winNumbers</h4>
									<span ng-repeat="nobj in ::betLogs.details[log.id].detail.numbers" ng-if="$index < betLogs.details[log.id].sliderOptions.value" class="number">{{ nobj.number }}</span>

								</div>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<uib-pagination total-items="betLogs.pager.totalCount" items-per-page="betLogs.pager.size" max-size="10" ng-model="betLogs.pager.page" ng-change="loadBetLogs()"></uib-pagination>
	</div>

	<div class="empty-log" ng-if="!betLogs.loading && !betLogs.collection.length" translate>views.warnings.noRecord</div>

	<div class="history-loader" ng-if="betLogs.loading">
	
	</div>

</div>

