<div id="messenger" class="messenger">
    <div class="messenger-container {{hot ? 'hot':'cool'}}">
        <div class="cell">
            <div class="bubble-item" ng-repeat="bubble in bubbles track by bubble.id">
                <div class="bubble"
                     ng-class="{'mine':bubble.isMine && bubble.id,'received':!bubble.isMine && bubble.id,'system':bubble.id==0}">
                    <div class="bubble-title" title="{{::bubble.time}}">{{::bubble.name}}</div>

                    <div class="bubble-msg" ng-bind-html="bubble.msg"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <input type="text"
               placeholder="{{'views.room.chat.enterMessage'|translate}}"
               ng-model="liveMessage.txt"
               ng-disabled="liveMessage.disabled"
               key-bind="{ enter: 'sendLiveChat($event)', esc: 'clearLiveChat()' }">
    </div>
</div>