<div class="card-wrapper {{::card.c}} {{::cardTemplate}} section-{{::section}}"
     ng-class="{'has-info': hasInfo, 'without-holder' : !useHolder, 'is-mine': card.s.mine, 'is-sold':card.s.sold }">

    <div class="pre-sale" ng-if="canBuy()" ng-click="buyCard()">
        <button type="button" class="button tertiary-action" ng-if="!inPurchase" translate>views.room.action.buy</button>
		<div class="button primary-action" ng-if="inPurchase" translate>views.room.action.buying</div>
    </div>
    <div class="card-table-head">
        <span class="card-no"># {{::card.o}}</span>
        <span class="card-price" ng-if="card.r && card.r.rate && canBuy()">{{::card.r.rate}} <sup>{{::$GameApi.CurrencySymbol}}</sup></span>
        <span class="card-gift" ng-if="card.s.gift" uib-tooltip="{{ 'views.warnings.giftCardPrize' | translate }}" tooltip-append-to-body="true"><i></i></span>
        <div class="right-buttons">
            <!--<auto-buy card="card" ng-if="showExtras()"></auto-buy>-->
        </div>
    </div>
    <table class="card-table card">
        <tbody>
            <tr ng-repeat="line in card.l" ng-class="stats['line-'+$index]">
                <td class="animated"
                    ng-repeat="n in line track by $index"
                    ng-class="{
						'space' : n == 0,
						'selected':  ( !history && ( card.chk.indexOf(n)>=0 || ( $root.$GameApi.Balls.indexOf(n)>=0 && (section == 'winners' || !($root.$GameApi.RoomData.settings.Options.SelectionRequired)))) ) || ( history && sliderData.indexOf(n) >= 0 ),
						'highlight': n && card.s.mine && $root.$GameApi.Balls.indexOf(n)>=0 && !!($root.$GameApi.RoomData.settings.Options.SelectionRequired) && (!card.chk || card.chk.indexOf(n)<0) }"
                    ng-click="select($event)">{{ n || ' '}}
                </td>
            </tr>
        </tbody>
    </table>
    <div class="card-sold" ng-if="card.s.sold">
        <span ng-if="card.s.mine" translate>{{card.s.gift ? "template.cards.iGiftCard" : "template.cards.iSoldCard" }}</span>
        <span ng-if="!card.s.mine" translate translate-values="{ owner: card.s.name }">views.room.alerts.cardInfo</span>
    </div>
    <div class="card-holder bonus-show" ng-class="{'bottom-info' : infos.length, 'hide-extra':!showExtras()}">
        <div class="card-actions">
            <div class="info">
                <div class="info-item" ng-repeat="info in infos" ng-class="{'active':info.active}">
                    <i class="glyphicon {{info.i}}" ng-click="showInfo(info)"></i>
                    <span ng-bind-html="info.text"></span>
                </div>
            </div>
        </div>
    </div>
</div>
