<div class="extra-auto-buy">
    <div class="auto-buy">
        <div class="extra-title"
            uib-tooltip="{{'views.room.extra.autoBuyDescription'|translate}}"
            tooltip-placement="left"
            tooltip-append-to-body="true"
            translate>views.room.extra.autoBuy</div>
        <div class="extra-content">
            <label class="is-checkboxtoggle">
                <input type="checkbox" name="buyAll" ng-model="isActive">
                <span class="item-label"></span>
            </label>
        </div>
    </div>
</div>
