<div class="extra-auto-sort">
    <div class="auto-sort">
        <div class="extra-title"
            uib-tooltip="{{'views.room.extra.autoSortDescription'|translate}}"
            tooltip-placement="left"
            tooltip-append-to-body="true"
            translate>views.room.extra.autoSort</div>
        <div class="extra-content">
            <label class="is-checkboxtoggle">
                <input type="checkbox" name="sortAll" ng-model="isActive">
                <span class="item-label"></span>
            </label>
        </div>
    </div>
</div>
