,<div class="extra-autoselect" ng-class="{'disabled':!isActive}" ng-if="isActive">
    <div class="auto-select" ng-if="!card">
        <h3 translate>views.room.extra.autoSelect</h3>
        <i></i>
        <div class="auto-content">
            <button ng-class="{'selected' : $parent.$GameApi.MyCards.length != 0 && $root.Extras[name].Cards.length == $parent.$GameApi.MyCards.length }"
                    ng-click="buyAll()"
                    uib-tooltip="{{ 'views.room.extra.autoSelect' : translate }} ({{p.price+'P'}})"
                    tooltip-placement="bottom"
                    tooltip-append-to-body="true"></button>
            <span>x{{$root.Extras[name].Cards.length}}</span>
        </div>
    </div>
    <div class="auto-select with-card" ng-if="card">
        <button ng-class="{'selected' : $root.Extras[name].Cards.indexOf(card) > -1 }"
                ng-click="buy()"
                uib-tooltip="{{ 'views.room.extra.autoSelect' : translate }} ({{p.price+'P'}})"
                tooltip-placement="bottom"
                tooltip-append-to-body="true"></button>
    </div>
</div>

