<div class="head row">
	<div class="logo-wrapper">
		<div class="logo-container">
			<live-logo></live-logo>
		</div>
	</div>
</div>

<div id="lobby" class="page-wrapper">
	<div class="page-content">
		<div class="box-content box-green col-lg-10 text-center" style="margin: 60px auto;float: none;" translate>
			views.lobby.technicalProblem
		</div>
		<div class="clear"></div>
	</div>
</div>
