<div class="modal-header">
    <ol class="modal-lg-nav">
        <li class="half" ng-click="helpState='video'"><a href="javascript:;" translate>views.modal.howToPlay</a></li>
        <li class="half" ng-click="helpState='rules'"><a href="javascript:;" translate>views.modal.gameRules</a></li>
    </ol>
</div>
<div class="modal-body lg-body">
    <div ng-if="helpState=='video'" class="modal-help-content">
		<iframe width="100%" height="315" src="https://www.youtube.com/embed/-EhEWAdBNgo" frameborder="0" allowfullscreen></iframe>
    </div>

    <div ng-if="helpState=='rules'" class="modal-help-content scroll-bar" translate>views.modal.help</div>
</div>
<div class="modal-footer">
	<button class="button cancel-action" type="button" ng-click="dontShowAgain();" ng-if="firstInit" translate>views.modal.dontShowAgain</button>
    <button class="button tertiary-action" type="button" ng-click="cancel();" translate>button.close</button>
</div>
