<div class="modal-body jackpot-body">
    <h1 class="winners-title" translate translate-values="{ amount: amount, currency: $GameApi.CurrencySymbol }">views.room.prizes.jackpotTitle<i class="animated flash"></i></h1>

    <div class="winners-notification">
        <div class="box-content box-orange" translate>views.room.prizes.jackpotDescription</div>
    </div>
</div>
