<header class="header is-mobile">
	<div class="logo-wrapper col-p-6 col-tp-4">
		<live-logo></live-logo>
	</div>

	<div class="wallet icon-coins {{balanceStyle}}" markd="wallet">{{stateData.wallet.credit | number:2}}<sup>{{$GameApi.CurrencySymbol}}</sup></div>

	<nav class="user-menu">
		<language class="language-container"></language>
		<settings class="settings-container"></settings>
		<a href class="fullscreen" ng-click="$Live.toggleFullscreen()" uib-tooltip="{{'views.header.fullscreen'|translate}}" tooltip-placement="bottom" tooltip-append-to-body="true"></a>	</nav>
</header>

<div class="page-wrapper is-mobile">
	<div class="pull-push clearfix">
		<div ng-repeat="rp in $GameApi.Rooms track by rp.room.id" class="col-p-12 col-tp-6">
			<div class="room is-mobile room-primary" live-action="{ call:'joinRoom', room:rp.room.id }">
				<div class="room-head">
					<div class="head-title">
						{{ ::roomFilter(rp.room.id) }}
						<div class="room-status room-live" ng-if="rp.isLive"
							  uib-tooltip="{{'views.lobby.tooltips.isLive'|translate}}"
							  tooltip-append-to-body="true" translate>views.lobby.live</div>
						<div class="room-status room-auto" ng-if="!rp.isLive"
							 uib-tooltip="{{'views.lobby.tooltips.isManuel'|translate}}"
							 tooltip-append-to-body="true" translate>views.lobby.auto-matic</div>
					</div>
					<div class="room-jackpot">JACKPOT:<span>{{rp.jackpot.pot | number:2}}<sup>{{::$GameApi.CurrencySymbol}}</sup></span></div>
				</div>
				<div class="room-content">
					<ks-swiper-container slides-per-view="1" slides-per-column="1" space-between="0" pagination-is-active="true"
									 pagination-clickable="false" show-nav-buttons="false" loop="false" autoplay="0"
									 initial-slide="0" direction="horizontal">
						<ks-swiper-slide ng-repeat="rt in ::rp.rates">
							<div class="rate-title"
								     translate
								     translate-values="{r:rt.rate,cs:$GameApi.CurrencySymbol}">views.lobby.rateHead</div>
							<div class="rate-reward common" ng-repeat="(k,r) in rt.rewards" ng-if="r > 0" ng-hide="$index > 3">
								<span class="col-p-4"><span translate>{{::$GameApi.getRewardName(k)}}</span></span>
								<span class="col-p-2">
									<span><i class="reward-icon {{k}}"></i></span>
								</span>
								<span class="col-p-4" ng-if="rp.settings.RoomRewardOptions.mode != 'livecards'">{{r}}<sup>{{::$GameApi.CurrencySymbol}}</sup></span>
								<span class="col-p-4" ng-if="rp.settings.RoomRewardOptions.mode == 'livecards'">%{{r*100}}</span>
							</div>
							<hr />
							<div ng-repeat="(rate,rwrds) in ::roomsRewards[rp.room.id]" ng-if="rt.rate == rate">
								<div class="rate-reward extra" ng-repeat="r in rwrds">
									<span class="col-p-6 col-p-6">{{'views.room.prizes.firstPrefix'|translate}} <span class="extra-draw">{{::r.Draw}}</span><span translate>{{::$GameApi.getRewardName('line'+r.Line)}}</span></span>
									<span class="col-p-4 col-p-4">
										{{::r.Reward}}<sup>{{::$GameApi.CurrencySymbol}}</sup>
									</span>
								</div>
							</div>
						</ks-swiper-slide>
					</ks-swiper-container>

					<div class="room-login">
						<a href="#" class="button primary-action" translate>views.lobby.enterRoom</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>