<em class="current-lang lang-item {{ $root.currentLanguage }}"></em>
<ul class="lang-list">
	<li ng-repeat="(key, value) in locales"><a href="#" class="lang-item {{ key }}" 
	uib-tooltip="{{ value }}" tooltip-placement="left" 
	tooltip-append-to-body="true" 
	ng-click="switchLanguage(key)" ng-if="key != $root.currentLanguage"></a></li>
</ul>
