<header class="header">
	<div class="logo-wrapper col-tl-3 col-d-3">
		<live-logo></live-logo>
	</div>

	<div class="user-container col-tl-4 col-d-4">
		<div class="name icon-user">{{stateData.user.name}}</div>
		<div class="wallet icon-coins {{balanceStyle}}" markd="wallet">{{stateData.wallet.credit | number:2}}<sup>{{$GameApi.CurrencySymbol}}</sup></div>
	</div>

	<nav class="user-menu">
		<language class="language-container"></language>
		<settings class="settings-container"></settings>
		<a href class="fullscreen" ng-click="$Live.toggleFullscreen()" uib-tooltip="{{'views.header.fullscreen'|translate}}" tooltip-placement="bottom" tooltip-append-to-body="true"></a>
	</nav>
</header>
<div id="lobby" class="page-wrapper">
	<div class="pull-push clearfix">
		<div ng-repeat="rp in $GameApi.Rooms track by rp.room.id" class="col-d-6 col-tl-12">
			<!-- Default -->
			<div class="room-item room-type-{{ rp.room.broadcastId }}" ng-if="rp.isLive">
				<div class="room room-primary">
					<div class="room-content">
						<ks-swiper-container slides-per-view="1" slides-per-column="1" space-between="0" pagination-is-active="true"
										 pagination-clickable="false" show-nav-buttons="false" loop="false" autoplay="2000"
										 initial-slide="0" direction="horizontal">
							<ks-swiper-slide ng-repeat="rt in ::rp.rates">
								<div class="rate-title"
								     translate
								     translate-values="{r:rt.rate,cs:$GameApi.CurrencySymbol}">views.lobby.rateHead</div>
								<div class="rate-reward-wrapper">
									<div class="rate-reward common" ng-repeat="(k,r) in rt.rewards" ng-if="r > 0" ng-hide="$index > 3">
										<div class="reward-wrapper">
											<i class="reward-icon {{k}}"></i>
											<span ng-if="rp.settings.RoomRewardOptions.mode != 'livecards'">{{r}}<sup>{{::$GameApi.CurrencySymbol}}</sup></span>
											<span ng-if="rp.settings.RoomRewardOptions.mode == 'livecards'">%{{r*100}}</span>
										</div>
									</div>
								</div>
								<hr />
								<div ng-repeat="(rate,rwrds) in ::roomsRewards[rp.room.id]" ng-if="rt.rate == rate" class="extra-rewards">
									<div class="rate-reward extra" ng-repeat="r in rwrds">
										<span class="reward-landscape">
											<span class="reward-info">{{'views.room.prizes.firstPrefix'|translate}} <span class="extra-draw">{{::r.Draw}}</span> <span translate>{{::$GameApi.getRewardName('line'+r.Line)}}</span></span>
											<span>
												{{::r.Reward}}<sup>{{::$GameApi.CurrencySymbol}}</sup>
											</span>
										</span>
									</div>
								</div>
							</ks-swiper-slide>
						</ks-swiper-container>
						
						<div class="room-login">
							<a href="#" class="button primary-action" live-action="{ call:'joinRoom', room:rp.room.id }"><span translate>views.lobby.enterRoom</span></a>
						</div>
					</div>
					<div class="room-wrapper">
						<div class="room-head">
							<div class="head-title">
								{{ ::roomFilter(rp.room.id) }}
								<div class="room-status room-live" ng-if="rp.isLive"
									  uib-tooltip="{{'views.lobby.tooltips.isLive'|translate}}"
									  tooltip-append-to-body="true" translate>views.lobby.live</div>
								<div class="room-status room-auto" ng-if="!rp.isLive"
								     uib-tooltip="{{'views.lobby.tooltips.isManuel'|translate}}"
									 tooltip-append-to-body="true" translate>views.lobby.auto-matic</div>
							</div>
							<div class="room-jackpot">JACKPOT:<span> {{rp.jackpot.pot | number:2 }}<sup>{{::$GameApi.CurrencySymbol}}</sup></span></div>
						</div>

						<div class="room-video" id="video-{{rp.room.id}}" ng-init="loadRoomVideo(rp.room.id)"></div>
					</div>
					
				</div>
			</div>

			<div class="room-item room-type-{{ rp.room.broadcastId }}" ng-if="!rp.isLive">
				<div class="room room-primary">
					<div class="room-content">
						<ks-swiper-container slides-per-view="1" slides-per-column="1" space-between="0" pagination-is-active="true"
										 pagination-clickable="false" show-nav-buttons="false" loop="false" autoplay="2000"
										 initial-slide="0" direction="horizontal">
							<ks-swiper-slide ng-repeat="rt in ::rp.rates">
								<div class="rate-title"
								     translate
								     translate-values="{r:rt.rate,cs:$GameApi.CurrencySymbol}">views.lobby.rateHead</div>
								<div class="rate-reward-wrapper">
									<div class="rate-reward common" ng-repeat="(k,r) in rt.rewards" ng-if="r > 0" ng-hide="$index > 3">
										<div class="reward-wrapper">
											<i class="reward-icon {{k}}"></i>
											<span ng-if="rp.settings.RoomRewardOptions.mode != 'livecards'">{{r}}<sup>{{::$GameApi.CurrencySymbol}}</sup></span>
											<span ng-if="rp.settings.RoomRewardOptions.mode == 'livecards'">%{{r*100}}</span>
										</div>
									</div>
								</div>
								<hr />
								<div ng-repeat="(rate,rwrds) in ::roomsRewards[rp.room.id]" ng-if="rt.rate == rate" class="extra-rewards">
									<div class="rate-reward extra" ng-repeat="r in rwrds">
										<span class="reward-landscape">
											<span class="reward-info">{{'views.room.prizes.firstPrefix'|translate}} <span class="extra-draw">{{::r.Draw}}</span> <span translate>{{::$GameApi.getRewardName('line'+r.Line)}}</span></span>
											<span>
												{{::r.Reward}}<sup>{{::$GameApi.CurrencySymbol}}</sup>
											</span>
										</span>
									</div>
								</div>
							</ks-swiper-slide>
						</ks-swiper-container>
						<div class="room-login">
							<a href="#" class="button primary-action" live-action="{ call:'joinRoom', room:rp.room.id }"><span translate>views.lobby.enterRoom</span></a>
						</div>
					</div>
					<div class="room-wrapper">
						<div class="room-head">
							<div class="head-title">
								{{ ::roomFilter(rp.room.id) }}
								<div class="room-status room-live" ng-if="rp.isLive"
									  uib-tooltip="{{'views.lobby.tooltips.isLive'|translate}}"
									  tooltip-append-to-body="true" translate>views.lobby.live</div>
								<div class="room-status room-auto" ng-if="!rp.isLive"
								     uib-tooltip="{{'views.lobby.tooltips.isManuel'|translate}}"
									 tooltip-append-to-body="true" translate>views.lobby.auto-matic</div>
							</div>
							<div class="room-jackpot">JACKPOT:<span> {{rp.jackpot.pot | number:2 }}<sup>{{::$GameApi.CurrencySymbol}}</sup></span></div>
						</div>
						<div class="room-image">
							<video width="354" height="195" loop="true" autoplay="true" controls="false" muted="true">
							  <source ng-src="{{bingoBallsVideo.mp4}}" type="video/mp4">
							  <source ng-src="{{bingoBallsVideo.webm}}" type="video/webm">
							</video>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>