<div id="wrapper" class="page-wrapper login-wrap">
    <div class="lg-logo"></div>
    <form role="form" ng-submit="login.submit()" class="clearfix">
        <ol class="login-form">
            <li>
                <label class="item item-stacked">
                    <input type="text" ng-model="login.form.username" class="input-login one-whole" placeholder="{{ 'views.form.username' | translate }}" autofocus="">
                </label>
            </li>
            <li>
                <label class="item item-stacked">
                    <input type="password" ng-model="login.form.password" class="input-login one-whole" placeholder="{{ 'views.form.password' | translate }}" autofocus="">
                </label>
            </li>
            <li>
                <button class="button button-large button-login primary-action" translate>views.form.login</button>
            </li>
            <li>
                <label class="item is-checkbox col-d-6">
                    <input ng-model="login.form.remember" type="checkbox" value="{{ 'views.form.rememberMe' | translate }}">
                    <span class="item-label" translate>views.form.rememberMe</span>
                </label>
                <a href="#" class="col-d-6 forgot-password" translate>views.form.forgotPassword</a>
            </li>
        </ol>
    </form>
    <div class="login-contact">
        <h4 translate>views.form.contactInfo</h4>
        <div><strong>Mail:</strong> info@livegames.io</div>
    </div>
    <div class="login-notice">
        <h4 translate>views.form.legalNotice</h4>

        <p translate>views.form.legalNoticeContent</p>
    </div>
</div>
