<div class="box-content box-green col-lg-12 notif" ng-if="systemMessages.length" translate>views.room.extra.systemMessages</div>
<div class="box-content box-green col-lg-12 notif" ng-if="notifications.length" translate>views.room.extra.notifications</div>