<div class="modal-header">
    <h3 class="modal-title">{{::title}}</h3>
</div>
<div class="modal-body">
    {{::msg}}
</div>
<div class="modal-footer">
    <button class="button tertiary-action" type="button" ng-click="ok()" translate>views.modal.approve</button>
    <button class="button cancel-action" type="button" ng-click="cancel();" translate>views.modal.cancel</button>
</div>
