<div class="modal-body profile-body">
    <uib-accordion close-others="true">
        <div uib-accordion-group class="profile-default">
            <uib-accordion-heading translate>views.modal.profile.transactionMovements</uib-accordion-heading>
            <uib-accordion close-others="true " ng-init="loadLog('room')">
                <table class="one-whole">
                    <tbody>
                        <tr>
                            <th class="one-half" translate>views.modal.profile.room</th>
                            <th class="one-half align-right" translate>views.modal.profile.date</th>
                        </tr>
                    </tbody>
                </table>
                <div class="scroll-bar">
                    <div uib-accordion-group ng-repeat="log in logs['room']" class="panel-default">
                        <uib-accordion-heading>
                            <div class="one-half">{{ log.data.rn }}</div>
                            <div class="one-half align-right" uib-tooltip="{{ 'views.modal.profile.requestIp' | translate : { ip: log.ip } }}" tooltip-append-to-body="true">{{log.createdAt | date:'dd.MM.yyyy HH:mm:ss' }}</div>
                         </uib-accordion-heading>
                        <div class="col-p-4 col-tp-4"><span class="color-white" translate>views.modal.profile.session</span> {{ log.data.s }}</div>
                        <div class="col-p-4 col-tp-4"><span class="color-white" translate>views.modal.profile.cardNo</span> {{ log.data.c }}</div>
                        <div class="col-p-4 col-tp-4"><span class="color-white" translate>views.modal.profile.quantity</span> {{ log.data.amount | number:2 }}</div>
                    </div>
                </div>

                <uib-pagination total-items="logsCnt['room']"
                                items-per-page="ps"
                                max-size="3"
                                ng-model="pageCounts['room']"
                                ng-change="loadLog('room')"></uib-pagination>
            </uib-accordion>
        </div>
        <div uib-accordion-group class="profile-default" ng-if="$Live.config.profileModalLogs">
            <uib-accordion-heading translate>views.modal.profile.systemMovements</uib-accordion-heading>

            <uib-accordion close-others="true " ng-init="loadLog('actions')">
                <table class="one-whole">
                    <tbody>
                        <tr>
                            <th class="one-half" translate>views.modal.profile.process</th>
                            <th class="one-half align-right" translate>views.modal.profile.date</th>
                        </tr>
                    </tbody>
                </table>
                <div class="scroll-bar">
                    <div uib-accordion-group ng-repeat="log in logs['actions']" class="panel-default">
                        <uib-accordion-heading>
                            <div class="one-half" ng-if="log.action=='join'" translate>views.modal.profile.joinedRoom</div>
                            <div class="one-half" ng-if="log.action=='leave'" translate>views.modal.profile.leftRoom</div>
                            <div class="one-half" ng-if="log.action=='login'" translate>views.modal.profile.logonSystem</div>
                            <div class="one-half" ng-if="log.action=='pw'" translate>views.modal.profile.passwordChanged</div>
                            <div class="one-half align-right" uib-tooltip="İstek {{log.ip}} adresinden yapılmıştır." tooltip-append-to-body="true">{{log.createdAt | date:'dd.MM.yyyy HH:mm:ss' }}</div>
                         </uib-accordion-heading>
                        <div class="col-p-12 col-tp-12 align-center"><span class="color-white" translate>views.modal.profile.detail</span> {{ log.data.rn }}</div>
                    </div>
                </div>

                <uib-pagination total-items="logsCnt['actions']"
                                items-per-page="ps"
                                max-size="3"
                                ng-model="pageCounts['actions']"
                                ng-change="loadLog('actions')"></uib-pagination>
            </uib-accordion>
        </div>
        <div uib-accordion-group class="profile-default" ng-if="$Live.config.profileModalTransactions">
            <uib-accordion-heading translate>views.modal.profile.balanceHistory</uib-accordion-heading>

            <uib-accordion close-others="true " ng-init="loadLog('transactions')">
                <table class="one-whole">
                    <tbody>
                        <tr>
                            <th class="one-half" translate>views.modal.profile.action</th>
                            <th class="one-half align-right" translate>views.modal.profile.date</th>
                        </tr>
                    </tbody>
                </table>
                <div class="scroll-bar">
                    <div uib-accordion-group ng-repeat="log in logs['transactions']" class="panel-default">
                        <uib-accordion-heading>
                            <div class="one-half" ng-if="log.action=='deposit'" translate>views.modal.profile.addDeposit</div>
                            <div class="one-half" ng-if="log.action!='deposit'" translate>views.modal.profile.pullDeposit</div></td>
                            <div class="one-half align-right">{{log.createdAt | date:'dd.MM.yyyy HH:mm:ss' }}</div>
                         </uib-accordion-heading>
                        <div class="one-half"><span class="color-white" translate>İşlem</span> 
                        <span ng-if="log.action=='deposit'" translate>views.modal.profile.sender</span>
                        <span ng-if="log.action!='deposit'" translate>views.modal.profile.pulling</span> : {{log.action=='deposit'?log.data.sender:log.data.recv}}
                        </div>
                        <div class="one-half align-right"><span class="color-white" translate>Miktar</span> {{log.data.amount}}</div>
                    </div>
                </div>
                <uib-pagination total-items="logsCnt['transactions']"
                                items-per-page="ps"
                                max-size="3"
                                ng-model="pageCounts['transactions']"
                                ng-change="loadLog('transactions')"></uib-pagination>
            </uib-accordion>
        </div>
        <div uib-accordion-group class="profile-default" ng-if="$Live.config.profileModalChangePassword">
            <uib-accordion-heading translate>views.modal.profile.changePassword</uib-accordion-heading>
            <ol class="change-password col-p-12 col-tp-12">
                <li class="one-whole">
                    <label class="item">
                        <input type="password" placeholder="{{ 'views.form.newPassword' | translate }}" ng-model="pw.p">
                    </label>
                </li>
                <li class="one-whole">
                    <label class="item">
                        <input type="password" placeholder="{{ 'views.form.reNewPassword' | translate }}" ng-model="pw.pa">
                    </label>
                </li>
                <li class="one-whole align-right">
                    <button type="button" class="button tertiary-action" ng-click="changePw();" ng-disabled="pw.inact" translate>views.form.save</button>
                </li>
                <div>{{pw.msg}}</div>
            </ol>
        </div>
    </uib-accordion>
</div>
<div class="modal-footer">
    <button class="button cancel-action" type="button" ng-click="cancel();" translate>button.close</button>
</div>
