<div class="modal-header">
	<ol class="modal-lg-nav">
		<li><a href ng-click="profileState='roomhistory'" translate>views.modal.profile.transactionMovements</a></li>
		<li ng-if="$Live.config.profileModalLogs"><a href ng-click="profileState='actions'" translate>views.modal.profile.systemMovements</a></li>
		<li ng-if="$Live.config.profileModalTransactions"><a href ng-click="profileState='transactions'" translate>views.modal.profile.balanceHistory</a></li>
		<li ng-if="$Live.config.profileModalChangePassword"><a href ng-click="profileState='changePass'" translate>views.modal.profile.changePassword</a></li>
	</ol>
</div>
<div class="modal-body profile-body">
	<div ng-if="profileState=='roomhistory'" ng-init="loadLog('room')" class="modal-profile-content">
		<table class="one-whole" id="roomhistory">
			<thead>
				<tr class="title">
					<th translate>views.modal.profile.room</th>
					<th translate>views.modal.profile.action</th>
					<th translate>views.modal.profile.session</th>
					<th translate>views.modal.profile.cardNo</th>
					<th translate>views.modal.profile.quantity</th>
					<th translate>views.modal.profile.date</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat-start="log in logs['room']">
					<td>{{ log.data.rn }}</td>
					<td ng-switch="log.action">
						<span ng-switch-when="buy" translate>views.modal.profile.purchasedCard</span>
						<span ng-switch-when="penalty">
							<span ng-if="log.data.type == 'tossup'" translate>views.modal.profile.tossupLost</span>
						</span>
						<span ng-switch-when="reward">
							<span ng-if="log.data.type == 'tossup'" translate>views.modal.profile.tossupWon</span>
						<span ng-if="log.data.type == 'jackpot'" translate>views.modal.profile.jackpotWon</span>
						<span ng-if="log.data.type == 'card'" translate translate-values="{ reward: $GameApi.getAllRewardNames(log.data.rewards) }">views.modal.profile.rewards</span>
						</span>
					</td>
					<td><button type="button" class="btn" ng-click="$root.expandedLog=($root.expandedLog!=log.id?log.id:0)" ng-show="log.data.type != 'jackpot'">{{ log.data.s }}</button></td>
					<td>{{ log.data.c || "-" }}</td>
					<td>{{ log.data.amount | number:2 }}</td>
					<td>{{ log.createdAt | date:'dd.MM.yyyy HH:mm' }}</td>
				</tr>
				<tr ng-repeat-end ng-if="$root.expandedLog == log.id" class="expanded">
					<td style="width:50%" colspan="6">
						<div class="col-d-6">
							<div id="replaySessionVideo"></div>
						</div>
						<div ng-init="showSession(log.data.s)" class="session-detail col-d-6">
							<h4 translate>views.modal.profile.sessionInfo</h4>
							<div>
								<strong>{{ 'views.modal.profile.room' | translate }} :</strong> {{ log.data.rn }}
							</div>
							<div ng-if="log.action == 'buy'">
								<strong>{{ 'views.modal.profile.receivedCard' | translate }} :</strong> {{ log.data.c }}
							</div>

							<div>
								<strong>{{ 'views.modal.profile.lastBalance' | translate }} :</strong> {{ log.data.balance | number:2 }}
							</div>
							<div ng-if="log.ip">
								<strong>{{ 'views.modal.profile.ip' | translate }} :</strong> : {{log.ip}}
							</div>
							<br />
							<button type="button" ng-click="loadSessionCard(log)" ng-if="!sessionDetailCard[log.data.s][log.data.c]" translate>views.modal.profile.viewCardDetails</button>
							<div ng-if="sessionDetailCard[log.data.s][log.data.c]" class="card-details">
								<div ng-repeat="card in sessionDetailCard[log.data.s][log.data.c]">
									<h4 translate>views.modal.profile.cardInfo</h4>
									<div>
										<strong>{{ 'views.modal.profile.cardNo' | translate }} :</strong> : {{log.data.c}}
									</div>
									<div>
										<strong>{{ 'views.modal.profile.cardPrice' | translate }} :</strong> : {{card.rate}}
									</div>
									<div ng-if="card.chkStamps.length">
										<h4 translate>views.modal.profile.selectedNumbers</h4>
										<div ng-click="sessionDetailCard[log.data.s][log.data.c].activeNumber=0" translate translate-values="{ number: sessionDetailCard[log.data.s][log.data.c].activeNumber.n, date: sessionDetailCard[log.data.s][log.data.c].activeNumber.d | date:'dd.MM.yyyy HH:mm:ss' }">
											views.modal.profile.selectedNumberDescription
										</div>
										<span ng-repeat="nobj in ::card.chkStamps" class="number" ng-click="sessionDetailCard[log.data.s][log.data.c].activeNumber=nobj">{{ nobj.n }}</span>
									</div>

									<div ng-if="card.prize.length">
										<h4 translate>views.modal.profile.earnings</h4>
										<div ng-repeat="w in card.prize track by $index">
											<div class="reward-index" ng-if="!!w">
												<div ng-switch="$index" class="winner-index">
													<div ng-switch-when="0" translate>views.room.prizes.first</div>
													<div ng-switch-when="1" translate>views.room.prizes.second</div>
													<div ng-switch-when="2" translate>views.room.prizes.third</div>
												</div>

												<div class="winner-card-info">
													{{ 'views.modal.profile.earned' | translate : { won: w.won, currency: $GameApi.CurrencySymbol } }}
													<em ng-if="w.cw > 1" translate translate-values="{ count: w.cw }">views.modal.profile.shared</em>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>

							<button type="button" ng-click="loadSessionDetail(log)" ng-if="!sessionDetail[log.data.s][log.data.c]" translate>views.modal.profile.viewEarnDetails</button>
							<div ng-if="sessionDetail[log.data.s][log.data.c]" class="winner-details">
								<h4 translate>views.modal.profile.winCards</h4>
								<div ng-repeat="winners in sessionDetail[log.data.s][log.data.c].wins track by $index">
									<div class="reward-index">
										<div ng-switch="$index" class="winner-index">
											<div ng-switch-when="0" translate>views.room.prizes.first</div>
											<div ng-switch-when="1" translate>views.room.prizes.second</div>
											<div ng-switch-when="2" translate>views.room.prizes.third</div>
										</div>
										<div class="winner-card-info {{rw.c.color}}" ng-repeat="rw in winners">
											{{rw.id}}
										</div>
									</div>
								</div>
								<h4 translate>views.modal.profile.winNumbers</h4>
								<div ng-if="sessionDetail[log.data.s][log.data.c].activeNumber" ng-click="sessionDetail[log.data.s][log.data.c].activeNumber=0" translate translate-values="{ number: sessionDetail[log.data.s][log.data.c].activeNumber.n, date: sessionDetail[log.data.s][log.data.c].activeNumber.d | date:'dd.MM.yyyy HH:mm:ss' }">
									views.modal.profile.selectedNumberDescription
								</div>
								<span ng-repeat="nobj in ::sessionDetail[log.data.s][log.data.c].numbers" class="number" ng-click="sessionDetail[log.data.s][log.data.c].activeNumber=nobj">{{ nobj.n }}</span>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<uib-pagination total-items="logsCnt['room']" items-per-page="ps" max-size="10" ng-model="pageCounts['room']" ng-change="loadLog('room')"></uib-pagination>
	</div>
	<div ng-if="profileState=='actions'" ng-init="loadLog('actions')" class="modal-profile-content">
		<table class="one-whole" id="roomactions">
			<tbody>
				<tr class="title">
					<th translate>views.modal.profile.room</th>
					<th translate>views.modal.profile.process</th>
					<th translate>views.modal.profile.date</th>
				</tr>
				<tr ng-repeat="log in logs['actions']">
					<td>{{ log.data.rn || 'Tombala' }}</td>
					<td>
						<span ng-if="log.action=='join'" translate>views.modal.profile.joinedRoom</span>
						<span ng-if="log.action=='leave'" translate>views.modal.profile.leftRoom</span>
						<span ng-if="log.action=='login'" translate>views.modal.profile.logonSystem</span>
						<span ng-if="log.action=='pw'" translate>views.modal.profile.passwordChanged</span>
					</td>
					<td>{{ log.createdAt | date:'dd.MM.yyyy HH:mm:ss' }}</td>
				</tr>
			</tbody>
		</table>
		
		<uib-pagination total-items="logsCnt['actions']" items-per-page="ps" max-size="10" ng-model="pageCounts['actions']" ng-change="loadLog('actions')"></uib-pagination>
	</div>
	<div ng-if="profileState=='transactions'" ng-init="loadLog('transactions')" class="modal-profile-content">
		<table class="one-whole" id="transactions">
			<tbody>
				<tr>
					<th translate>views.modal.profile.action</th>
					<th translate>views.modal.profile.process</th>
					<th translate>views.modal.profile.quantity</th>
					<th translate>views.modal.profile.date</th>
				</tr>
				<tr ng-repeat="log in logs['transactions']">
					<td>
						<span ng-if="log.action=='deposit'" translate>views.modal.profile.addDeposit</span>
						<span ng-if="log.action!='deposit'" translate>views.modal.profile.pullDeposit</span></td>
					<td>
					<span ng-if="log.action=='deposit'" translate>views.modal.profile.sender</span>
						<span ng-if="log.action!='deposit'" translate>views.modal.profile.pulling</span></td>
					<td>{{log.data.amount}}</td>
					<td>{{log.createdAt | date:'dd.MM.yyyy HH:mm:ss' }}</td>
				</tr>
			</tbody>
		</table>
		<uib-pagination total-items="logsCnt['transactions']" items-per-page="ps" max-size="10" ng-model="pageCounts['transactions']" ng-change="loadLog('transactions')"></uib-pagination>
	</div>
	<div ng-if="profileState=='changePass'" class="modal-profile-content">
		<ol class="change-password">
			<li class="one-half item-field">
				<label class="item">
                    <span class="item-label" translate>views.form.password</span>
                    <input type="password" placeholder="{{ 'views.form.newPassword' | translate }}" ng-model="pw.p">
                </label>
			</li>
			<li class="one-half">
				<label class="item">
                    <span class="item-label" translate>views.form.rePassword</span>
                    <input type="password" placeholder="{{ 'views.form.reNewPassword' | translate }}" ng-model="pw.pa">
                </label>
			</li>
			<li class="one-whole align-right">
				<button type="button" class="button tertiary-action" ng-click="changePw()" ng-disabled="pw.inact" translate>views.form.save</button>
			</li>
			<div>{{pw.msg}}</div>
		</ol>
	</div>
</div>
<div class="modal-footer">
	<button class="button tertiary-action" type="button" ng-click="cancel();" translate>button.close</button>
</div>
