<header class="header">
	<div class="logo-wrapper col-tl-3 col-d-3">
		<live-logo ng-click="backToLobby()"></live-logo>
	</div>

	<div class="user-container col-tl-6 col-d-6">
		<div class="name icon-user">{{stateData.user.name}}</div>
		<div class="wallet icon-coins {{balanceStyle}}" markd="wallet">{{stateData.wallet.credit | number:2}}<sup>{{$GameApi.CurrencySymbol}}</sup></div>
        <a href="#" class="header-links" ng-click="changeSection('betHistory')" translate>views.modal.betHistory</a>
        <a href="#" class="header-links" ng-click="changeSection('sessionHistory')" translate>views.modal.sessionHistory</a>
	</div>

	<nav class="user-menu">
        <a href class="back-to-lobby" ng-click="backToLobby()" translate>views.header.backToLobby</a>
        <language class="language-container"></language>
        <settings class="settings-container"></settings>
        <a href class="fullscreen" ng-click="$Live.toggleFullscreen()" uib-tooltip="{{'views.header.fullscreen'|translate}}" tooltip-placement="bottom" tooltip-append-to-body="true"></a>
	</nav>
</header>
<div id="room" class="page-wrapper">
    <div class="pull-push clearfix">
        <div id="main" ng-class="{ 'room-hide' : showSales || betHistory || sessionHistory }">
            <div class="col-tl-5 col-d-6">
                <div class="dashboard">
                    <div class="dashboard-top">
                        <div class="card-content box-content box-green-session none-binder" ng-if="!$GameApi.MyCards.length && $GameApi.RoomState == $GameApi.Enums.State.PLAYING">
                            <em translate>views.room.alerts.nextSession</em>
                        </div>
                        <div class="card-content box-content box-orange list-type none-binder" ng-if="!$GameApi.MyCards.length && (!$GameApi.RoomData.specialgift || $GameApi.RoomData.specialgift.canBuyCard) && $GameApi.RoomState == $GameApi.Enums.State.OPEN">
                            <a href="javascript:void(0);" ng-click="toggleSalesCards();$event.stopPropagation();" translate>views.room.alerts.buyNewCard</a>
                        </div>
                        <div class="card-content box-content box-orange none-binder list-type" ng-if="$GameApi.MyPrevCards.length && $GameApi.RoomState == $GameApi.Enums.State.PREOPEN" translate>
                            views.room.alerts.prevSessionCards
                        </div>
                        <div class="collects">
                            <div class="number" ng-repeat="nmb in nlist | limitTo:3"><span>{{nmb.n}}</span></div>
                        </div>
                        <div class="progress">
                            <div class="progress-layer">
                                <p>{{$GameApi.Balls.length}}/90</p>

                                <div class="progress-column">
                                    <div class="progress-bar progress-bar-warning progress-bar-striped bar-1"
                                         ng-if="$GameApi.Balls.length"
                                         ng-style="{'width': lineFirstProgress+'%'}"
                                         ng-class="{'complated-line1':$GameApi.WinnerNumbers.length > 0 }">
                                         <span>
                                            <i  uib-tooltip="{{'views.room.prizes.first'|translate}}"
                                                tooltip-placement="right"
                                                tooltip-append-to-body="true"></i>
                                         </span>
                                    </div>

                                    <div class="progress-bar progress-bar-success bar-2"
                                         ng-if="$GameApi.WinnerNumbers.length > 0"
                                         ng-style="{'width': lineSecondProgress+'%'}"
                                         ng-class="{'complated-line2':$GameApi.WinnerNumbers.length > 1 }">
                                         <span>
                                            <i  uib-tooltip="{{'views.room.prizes.second'|translate}}"
                                                tooltip-placement="right"
                                                tooltip-append-to-body="true"></i>
                                         </span>
                                    </div>

                                    <div class="progress-bar progress-bar-danger bar-3" 
                                         ng-if="$GameApi.WinnerNumbers.length > 1"
                                         ng-style="{'width': lineAllProgress +'%'}"
                                         ng-class="{'complated-line3':$GameApi.WinnerNumbers.length > 2 }">
                                         <span>
                                            <i  uib-tooltip="{{ 'views.room.prizes.third' | translate }}"
                                                tooltip-placement="right"
                                                tooltip-append-to-body="true"></i>
                                         </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-bottom">
                        <div class="room-jackpot animated {{jackpotStyle}}">
                            JACKPOT: <span>{{$GameApi.RoomData.jackpot.pot | number:2 }}<sup>{{::$GameApi.CurrencySymbol}}</sup></span>
                            <div class="remain">
                                <span class="jackpot-bar" 
                                    uib-tooltip="{{'views.room.extra.jackpotStatus'|translate}}: {{$GameApi.RoomData.jackpot.sf}} / {{$GameApi.RoomData.jackpot.fc}}"
                                    tooltip-placement="bottom"
                                    tooltip-append-to-body="true"
                                    ng-if="$GameApi.RoomData.jackpot.fc">
                                    <span ng-style="{'width': ( ( 100 / $GameApi.RoomData.jackpot.fc ) * $GameApi.RoomData.jackpot.sf ) +'%'}"></span>
                                </span>
                                <span ng-if="!$GameApi.RoomData.jackpot.fc" translate>views.room.prizes.jackpotInactive</span>
                            </div>
                        </div>
                        <div class="rewards-wrapper">
                            <ks-swiper-container slides-per-view="auto"
    											slides-per-column="1"
    											space-between="0"
    											loop="false"
    											autoplay="3000"
                                                initial-slide="0"
    											show-nav-buttons="true"
    											direction="horizontal"
    											loop-additional-slides="0"
    											looped-slides="1">
                                <ks-swiper-slide ng-repeat="rt in $GameApi.RoomData.rates" ng-init="rateIndex = $index">
                                    <div class="rate-reward-title rate-idx{{rateIndex}}" translate translate-values="{ r: rt.rate, cs: $GameApi.CurrencySymbol }">views.lobby.rateHead</div>
                                    <div ng-repeat="(rw,r) in rt.rewards"
    									ng-if="r > 0"
                                        ng-hide="$index > 3"
    									ng-init="rewardIndex = $index"
                                        ng-mouseover="toggleCardWins($event,rw)"
                                        ng-mouseleave="toggleCardWins($event,rw)"
    									class="rate-reward rate-reward-idx{{rewardIndex}}"
    									ng-class="{'prize-won': (rewardIndex+1) <= $GameApi.WinnerNumbers.length }">
                                        <i class="reward-icon {{rw}}"></i>
    									<span>{{ (($GameApi.RoomData.settings.RoomRewardOptions && $GameApi.RoomData.settings.RoomRewardOptions.mode == 'livecards' ? $GameApi.totalSoldCards(rt.rate) : 1) * r)  | number:0}}<sup>{{::$GameApi.CurrencySymbol}}</sup></span>
                                    </div>
                                </ks-swiper-slide>
                            </ks-swiper-container>
                        </div>
                    </div>
                </div>
                <div id="video-container" class="video-container">
                    <div class="video">
                        <div class="stream">
                            <div class="flash-alert" ng-if="$GameApi.RoomData.stream.isLive && !hasFlash" ng-hide="!flashAlert">
                                <p>Flash aktif edilmemiş. Gecikme sorunu yaşamamak için aktive edin.</p>
                                <div class="flash-button">
                                    <a href="https://get.adobe.com/flashplayer/"><img style="border-style: none" ng-src="{{flashIconPath}}"></a>
                                </div>
                                <div class="alert-button">
                                    <a href="https://get.adobe.com/flashplayer/" class="button approve">Aktive Et</a>
                                    <a href="#" class="button decline" ng-click="flashAlert=!flashAlert;">Kapat</a>
                                </div>
                            </div>
                            <div class="vplayer" id="playerLyzboPENOxSY" ng-if="$GameApi.RoomData.stream.isLive" ng-init="setupVideo()"></div>
                            <div class="vplayer-auto" ng-if="!$GameApi.RoomData.stream.isLive">
                                <div class="number" ng-repeat="nmb in nlist | limitTo:1"><span>{{nmb.n}}</span></div>
                            </div>
                        </div>
                        <div class="cooldown-container {{ $GameApi.RoomData.stream.isLive ? 'is-live':'is-auto' }}" ng-if="$GameApi.RoomState != $GameApi.Enums.State.PLAYING && !$GameApi.RoomState != $GameApi.Enums.State.FINISHED && $GameApi.cdList[$GameApi.cdList.active].remain > 0">
                            <span ng-if="$GameApi.RoomState == $GameApi.Enums.State.OPEN" translate translate-values="{ number: $GameApi.cdList[$GameApi.cdList.active].remain }">
                                views.room.alerts.nextSessionCountDown
                            </span>
                            <span ng-if="$GameApi.RoomState == $GameApi.Enums.State.PREOPEN" translate translate-values="{ number: $GameApi.cdList[$GameApi.cdList.active].remain }">
                                views.room.alerts.buyNewCardCountDown
                            </span>
                        </div>

                        <winners></winners>

                        <span class="stats-content">
                            <span class="stats-title" translate>views.room.sessionNo</span>
                            <span class="stats-seans">: {{$GameApi.RoomData.session || "---"}}</span>
                            <span class="stats-tv" ng-if="$GameApi.RoomData.stream.isLive">TV:</span>
                            <span class="stats-eurosport" ng-if="$GameApi.RoomData.stream.isLive">&nbsp;Eurosports HD</span>
                        </span>
                    </div>

                    <live-chat></live-chat>

                    <div class="vi-controls">
                        <i class="player-icons {{$root.vPlayerMute?'mute':'vol'}}" ng-click="toggleVolume();$event.stopPropagation();"></i>
                        <i class="player-icons {{vPlayerPause?'play':'pause'}}" ng-click="toggleStartStop();$event.stopPropagation();" ng-if="$GameApi.RoomData.stream.isLive"></i>
                        <audio id="audioPlayer" controls class="audio-player"></audio>
                    </div>
                </div>
                <div id="number-container" class="number-container">
                    <div class="number-list" ng-if="roomOnFocus">
                        <span class="animated" ng-repeat="n in numbers" ng-class="{'selected': $GameApi.Balls.indexOf(n) > -1, 'last': $GameApi.LastNumber == n, 'winner': $GameApi.WinnerNumbers.indexOf(n) > -1}">{{n}}</span>
                    </div>
                </div>
            </div>

            <div class="col-tl-7 col-d-6">
                <!--<div class="box-content box-dark" >
                    <div class="pull-push">
                        <div class="col-tl-4 col-d-4" ng-if="$GameApi.RoomState != $GameApi.Enums.State.OPEN">
                            <span class="stats-img"><img ng-src="{{$Live.config.uiUrl}}/svg/session-cards.svg"/></span>
                            <span class="stats-content">
                                <span class="stats-title" translate>views.room.table</span>
                                <span class="stats-room">{{$GameApi.RoomData.name}}</span>
                            </span>
                        </div>
                         <div class="col-tl-4 col-d-4">
                            <span class="stats-img"><img ng-src="{{$Live.config.uiUrl}}/svg/session-cards.svg"/></span>
                            <span class="stats-content">
                                <span class="stats-title" translate>views.room.sessionNo</span>
                                <span class="stats-seans">{{$GameApi.RoomData.session || "---"}}</span>
                            </span>
                         </div>
                         <div class="col-tl-4 col-d-4" ng-if="!$GameApi.RoomData.specialgift">
                            <span class="stats-img"><img ng-src="{{$Live.config.uiUrl}}/svg/card-fee.svg"/></span>
                            <span class="stats-content">
                                <span class="stats-title" translate>views.room.cardPrice</span>
                                <span class="stats-card">
                                    <span ng-repeat="(rval,robj) in $GameApi.RoomData.rates">
                                        <span ng-if="$index!=0">/</span>
                                        {{ rval }}<sup>{{::$GameApi.CurrencySymbol}}</sup>
                                    </span>
                                </span>
                            </span>
                         </div>
                    </div>
                </div>-->

    			<!-- SpecialGift -->
    			<div class="box-content box-specialgift" ng-if="$GameApi.RoomData.specialgift && ($GameApi.RoomData.specialgift.card || $GameApi.RoomData.specialgift.showNoCardError)">
                    <div class="pull-push" ng-if="$GameApi.RoomData.specialgift.card">
                        <div class="col-tl-11 col-d-11">
    						<div class="heading">
    							<strong>Yılbaşı Özel Çekilişine</strong> katılmak için kazandığınız #{{$GameApi.RoomData.specialgift.card.cardId}}'nolu hediye kartınız!
    						</div>
                         </div>
                         <div class="col-tl-7 col-d-7">
                            <tombala-card card-id="$GameApi.RoomData.specialgift.card.cardId" rate="0" section="winner"></tombala-card>
                         </div>
                    </div>
    				<div class="pull-push" ng-if="!$GameApi.RoomData.specialgift.card && $GameApi.RoomData.specialgift.showNoCardError">
                        <div class="col-tl-11 col-d-11">
    						<div class="heading">
    							<strong>Yılbaşı Özel Çekilişine</strong> katılmak için kartınız bulunmamaktadır!
    						</div>
                         </div>
                    </div>
                </div>

                <div id="state-open" class="card-row open" ng-if="$GameApi.RoomState == $GameApi.Enums.State.OPEN">
                    <button type="button" class="button tertiary-action new-card-button" ng-click="toggleSalesCards();" ng-if="$GameApi.RoomState == $GameApi.Enums.State.OPEN && (!$GameApi.RoomData.specialgift || $GameApi.RoomData.specialgift.canBuyCard)" translate>views.room.action.buyNewCard</button>
                    <div class="box-content box-green single-box" ng-if="$GameApi.MyCards.length" ng-if="$GameApi.MyCards.length">
                        <h4 class="box-title"><i class="icon icon-purchased-cards"></i> {{ 'views.room.title.purchasedCards' | translate }}</h4>
                        <div class="card-list {{$GameApi.MyCards.length > 5 ? '':'oneCol'}} clearfix">
                            <tombala-card card="$GameApi.newDeck[c.r.rate][c.i]" section="mine" ng-repeat="c in $GameApi.MyCards | orderBy:'i'"></tombala-card>
                        </div>
                    </div>
                </div>

                <div id="state-playing" class="card-row playing" ng-if="$GameApi.RoomState == $GameApi.Enums.State.PLAYING">
                    <div class="box-content box-green single-box" ng-if="$GameApi.MyCards.length">
                        <h4 class="box-title"><i class="icon icon-purchased-cards"></i> {{ 'views.room.title.purchasedCards' | translate }}</h4>
                        <div class="card-list {{$GameApi.MyCards.length > 5 ? '':'oneCol'}} clearfix">
                            <tombala-card card="$GameApi.newDeck[c.r.rate][c.i]" section="mine" ng-repeat="c in $GameApi.MyCards"></tombala-card>
                        </div>
                    </div>
                </div>

                <div id="state-preopen" class="card-row preopen" ng-if="$GameApi.RoomState == $GameApi.Enums.State.PREOPEN">
                    <div class="box-content box-green single-box" ng-if="$GameApi.MyPrevCards.length">
                        <h4 class="box-title"><i class="icon icon-purchased-cards"></i> {{ 'views.room.title.prevSessionCards' | translate }}</h4>
                        <div class="card-list {{$GameApi.MyPrevCards.length > 5 ? '':'oneCol'}} clearfix">
                            <tombala-card card="c" section="presale" ng-repeat="c in $GameApi.MyPrevCards"></tombala-card>
                        </div>
                    </div>

                    <div class="box-content box-green single-box" ng-if="!$GameApi.MyPrevCards.length && $GameApi.MyCards.length">
                        <h4 class="box-title"><i class="icon icon-purchased-cards"></i> {{ 'views.room.title.purchasedCards' | translate }}</h4>
                        <div class="card-list {{$GameApi.MyCards.length > 5 ? '':'oneCol'}} clearfix">
                            <tombala-card card="$GameApi.newDeck[c.r.rate][c.i]" section="mine" ng-repeat="c in $GameApi.MyCards"></tombala-card>
                        </div>
                    </div>
                </div>

                <div id="state-finished" class="card-row" ng-if="$GameApi.RoomState == $GameApi.Enums.State.FINISHED">
                    <div class="box-content box-green single-box" ng-if="$GameApi.MyCards.length">
                        <h4 class="box-title"><i class="icon icon-last-winners"></i> {{ 'views.room.title.purchasedCards' | translate }}</h4>
                        <div class="card-list {{$GameApi.MyCards.length > 5 ? '':'oneCol'}} clearfix">
                            <tombala-card card="$GameApi.newDeck[c.r.rate][c.i]" section="mine" ng-repeat="c in $GameApi.MyCards"></tombala-card>
                        </div>
                    </div>
                </div>

                <div class="pull-push info-place" ng-if="statData && !$GameApi.MyCards.length && (!$GameApi.MyPrevCards.length || $GameApi.RoomState == $GameApi.Enums.State.FINISHED)">
                    <div class="col-tl-12 col-d-12" ng-if="$GameApi.RoomState == $GameApi.Enums.State.OPEN || $GameApi.RoomState == $GameApi.Enums.State.PREOPEN">
                        <div class="box-content box-green single-box" ng-if="statData.lwc.length">
                            <h4 class="box-title"><i class="icon icon-last-winners"></i> {{'views.room.title.lastWinners'|translate}}</h4>
                            <div class="clearfix last-winner">
                                <tombala-card card-id="mwc.cardId" section="winners" ng-repeat="mwc in statData.lwc"></tombala-card>
                            </div>
                        </div>
                         <div class="box-content box-green none-binder" ng-if="statData.mwc.length">
                            <h4 class="box-title align-left none-margin"><i class="icon icon-winners"></i> {{'views.room.title.mostWinnerCards'|translate}}</h4>

                           <div class="info-card-list clearfix">
                                <tombala-card card-id="mwc.cardId" section="winners" ng-repeat="mwc in statData.mwc"></tombala-card>
                            </div>
                        </div>
                        <div class="box-content box-green none-binder">
                           <ks-swiper-container slides-per-view="1" slides-per-column="1" space-between="0" pagination-is-active="true"
                                                 pagination-clickable="false" show-nav-buttons="false" loop="true" autoplay="2000"
                                                 initial-slide="0" direction="horizontal">
                                <ks-swiper-slide>
                                    <h4 class="box-title"><i class="icon icon-winner-users"></i> {{'views.room.title.mostWinnerUsers'|translate}}</h4>
                                    <ol class="stats-list">
                                        <li ng-repeat="mwu in statData.mwu">
                                            <span>{{mwu.user.name}}</span>
                                            <span>{{mwu.totalWon | number:2}}{{::$GameApi.CurrencySymbol}}</span>
                                        </li>
                                    </ol>
                                </ks-swiper-slide>

                                <ks-swiper-slide>
                                    <h4 class="box-title"><i class="icon icon-winner-users"></i> {{'views.room.title.lastWinnerUsers'|translate}}</h4>
                                    <ol class="stats-list">
                                        <li ng-repeat="lwu in statData.lwu">
                                            <span>{{lwu.user.name}}</span>
                                            <span>{{lwu.lastWon | number:2}}{{::$GameApi.CurrencySymbol}}</span>
                                        </li>
                                    </ol>
                                </ks-swiper-slide>
                            </ks-swiper-container>
                        </div>
                    </div>
                    <div ng-if="$GameApi.RoomState == $GameApi.Enums.State.PLAYING && !$GameApi.MyPrevCards.length">
                        <div class="box-content box-green single-box">
                            <h4 class="box-title"><i class="icon icon-purchased-cards"></i> {{ 'views.room.title.bestCards' | translate }}</h4>
                            <div class="scroll-bar-full clearfix">
                                <tombala-card card-id="card" section="winners" ng-repeat="card in sortedCards"></tombala-card>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-tl-6 col-d-6">
                        <div class="box-content box-green">
                            <ks-swiper-container slides-per-view="1" slides-per-column="1" space-between="0" pagination-is-active="true"
                                                 pagination-clickable="false" show-nav-buttons="false" loop="true" autoplay="2000"
                                                 initial-slide="0" direction="horizontal">
                                <ks-swiper-slide>
                                    <h4 class="box-title"><i class="icon icon-winner-users"></i> {{'views.room.title.mostWinnerUsers'|translate}}</h4>
                                    <ol class="stats-list">
                                        <li ng-repeat="mwu in statData.mwu">
                                            <span>{{mwu.user.name}}</span>
                                            <span>{{mwu.totalWon | number:2}}{{::$GameApi.CurrencySymbol}}</span>
                                        </li>
                                    </ol>
                                </ks-swiper-slide>

                                <ks-swiper-slide>
                                    <h4 class="box-title"><i class="icon icon-winner-users"></i> {{'views.room.title.lastWinnerUsers'|translate}}</h4>
                                    <ol class="stats-list">
                                        <li ng-repeat="lwu in statData.lwu">
                                            <span>{{lwu.user.name}}</span>
                                            <span>{{lwu.lastWon | number:2}}{{::$GameApi.CurrencySymbol}}</span>
                                        </li>
                                    </ol>
                                </ks-swiper-slide>
                            </ks-swiper-container>
                        </div>
                        <div class="box-content box-green">
                            <ks-swiper-container slides-per-view="1" slides-per-column="1" space-between="0" pagination-is-active="true"
                                                 pagination-clickable="false" show-nav-buttons="false" loop="true" autoplay="2000"
                                                 initial-slide="0" direction="horizontal">
                                <ks-swiper-slide>
                                    <h4 class="box-title"><i class="icon icon-winner-users"></i> {{'views.room.title.mostWinnerNumbers'|translate}}</h4>
                                    <ol class="stats-number">
                                        <li ng-repeat="dn in statData.wn">
                                            <div class="numbr" uib-tooltip="{{dn.win}} defa kazandırmış" tooltip-append-to-body="true"><span>{{dn.number}}</span></div>
                                        </li>
                                    </ol>
                                </ks-swiper-slide>

                                <ks-swiper-slide>
                                    <h4 class="box-title"><i class="icon icon-query"></i> {{'views.room.title.lastWinnerNumbers'|translate}}</h4>
                                    <ol class="stats-number">
                                        <li ng-repeat="dn in statData.dn">
                                            <div class="numbr" uib-tooltip="{{dn.total}} defa çekilmiş" tooltip-append-to-body="true"><span>{{dn.number}}</span></div>
                                        </li>
                                    </ol>
                                </ks-swiper-slide>
                            </ks-swiper-container>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
        <div id="sale-cards" class="col-tl-12 col-d-12" ng-show="showSales" ng-if="loadedSaleCards">
            <sale-cards></sale-cards>
        </div>
 
        <bet-history ng-if="betHistory" ng-class="{ 'show-history' : betHistory }"></bet-history>

        <session-history ng-if="sessionHistory" ng-class="{ 'show-history' : sessionHistory }"></session-history>

    </div>
</div>
