<header class="header is-mobile">
	<div class="logo-wrapper col-p-6 col-tp-4">
		<live-logo ng-click="backToLobby()"></live-logo>
	</div>

    <div class="wallet icon-coins {{balanceStyle}}" markd="wallet">{{stateData.wallet.credit | number:2}}<sup>{{$GameApi.CurrencySymbol}}</sup></div>

    <nav class="user-menu">
        <language class="language-container"></language>
        <settings class="settings-container"></settings>
        <a href class="fullscreen" ng-click="$Live.toggleFullscreen()" uib-tooltip="{{'views.header.fullscreen'|translate}}" tooltip-placement="bottom" tooltip-append-to-body="true"></a>
	</nav>
</header>

<div id="room" class="page-wrapper is-mobile">
    <div class="dashboard-wrap" ng-class="{ 'room-hide' : showSales || betHistory || sessionHistory }">
        <div class="settings-wrap" ng-if="settingsWrap">
            <ol>
                <li translate>
                    views.room.extra.signSettings
                </li>
                <li>
                    <auto-buy class="lg-directive"></auto-buy>
                </li>
                <li>
                    <auto-sort class="lg-directive"></auto-sort>
                </li>
            </ol>
        </div>

        <div class="dashboard-head" ng-show="!showSales">
            <div class="number-collection">
                <div class="number" ng-repeat="nmb in nlist | limitTo:1">{{nmb.n}}</div>
            </div>
            <div class="progress">
                <div class="progress-point">{{$GameApi.Balls.length}}/90</div>
                <div class="progress-column">
                    <div class="progress-bar progress-bar-warning progress-bar-striped  bar-1" 
                         ng-if="$GameApi.Balls.length"
                         ng-style="{'width': lineFirstProgress+'%'}"
                         ng-class="{'complated-line1':$GameApi.WinnerNumbers.length > 0 }">
                         <span>
                            <i  uib-tooltip="{{'views.room.prizes.first'|translate}}"
                                tooltip-placement="right"
                                tooltip-append-to-body="true"></i>
                         </span>
                    </div>

                    <div class="progress-bar progress-bar-success bar-2" 
                         ng-if="$GameApi.WinnerNumbers.length > 0"
                         ng-style="{'width': lineSecondProgress+'%'}"
                         ng-class="{'complated-line2':$GameApi.WinnerNumbers.length > 1 }">
                         <span>
                            <i  uib-tooltip="{{'views.room.prizes.second'|translate}}"
                                tooltip-placement="right"
                                tooltip-append-to-body="true"></i>
                         </span>
                    </div>

                    <div class="progress-bar progress-bar-danger bar-3" 
                         ng-if="$GameApi.WinnerNumbers.length > 1"
                         ng-style="{'width': lineAllProgress +'%'}"
                         ng-class="{'complated-line3':$GameApi.WinnerNumbers.length > 2 }">
                         <span>
                            <i  uib-tooltip="{{'views.room.prizes.third'|translate}}"
                                tooltip-placement="right"
                                tooltip-append-to-body="true"></i>
                         </span>
                    </div>
                </div>
            </div>
        </div>
		<div class="dashboard-info" ng-show="!showSales">
			<div class="dashboard-jackpot col-p-5 col-tp-5">
				<div class="animated {{jackpotStyle}}">
					JACKPOT: <span>{{$GameApi.RoomData.jackpot.pot | number:2 }}<sup>{{::$GameApi.CurrencySymbol}}</sup></span>

                    <div class="remain">
                        <span class="jackpot-bar"
                                uib-tooltip="{{'views.room.extra.jackpotStatus'|translate}}: {{$GameApi.RoomData.jackpot.sf}} / {{$GameApi.RoomData.jackpot.fc}}"
                                tooltip-placement="right"
                                tooltip-append-to-body="true"
                                ng-if="$GameApi.RoomData.jackpot.fc">
                            <span ng-style="{'width': ( ( 100 / $GameApi.RoomData.jackpot.fc ) * $GameApi.RoomData.jackpot.sf ) +'%'}"></span>
                        </span>
                        <span ng-if="!$GameApi.RoomData.jackpot.fc" translate>views.room.prizes.jackpotInactive</span>
                    </div>
				</div>
			</div>
			<div class="dashboard-rewards col-p-7 col-tp-7">
				<ks-swiper-container slides-per-view="auto"
									slides-per-column="1"
									space-between="0"
									loop="false"
									autoplay="3000"
									initial-slide="0"
									show-nav-buttons="true"
									direction="horizontal"
									loop-additional-slides="0"
									looped-slides="1">
					<ks-swiper-slide ng-init="rateIndex = $index" ng-repeat="rt in $GameApi.RoomData.rates">
						<div class="rate-reward-title rate-idx{{rateIndex}}" translate translate-values="{ r: rt.rate, cs: $GameApi.CurrencySymbol }">views.lobby.rateHead</div>
						<div ng-repeat="(rw,r) in rt.rewards"
                                    ng-if="r > 0"
                                    ng-hide="$index > 3"
                                    ng-init="rewardIndex = $index"
                                    ng-mouseover="toggleCardWins($event,rw)"
                                    ng-mouseleave="toggleCardWins($event,rw)"
                                    class="rate-reward rate-reward-idx{{rewardIndex}}"
                                    ng-class="{'prize-won': (rewardIndex+1) <= $GameApi.WinnerNumbers.length }">
                                    <i class="reward-icon {{rw}}"></i>
                                    <span>{{ (($GameApi.RoomData.settings.RoomRewardOptions && $GameApi.RoomData.settings.RoomRewardOptions.mode == 'livecards' ? $GameApi.totalSoldCards(rt.rate) : 1) * r)  | number:0}}<sup>{{::$GameApi.CurrencySymbol}}</sup></span>
                                </div>
					</ks-swiper-slide>
				</ks-swiper-container>
			</div>
		</div>
	</div>

	<winners ng-show="!showSales" ng-class="{ 'room-hide' : showSales || betHistory || sessionHistory }"></winners>
	<!-- Orta Alan -->
    <div class="clearfix" ng-class="{ 'room-hide' : showSales || betHistory || sessionHistory }">
    	<div class="room-container scroll-bar is-mobile" ng-class="{ 'sale-card-view' : showSales }" ng-show="!showSales">

            <div id="state-open" class="room-state clearfix" ng-if="$GameApi.RoomState == $GameApi.Enums.State.OPEN">
                    <div class="room-state-content box-content box-orange" ng-if="!$GameApi.MyCards.length">
                        <a href="javascript:void(0);" ng-click="toggleSalesCards();$event.stopPropagation();" translate>views.room.alerts.buyNewCard</a>
                    </div>
                    <div class="room-state-list {{$GameApi.MyCards.length > 5 ? '':'oneCol'}} clearfix" ng-if="$GameApi.MyCards.length">
                        <tombala-card card="$GameApi.newDeck[c.r.rate][c.i]" section="mine" ng-repeat="c in $GameApi.MyCards"></tombala-card>
                    </div>
                </div>
            <div id="state-playing" class="room-state clearfix" ng-if="$GameApi.RoomState == $GameApi.Enums.State.PLAYING">
                <div class="card-content box-content box-blue-session" ng-if="!$GameApi.MyCards.length">
                    <em translate>views.room.alerts.nextSession</em>
                </div>
                <div class="room-state-list {{$GameApi.MyCards.length > 5 ? '':'oneCol'}}" ng-if="$GameApi.MyCards.length">
                    <tombala-card card="$GameApi.newDeck[c.r.rate][c.i]" section="mine" ng-repeat="c in $GameApi.MyCards"></tombala-card>
                </div>
            </div>
            <div id="state-preopen" class="room-state clearfix" ng-if="$GameApi.RoomState == $GameApi.Enums.State.PREOPEN">
                <div ng-if="$GameApi.MyPrevCards.length">
                    <div class="room-state-content box-content box-orange" translate>
                        views.room.alerts.prevSessionCards
                    </div>
                    <div class="room-state-list {{$GameApi.MyPrevCards.length > 5 ? '':'oneCol'}} clearfix">
                        <tombala-card card="c" section="presale" ng-repeat="c in $GameApi.MyPrevCards"></tombala-card>
                    </div>
                </div>

                <div class="room-state-list clearfix {{$GameApi.MyCards.length > 5 ? '':'oneCol'}} clearfix" ng-if="!$GameApi.MyPrevCards.length && $GameApi.MyCards.length">
                    <tombala-card card="$GameApi.newDeck[c.r.rate][c.i]" section="mine" ng-repeat="c in $GameApi.MyCards"></tombala-card>
                </div>
            </div>
            <div id="state-finished" class="room-state clearfix" ng-if="$GameApi.RoomState == $GameApi.Enums.State.FINISHED">
                <div class="room-state-list {{$GameApi.MyCards.length > 5 ? '':'oneCol'}} clearfix" ng-if="$GameApi.MyCards.length">
                    <tombala-card card="$GameApi.newDeck[c.r.rate][c.i]" section="mine" ng-repeat="c in $GameApi.MyCards"></tombala-card>
                </div>
            </div>

            <div ng-if="statData && !$GameApi.MyCards.length && !$GameApi.MyPrevCards.length || $GameApi.RoomState == $GameApi.Enums.State.FINISHED" class="clearfix">
                <div class="box-content box-dark">
                    <div class="pull-push clearfix">
                        <div class="col-p-12 col-tp-12">
                            <div class="stream-count" ng-if="$GameApi.RoomState != $GameApi.Enums.State.PLAYING && $GameApi.RoomState != $GameApi.Enums.State.FINISHED && $GameApi.cdList[$GameApi.cdList.active].remain >= 0">
                                <span ng-if="$GameApi.RoomState == $GameApi.Enums.State.OPEN" translate translate-values="{ number: $GameApi.cdList[$GameApi.cdList.active].remain }">
                                    views.room.alerts.nextSessionCountDown
                                </span>
                                <span ng-if="$GameApi.RoomState == $GameApi.Enums.State.PREOPEN" translate translate-values="{ number: $GameApi.cdList[$GameApi.cdList.active].remain }">
                                    views.room.alerts.buyNewCardCountDown
                                </span>
                            </div>
                        </div>
                        <div class="col-p-6 col-tp-6">
                            <span class="stats-img"><img ng-src="{{$Live.config.uiUrl}}/svg/session-cards.svg"/></span>
                            <span class="stats-content">
                                <span class="stats-title" translate>views.room.sessionNo</span>
                                <span class="stats-seans">{{$GameApi.RoomData.session || "---"}}</span>
                                <br />
                                <span class="stats-tv" ng-if="$GameApi.RoomData.stream.isLive">TV</span><br />
                                <span class="stats-eurosport stats-seans" ng-if="$GameApi.RoomData.stream.isLive">&nbsp;Eurosports HD</span>
                            </span>
                         </div>
                         <div class="col-p-6 col-tp-6">
                            <span class="stats-img"><img ng-src="{{$Live.config.uiUrl}}/svg/card-fee.svg"/></span>
                            <span class="stats-content">
                                <span class="stats-title" translate>views.room.cardPrice</span>
                                <span class="stats-card">
                                    <span ng-repeat="(rval,robj) in $GameApi.RoomData.rates">
                                        <span ng-if="$index!=0">/</span>
                                        {{ rval }}<sup>{{::$GameApi.CurrencySymbol}}</sup>
                                    </span>
                                </span>
                            </span>
                         </div>
                    </div>
                </div>
                <div class="box-content box-green">
                    <uib-accordion close-others="true">
                        <div uib-accordion-group class="panel-default" heading="{{ 'views.room.title.lastWinners' | translate }}"  ng-if="statData.lwc.length">
                            <div class="winner-container clearfix">
                                <tombala-card card-id="mwc.cardId" section="winners" ng-repeat="mwc in statData.lwc"></tombala-card>
                            </div>
                        </div>
                        <div uib-accordion-group class="panel-default" heading="{{ 'views.room.title.mostWinnerCards' | translate }}" ng-if="statData.mwc.length">
                            <div class="winner-container clearfix">
                                <tombala-card card-id="mwc.cardId" section="winners" ng-repeat="mwc in statData.mwc"></tombala-card>
                            </div>
                        </div>
                        <div uib-accordion-group class="panel-default" heading="{{ 'views.room.title.lastWinnerUsers' | translate }}">
                            <ol class="stats-list">
                                <li ng-repeat="lwu in statData.lwu">
                                    <span>{{lwu.user.name}}</span>
                                    <span>{{lwu.lastWon | number:2}}{{::$GameApi.CurrencySymbol}}</span>
                                </li>
                            </ol>
                        </div>
                        <div uib-accordion-group class="panel-default" heading="{{ 'views.room.title.mostWinnerNumbers' | translate }}">
                             <ol class="stats-number">
                                <li ng-repeat="dn in statData.wn">
                                    <div class="numbr" uib-tooltip="{{dn.win}} defa kazandırmış" tooltip-append-to-body="true"><span>{{dn.number}}</span></div>
                                </li>
                            </ol>
                        </div>
                    </uib-accordion>
                </div>
            </div>
            
    	</div>
    </div>

    <!-- Kart satın alma -->
    <div id="sale-cards" ng-show="showSales" ng-if="loadedSaleCards" class="is-mobile">
        <sale-cards></sale-cards>
    </div>

	<!-- Canlı Yayın & Çıkan Numaralar -->
	<div class="room-bottom" ng-class="{ 'room-hide' : showSales || betHistory || sessionHistory }">

		<div ng-if="$root.videoContainer" class="video-container is-mobile">
            <div class="video">
                <div class="stream">
                    <div class="vplayer" id="playerLyzboPENOxSY" ng-if="$GameApi.RoomData.stream.isLive"></div>
                    <div class="vplayer-auto" ng-if="!$GameApi.RoomData.stream.isLive">
                        <div class="number" ng-repeat="nmb in nlist | limitTo:1"><span>{{nmb.n}}</span></div>
                    </div>
                </div>

                <div class="cooldown-container {{ $GameApi.RoomData.stream.isLive ? 'is-live':'is-auto' }}" ng-if="$GameApi.RoomState != $GameApi.Enums.State.PLAYING && $GameApi.RoomState != $GameApi.Enums.State.FINISHED && $GameApi.cdList[$GameApi.cdList.active].remain > 0">
                    <span ng-if="$GameApi.RoomState == $GameApi.Enums.State.OPEN" translate translate-values="{ number: $GameApi.cdList[$GameApi.cdList.active].remain }">
                        views.room.alerts.nextSessionCountDown
                    </span>
                    <span ng-if="$GameApi.RoomState == $GameApi.Enums.State.PREOPEN" translate translate-values="{ number: $GameApi.cdList[$GameApi.cdList.active].remain }">
                        views.room.alerts.buyNewCardCountDown
                    </span>
                </div>
                <span class="stats-content">
                    <span class="stats-title" translate>views.room.sessionNo</span>
                    <span class="stats-seans">: {{$GameApi.RoomData.session || "---"}}</span>
                </span>
            </div>

            <live-chat></live-chat>

            <div class="vi-controls">
                <i class="player-icons {{$root.vPlayerMute?'mute':'vol'}}" ng-click="toggleVolume();$event.stopPropagation();"></i>
                <i class="player-icons {{vPlayerPause?'play':'pause'}}" ng-click="toggleStartStop();$event.stopPropagation();" ng-if="$GameApi.RoomData.stream.isLive"></i>
                <audio id="audioPlayer" controls class="audio-player"></audio>
            </div>
        </div>
		<div ng-if="$root.numberContainer && roomOnFocus && $GameApi.RoomState != $GameApi.Enums.State.OPEN" class="number-container is-mobile">
			<div class="number-list">
				<span class="animated" ng-repeat="n in numbers" ng-class="{'selected': $GameApi.Balls.indexOf(n) > -1, 'last': $GameApi.LastNumber == n, 'winner': $GameApi.WinnerNumbers.indexOf(n) > -1}">{{n}}</span>
			</div>
		</div>

		<div class="col-p-6 col-tp-6 video-preview" ng-click="toggleVideoContainer()" translate>
			views.room.alerts.liveStream
		</div>
        <div class="col-p-6 col-tp-6 new-card-sale" ng-if="$GameApi.RoomState == $GameApi.Enums.State.OPEN" ng-click="toggleSalesCards()" translate>
             views.room.action.buyNewCard
        </div>
		<div class="col-p-6 col-tp-6 result-numbers" ng-if="$GameApi.RoomState != $GameApi.Enums.State.OPEN">
			<span ng-click="toggleNumberContainer()" translate>views.lobby.seenNumbers</span>
		</div>
	</div>

    <bet-history ng-if="betHistory" ng-class="{ 'show-history' : betHistory }"></bet-history>

    <session-history ng-if="sessionHistory" ng-class="{ 'show-history' : sessionHistory }"></session-history>
</div>
