<div class="sale-cards-container is-mobile {{$GameApi.RoomData.CurrentRate.template}}">
    <div class="cards-close">
        <button type="button" class="button tertiary-action" ng-click="$parent.toggleSalesCards()">{{ 'button.close' | translate }} (00:{{$GameApi.cdList[$GameApi.cdList.active].remain}})</button>
    </div>

    <div class="col-p-12 col-tp-12">
        <div class="box-content box-blue">
            <!-- Purchase Random Card -->
            <div class="card-message">{{ 'views.room.extra.cardTypes' | translate }}:</div>
            <div class="card-select">
                <div ng-repeat="r in $GameApi.RoomData.rates"
                     ng-class="{'active':$GameApi.RoomData.CurrentRate.rate==r.rate}"
                     ng-click="$GameApi.RoomData.CurrentRate=r"
                     class="{{r.template}}">{{r.rate}}<sup>{{::$GameApi.CurrencySymbol}}</sup></div>
            </div>
        </div>
    </div>

     <div class="random-cards">
        <div class="card-message">{{ 'views.room.extra.buyRandom' | translate }}</div>
        <div class="card-select">
            <div ng-click="buyRandom(3)">3 <span>{{ 'views.room.extra.piece' | translate }}</span></div>
            <div ng-click="buyRandom(6)">6 <span>{{ 'views.room.extra.piece' | translate }}</span></div>
            <div ng-click="buyRandom(9)">9 <span>{{ 'views.room.extra.piece' | translate }}</span></div>
            <div ng-click="buyRandom(12)">12 <span>{{ 'views.room.extra.piece' | translate }}</span></div>
        </div>
    </div>

    <div class="cards-container scroll-bar" ng-init="appendCards()"></div>
</div>
