<div class="sale-cards-container {{$GameApi.RoomData.CurrentRate.template}}">
    <div class="cards-close">
        <button type="button" class="button tertiary-action" ng-click="$parent.toggleSalesCards();">{{ 'button.close' | translate }} (00:{{$GameApi.cdList[$GameApi.cdList.active].remain}})</button>
    </div>
    <div class="pull-push clearfix">
        <div class="col-tp-6 col-tl-6 col-d-6">
            <div class="box-content box-dark box-static">
                <!--
                <div class="card-select">
                    <div ng-repeat="r in $GameApi.RoomData.rates"
                           ng-class="{'active':$GameApi.RoomData.CurrentRate.rate==r.rate}"
                           ng-click="$GameApi.RoomData.CurrentRate=r"
                           class="{{r.template}}">{{r.rate}}<sup>{{::$GameApi.CurrencySymbol}}</sup></div>
                </div>-->
                <div class="card-message rate-header">{{ 'views.room.extra.cardTypes' | translate }}:</div>
                  <div class="chip-list">
                      <div class="chip" ng-repeat="r in $GameApi.RoomData.rates"
                         ng-class="{'active':$GameApi.RoomData.CurrentRate.rate==r.rate}"
                         ng-click="$GameApi.RoomData.CurrentRate=r"
                         class="{{r.template}}">
                            <span>{{r.rate}}</span>
                            <div class="front"></div>
                            <div class="front_b"></div>
                            <div class="back"></div>
                            <div class="back_b"></div>
                         </div>
                  </div>
            </div>
        </div>
        <div class="col-tp-6 col-tl-6 col-d-6">
            <div class="box-content box-dark box-static">
                <div class="card-message">{{ 'views.room.extra.buyRandom' | translate }}:</div>
                <div class="card-select">
                    <div ng-click="buyRandom(3)">3</div>
                    <div ng-click="buyRandom(6)">6</div>
                    <div ng-click="buyRandom(9)">9</div>
                    <div ng-click="buyRandom(12)">12</div>
                </div>
                <em>({{ 'views.room.extra.randomDescription' | translate }})</em>
            </div>
        </div>
    </div>

    

    <div class="cards-container" ng-init="appendCards()"></div>

</div>
