<em class="settings"></em>
<ul class="setting-list">
	<li><a href ng-click="$GameApi.help();" translate>views.header.help</a></li>
	<li><auto-buy class="lg-directive"></auto-buy></li>
	<li><auto-sort class="lg-directive"></auto-sort></li>
	<li ng-if="$GameApi.RoomData.settings.Options.ShowLogout"><a href ng-click="$Live.logout()" translate>views.header.logout</a></li>
</ul>