<div class="history-container" ng-init="loadSessionLogs();">
	<div class="history-filter clearfix">
		<div class="filter-node">
			<input type="text" placeholder="{{ 'views.lobby.sessionNo' | translate }}" ng-model="sessionLogFilter.sessionNo" ng-keypress="numberFilter($event)">
		</div>
		<div class="filter-node">
			<input type="text" class="form-control" uib-datepicker-popup="{{ sessionLogFilter.format }}" ng-model="sessionLogFilter.date" is-open="sessionLogFilter.popup.opened" datepicker-options="sessionLogFilter.dateOptions" ng-required="true" close-text="Close" show-button-bar="false" />
          <span class="date-btn">
            <a href="#" ng-click="sessionLogFilter.openDatepicker()"><i class="glyphicon glyphicon-calendar"></i></a>
          </span>
		</div>
		<div class="filter-node btn-node">
			<a href="#" ng-click="filterSessionLogs()" class="button tertiary-action">Filtrele</a>
		</div>
	</div>
	<button type="button" class="button tertiary-action close-btn" ng-click="changeSection('sessionHistory')" translate>button.close</button>
	<div class="history-section" ng-if="!sessionLogs.loading && sessionLogs.collection.length">
		<table class="one-whole" id="session-history">
			<thead>
				<tr class="title">
					<th width="100" translate>views.lobby.sessionNo</th>
					<th width="100" translate>views.modal.profile.broadcast</th>
					<th>
						<span translate>views.modal.profile.winCards</span>
						<div class="reward-type-wrapper clearfix">
							<span class="reward-type">
								<i class="reward-icon line1"></i>
								1. Çinko
							</span>
							<span class="reward-type">
								<i class="reward-icon line2"></i>
								2. Çinko
							</span>
							<span class="reward-type">
								<i class="reward-icon line3"></i>
								Tombala
							</span>
							<span class="reward-type">
								<i class="reward-icon line4"></i>
								Tulum
							</span>
						</div>
					</th>
					<th width="180" translate>views.modal.profile.date</th>
					<th width="100"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat-start="log in sessionLogs.collection" ng-init="loadSessionDetail(log)">
					<td>{{ log.id }}</td>
					<td>{{ ::broadcastFilter(log.bc) }}</td>
					<td><div class="winner-cards clearfix" ng-bind-html="loadWinnerCards(log)"></div></td>
					<td>{{ log.open_time | date:'dd.MM.yyyy HH:mm' }}</td>
					<td><button type="button" class="btn" ng-click="$root.expandedLog=($root.expandedLog!=log.id?log.id:0)" ng-show="log.data.type != 'jackpot'" translate>views.modal.profile.detail</button></td>
				</tr>
				<tr ng-repeat-end ng-if="$root.expandedLog == log.id" class="expanded">
					<td style="width:50%" colspan="5" ng-init="showSession(log);">
						<div class="session-detail clearfix">
							<div class="col-d-6">
								<div class="session-info pull-push clearfix">
									<div class="col-d-6">
										<h4 translate>views.modal.profile.sessionInfo</h4>
										<div class="float-left">
											<div>
												<strong>{{ 'views.lobby.sessionNo' | translate }} :</strong> {{ log.id }}
											</div>
											<div>
												<strong>{{ 'views.lobby.sessionStart' | translate }} :</strong> {{ log.start_time | date:'dd.MM.yyyy HH:mm' }}
											</div>
											<div>
												<strong>{{ 'views.lobby.sessionEnd' | translate }} :</strong> {{ log.end_time | date:'dd.MM.yyyy HH:mm' }}
											</div>
										</div>
									</div>
									<div class="col-d-6">
										<div ng-if="sessionDetailCard[log.data.s][log.data.c]" class="card-details">
											<div ng-repeat="card in sessionDetailCard[log.data.s][log.data.c]">
												<h4 translate>views.modal.profile.cardInfo</h4>
												<div>
													<strong>{{ 'views.modal.profile.cardNo' | translate }} :</strong> : {{log.data.c}}
												</div>
												<div>
													<strong>{{ 'views.modal.profile.cardPrice' | translate }} :</strong> : {{card.rate}}
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="earning-details clearfix">
									<div ng-if="sessionLogs.winners[log.id]" class="winner-details">
										<h4 translate>views.modal.profile.winCards</h4>
										<div ng-repeat="winners in sessionLogs.winners[log.id].rewards track by $index">
											<div class="clearfix">
												<div ng-switch="$index" class="winner-index">
													<div ng-switch-when="0" translate>views.room.prizes.first</div>
													<div ng-switch-when="1" translate>views.room.prizes.second</div>
													<div ng-switch-when="2" translate>views.room.prizes.third</div>
													<div ng-switch-when="3" translate>views.room.prizes.all</div>
												</div>
												<div class="winner-card-list">
													<tombala-card card-id="cardNumber" section="mine" history="true" slider-data="sessionLogs.winners[log.id].ballSliderList" ng-repeat="cardNumber in winners"></tombala-card>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-d-6">
								<div id="session-id-{{ log.id }}" class="replay-session-history"></div>
								<div class="winner-details">

									<rzslider class="ball-slider" rz-slider-model="sessionLogs.winners[log.id].sliderOptions.value" rz-slider-options="sessionLogs.winners[log.id].sliderOptions.options"></rzslider>
									
									<h4 translate>views.modal.profile.winNumbers</h4>
									<span ng-repeat="nobj in ::log.numbers" ng-if="$index < sessionLogs.winners[log.id].sliderOptions.value" class="number">{{ nobj.number }}</span>

								</div>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<uib-pagination total-items="sessionLogs.pager.totalCount" items-per-page="sessionLogs.pager.size" max-size="10" ng-model="sessionLogs.pager.page" ng-change="loadSessionLogs()"></uib-pagination>
	</div>

	<div class="empty-log" ng-if="!sessionLogs.collection.length" translate>views.warnings.noRecord</div>

	<div class="history-loader" ng-if="sessionLogs.loading">
	
	</div>
</div>
