<div class="modal-body">
    <h1 class="winners-title" translate translate-values="{ reward: ( $GameApi.getRewardName('line'+(winIdx+1)) | translate) }">views.modal.winner.reward</h1>
    <h3 class="winners-title" ng-if="isWon() && !tossUpData.active" translate translate-values="{ reward: $GameApi.MyWinsTotal[winIdx], currency: $GameApi.CurrencySymbol }">views.modal.winner.earnedReward</h3>
	<h3 class="winners-title" ng-if="tossUpData.active">
    <span ng-if="tossUpData.ok" translate translate-values="{ reward: 2 * tossUpData.prize, currency: $GameApi.CurrencySymbol }">views.modal.winner.tossupReward</span>
    <span ng-if="!tossUpData.ok" translate translate-values="{ reward: 1 * tossUpData.prize, currency: $GameApi.CurrencySymbol }">views.modal.winner.tossupReward</span>
    <span ng-if="tossUpData.ok" translate>views.modal.winner.won</span>
    <span ng-if="!tossUpData.ok" translate>views.modal.winner.lost</span>
    </h3>
    <div class="winners-slider">
        <ks-swiper-container slides-per-view="1" slides-per-column="1" space-between="0" loop="false" autoplay="3000"
             initial-slide="1" show-nav-buttons="false" pagination-is-active="true" direction="horizontal">
            <ks-swiper-slide ng-repeat="c in winners">
                <tombala-card card-id="c.i" section="mine"></tombala-card>
            </ks-swiper-slide>
        </ks-swiper-container>
    </div>

    <div class="winners-notification">
        <div class="box-content box-orange" ng-if="!!($root.$GameApi.RoomData.settings.Options.SelectionRequired) && !tossUpData.active && !isWonAll()">
            <div class="winner-notif select-alert">
                <ul>
                    <li ng-repeat="c in winners">
                        <span ng-if="!c.s.won" class="animated flash infinite" translate translate-values="{ cardNumber: c.i }">views.modal.winner.selectNumberForReward</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="box-content box-orange">
            <div class="winner-notif">
                <ul>
                    <li ng-repeat="c in winners">
                        <span translate translate-values="{ cardNumber: c.i, reward: ( getRewardNames(c) | translate ) }">
                            views.modal.winner.rewardInfo
                        </span>
                        <span ng-if="c.s.won" translate translate-values="{ reward: c.s.won, currency: $GameApi.CurrencySymbol }">views.modal.winner.wonInfo</span>
                    </li>
                    <li ng-if="tossUpData && tossUpData.active">
                        <span ng-if="tossUpData.ok" translate translate-values="{ reward: tossUpData.prize, currency: $GameApi.CurrencySymbol }">views.modal.winner.tossupWonInfo</span>
                        <span ng-if="!tossUpData.ok" translate>views.modal.winner.tossupLostInfo</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="wallet">{{ 'views.modal.winner.yourBalance' | translate }}: <strong>{{stateData.wallet.credit}}<sup>{{::$GameApi.CurrencySymbol}}</sup></strong></div>
    <div class="top">
        <div class="coin-container">
            <div class="coin {{coinAni}}">
                <div class="front"></div>
                <div class="back"></div>
                <div class="side">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="left" ng-if="!tossUpData.active">
            <h2 translate>views.modal.winner.tossupTitle</h2>
            <p ng-if="!isWon()" translate>views.modal.winner.playTossup</p>
            <p ng-if="isWon()" translate translate-values="{ reward: $GameApi.MyWinsTotal[winIdx]*2, currency: $GameApi.CurrencySymbol }">views.modal.winner.tossupOffer</p>
        </div>
        <div class="center" ng-if="tossUpData.active">
            <h2 ng-if="tossUpData.ok" translate translate-values="{ reward: tossUpData.prize * 2, currency: $GameApi.CurrencySymbol }">
                views.modal.winner.playTossupWon
            </h2>
            <h2 ng-if="!tossUpData.ok" translate>
                views.modal.winner.playTossupLost
            </h2>
        </div>
        <div class="actions" ng-if="!tossUpData.active">
            <button class="btn btn-primary" type="button" ng-click="tossUp(1)" translate>views.modal.winner.tails</button>
            <button class="btn btn-primary" type="button" ng-click="tossUp(0)" translate>views.modal.winner.heads</button>
            <button class="btn btn-warning" type="button">?</button>
        </div>
    </div>
</div>
