<div class="winners is-mobile">
    <div class="winner-cards">
        <div ng-repeat="win in $GameApi.Wins"
			class="wins" 
			ng-class="['line-'+($index+1), !$root.activeWinnerIndex['line'+($index+1)] ? 'ng-hide':'']">
            <div class="winner-head"><span translate>{{ $root.$GameApi.getRewardName('line'+($index+1)) }}</span> {{ 'views.room.prizes.winners' | translate }}</div>
            <tombala-card card-id="w.id" section="winners" ng-repeat="w in win"></tombala-card>
        </div>
    </div>
</div>
