<div class="winners">
    <div class="winner-cards">
        <div ng-repeat="win in $GameApi.Wins" class="wins" ng-class="['line-'+($index+1), !$root.activeWinnerIndex['line'+($index+1)] ? 'ng-hide':'']">
            <div class="winner-head"><span translate>{{ $root.$GameApi.getRewardName('line'+($index+1)) }}</span> {{ 'views.room.prizes.winners' | translate }}</div>
            <div ng-repeat="w in win" class="card-item">
                <tombala-card card-id="w.id" section="winners"></tombala-card>
            </div>
        </div>
    </div>
</div>
