<div class="wallet icon-coins"><strong>{{stateData.wallet.credit}}<sup>{{::$GameApi.CurrencySymbol}}</sup></strong></div>
<div class="modal-body">
    <h3 class="winners-title" translate translate-values="{ reward: ($GameApi.getRewardName('line'+(winIdx+1)) | translate) }">views.modal.winner.reward</h3>
	<h4 class="winners-title" ng-if="isWon() && !tossUpData.active" translate translate-values="{ reward: $GameApi.MyWinsTotal[winIdx], currency: $GameApi.CurrencySymbol }">views.modal.winner.earnedReward</h4>
	<h4 class="winners-title" ng-if="tossUpData.active">
    <span ng-if="tossUpData.ok" translate translate-values="{ reward: 2 * tossUpData.prize, currency: $GameApi.CurrencySymbol }">views.modal.winner.tossupReward</span>
    <span ng-if="!tossUpData.ok" translate translate-values="{ reward: 1 * tossUpData.prize, currency: $GameApi.CurrencySymbol }">views.modal.winner.tossupReward</span>
    <span ng-if="tossUpData.ok" translate>views.modal.winner.won</span>
    <span ng-if="!tossUpData.ok" translate>views.modal.winner.lost</span></h4>

    <div class="winners-slider">
        <ks-swiper-container slides-per-view="1" slides-per-column="1" space-between="0" loop="false" autoplay="3000"
                             initial-slide="1" show-nav-buttons="false" pagination-is-active="true" direction="horizontal">
            <ks-swiper-slide ng-repeat="c in winners">
                <tombala-card card-id="c.i" section="mine"></tombala-card>

                <div class="winners-notification">
                    <div class="box-content box-orange">
                        <div class="winner-notif">
                            <ul>
                                <li>
                                    <span translate translate-values="{ cardNumber: c.i, reward: ( getRewardNames(c) | translate ) }">
                            views.modal.winner.rewardInfo
                        </span>
                                    <span ng-if="!!($GameApi.RoomData.settings.Options.SelectionRequired) && !tossUpData.active && !c.s.won" class="animated flash infinite" translate translate-values="{ cardNumber: c.i }">views.modal.winner.selectNumberForReward</span>
                                    <span ng-if="c.s.won"> translate translate-values="{ reward: c.s.won, currency: $GameApi.CurrencySymbol }">views.modal.winner.wonInfo</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </ks-swiper-slide>
        </ks-swiper-container>
    </div>

    <!--
    <span ng-if="tossUpData && tossUpData.active">
        <span ng-if="tossUpData.prize>0">Yazı-Tura oyunundan {{tossUpData.prize}}<sup>{{::$GameApi.CurrencySymbol}}</sup> kazandınız.</span>
        <span ng-if="!tossUpData.prize">Üzgünüz, Yazı-Tura oyunuyla kazandığınız ikramiyi kaybettiniz..</span>
    </span>
    -->
</div>
<div class="modal-footer">
    <div class="top">
        <div class="coin-container">
            <div class="coin {{coinAni}}">
                <div class="front"></div>
                <div class="back"></div>
                <div class="side">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="left" ng-if="!tossUpData.active">
            <h5 translate>views.modal.winner.tossupTitle</h5>
            <p ng-if="!isWon()" translate>views.modal.winner.playTossup</p>
            <p ng-if="isWon()" translate translate-values="{ reward: $GameApi.MyWinsTotal[winIdx]*2, currency: $GameApi.CurrencySymbol }">views.modal.winner.tossupOffer</p>
        </div>
        <div class="center" ng-if="tossUpData.active">
            <h5 ng-if="tossUpData.ok" translate translate-values="{ reward: tossUpData.prize * 2, currency: $GameApi.CurrencySymbol }">
                views.modal.winner.playTossupWon
            </h5>
            <h5 ng-if="!tossUpData.ok" translate>
                views.modal.winner.playTossupLost
            </h5>
        </div>
        <div class="actions" ng-if="!tossUpData.active">
            <button class="btn btn-primary" type="button" ng-click="tossUp(1)" translate>views.modal.winner.tails</button>
            <button class="btn btn-primary" type="button" ng-click="tossUp(0)" translate>views.modal.winner.heads</button>
        </div>
    </div>
</div>
