
//
// TOOLTIP
$zindex-tooltip:           1070 !default;
//** Tooltip max width
$tooltip-max-width:           200px !default;
//** Tooltip text color
$tooltip-color:               #fff !default;
//** Tooltip background color
$tooltip-bg:                  #000 !default;
$tooltip-opacity:             .9 !default;

//** Tooltip arrow width
$tooltip-arrow-width:         5px !default;
//** Tooltip arrow color
$tooltip-arrow-color:         $tooltip-bg !default;



//
// PANEL
$panel-body-padding:          15px !default;
$panel-heading-padding:       5px 15px !default;
$panel-border-radius:         $base-border-radius !default;

//** Border color for elements within panels
$panel-inner-border:          #3C7324 !default;

$panel-default-text:          $color-dark-gray !default;
$panel-default-border:        #ddd !default;
$panel-default-heading-bg:    #f5f5f5 !default;