/**
 * Responsive Media Query
 */
$screen-phone:               	310px !default;  // Mobil
$screen-phone-max:           	640px !default;  // Mobil Max

$screen-tablet-portrait:     	641px !default;  // Tablet Portrait
$screen-tablet-portrait-max: 	980px !default; // Tablet Portrait Max

$screen-tablet-landscape:	 	981px !default;  // Tablet Landscape
$screen-tablet-max: 		 	1024px !default;  // Tablet Max

$screen-desktop:             	1025px !default; // Desktop


/**
 * Grid gutter and columns
 */

$base-gutter        : 20px;
$base-double-gutter : 2*$base-gutter;
$base-grid-columns: 12 !default;
$base-float-widths: true !default;

$base-responsive : true !default;

/**
 * Number to Name Conversions
 */

$numbers: 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 !default;

$ordinals: whole half third quarter fifth sixth seventh eighth ninth tenth eleventh twelfth !default;
$ordinals-name: one two three four five six seven eight nine ten eleven twelve thirteen fourteen fifteen sixteen seventeen eighteen !default;
$ordinals-plural: whole half thirds quarters fifths sixths sevenths eighths ninths tenths elevenths twelfths !default;
