/** -------------------------------------------
    Content
    ------------------------------------------- **/

.#{$cssversion} {
    .page-wrapper {
        display  : inline-block;
        position : relative;
        padding  : 30px 20px;
        width    : 100%;
    	z-index: 10;
        border-radius: 10px;
        min-height: 700px;
        float: left;
        @include retina-image('bg');
        background-size: cover;
        &.is-mobile{
            top: 52px;
        }
        &.login-wrap {
            padding     : $base-gutter;
            font-size   : 12px;
            font-weight : 300;
            text-align  : center;
            min-height: auto;
        }

        .login-contact{
            margin: 15px 0;
        }

        @include mobile() {
            padding : $base-gutter;
            height  : calc(100% - 62px);
			background-position: -15px 0;
            background: none;
        }

        @include tablet-portrait() {
            padding : $base-gutter;
            height  : calc(100% - 62px);
            background: none;
			background-position: -15px 0;
        }
    }

    .login-wrap-mobile{
        .is-checkbox{
            width: 50%;
        }
        h4{
            font-weight: 600;
        }
        .button-login{
            width: 100%;
        }
    }

    .video-container {
        display    : inline-block;
        position   : relative;
        width      : 100%;
        margin-top : 10px;
    }

    .number-container {
        display    : inline-block;
        position   : relative;
        width      : 100%;
        margin-top : 10px;
    }
}
