/** -------------------------------------------
    Generic Styles
    ------------------------------------------- **/
/**
 * More proper width calculation and better grid,
 * all elements' box-sizing set to border-box
 */

html {
    box-sizing: border-box;
    height: 100%;
    //font-family: sans-serif; /* 1 */ it will set via Melange settings
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

html, body {
    margin         : 0;
    padding        : 0;
    border         : 0;
    vertical-align : baseline;
    width: 100%;
    height: 100%;
    @include mobile(){
        width: 100%; 
        height: 100%; 
        -webkit-overflow-scrolling: touch; 
        overflow-y: auto;
    }
    @include tablet-portrait(){ 
        width: 100%; 
        height: 100%; 
        -webkit-overflow-scrolling: touch; 
        overflow-y: auto;
    }
    @include tablet-landscape(){ 
        width: 100%; 
        height: 100%; 
        -webkit-overflow-scrolling: touch; 
        overflow-y: auto;
    }
}

body{
    @include mobile(){
        @include retina-image('bg');
        background-size: cover;
    }
    @include tablet-portrait(){
        @include retina-image('bg');
        background-size: cover;
    }
}

* {
    &,
    &:after,
    &:before {
        box-sizing: inherit;
    }
}

*:fullscreen, *:-webkit-full-screen, *:-moz-full-screen {
    html,body{
        background-color: #000;
    }
}

/**
 * Main Section
 */

.container{
    min-height: 100%;
}
section.#{$cssversion} {
    position: relative;
    display: block;
    width: 1170px;
    margin: 20px auto 20px auto;
    padding: 0;
    font: #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $color-text;

    @include tablet-landscape() {
        width: 970px;
    }
    @include tablet-portrait(){
        width: 100%;
        margin: 0;
    }
    @include mobile(){
        width: 100%;
        margin: 0;
    } 


    /**
     * Overwrite normalize.css's box-sizing definitions
     */
    hr,
    input[type="search"] {
        box-sizing: inherit;
    }

    /**
     * Remove top margin and padding from certain elements
     * generally we never use top margin anyway
     */

    h1, h2, h3, h4, h5, h6,
    p,
    ul, ol, li,
    table {
        margin-top: 0;
        padding: 0;
    }


    /**
     * And good-ol friend clearfix
     * For a meaningful name our clearfix class named as group
     */
    .group {
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }
}

.lg-directive{
    display: block;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

