/** -------------------------------------------
    Positions
    ------------------------------------------- **/

.#{$cssversion} {
    /**
     * Aligns
     * start and end values for text-aligns are direction safe.
     * no need to additional definition for rtl/ltr differences.
     */

    .align-center {
        // will align to left in ltr
        // will align to right in rtl
        text-align : center;
    }

    .align-left {
        text-align : left;
    }

    .align-right {
        text-align : right;
    }

    /**
     * Float
     * start and end values for text-aligns are direction safe.
     * no need to additional definition for rtl/ltr differences.
     */

    .float {
        &-left {
            float : left;
        }

        &-right {
            float : right;
        }

        &-none {
            float : none;
        }
    }
}