/** -------------------------------------------
    Header
    ------------------------------------------- **/

.#{$cssversion} {
    .header-mobile {
        position      : relative;
        float         : left;
        width         : 100%;
        margin-bottom : $base-gutter;

        .logo-wrapper {
            background-color : $color-primary;
            box-shadow       : 0 0 0 $color-primary, 0 3px 0 0 #222b2a, 0 8px 4px rgba(34, 43, 42, 0.5);
            border-radius    : 10px;
        }
        .user-container {
            top              : 13px;
            padding          : 10px $base-gutter 5px $base-double-gutter;
            background-color : $color-usercontent;
            color            : $color-white;
            border-radius    : 0 10px 0 0;

            > div {
                float        : left;
                margin-right : $base-double-gutter;
                font-weight  : 600;
                line-height  : 30px;

                &.name {
                    font-size : 14px;
                }
                &.wallet {
                    font-size : 17px;

                    sup {
                        font-size : 70% !important;
                        color     : $color-tertiary;
                    }
                }
                &:last-child { margin-right : 0; }
            }
            &:before {
                content      : '';
                position     : absolute;
                top          : 0;
                left         : 0;
                border-style : solid;
                border-width : 47px 0 0 6px;
                border-color : transparent transparent transparent #1f2423;
            }
            &:after {
                content      : '';
                position     : absolute;
                top          : 5px;
                right        : -24px;
                width        : 0;
                height       : 0;
                border-style : solid;
                border-width : 42px 0 0 25px;
                border-color : transparent transparent transparent $color-usercontent;
            }
        }
        .user-menu {
            position : absolute;
            right    : 0;
            bottom   : 10px;

            > a {
                display : inline-block;

                &.back-to-lobby {
                    float        : left;
                    color        : $color-white;
                    line-height  : 25px;
                    margin-right : 10px;

                    &:hover {
                        color : $color-tertiary;
                    }
                }
                &.account {
                    background : url(../../svg/account.svg) no-repeat top center;
                    width      : 32px;
                    height     : 22px;
                }
                &.logout {
                    background : url(../../svg/power.svg) no-repeat top center;
                    width      : 32px;
                    height     : 22px;
                }
            }
        }
    }
}